openapi: 3.2.0
info:
  title: Epa Lookups API
  x-apisguru-categories:
  - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_632233890594299904_DgRDU6dx_400x400.png
  x-refined-note:
  - x-origin differs across the merged source definitions and was not carried
  - x-serviceName differs across the merged source definitions and was not carried
  x-providerName: epa.gov
  version: '1.0'
  description: 'Operations tagged Lookups across 3 of this provider''s published API definitions: echo-case-openapi.json, echo-cwa-openapi.json, echo-effluent-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://echodata.epa.gov/echo
tags:
- name: Lookups
paths:
  /rest_lookups.icis_law_sections:
    get:
      description: Returns the ICIS Law Section Descriptions.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      - $ref: '#/components/parameters/q.statute_code'
      - $ref: '#/components/parameters/q.status_flag'
      - $ref: '#/components/parameters/q.search_term'
      - $ref: '#/components/parameters/q.search_code'
      - $ref: '#/components/parameters/q.sort_order'
      responses:
        '200':
          description: Returns an array of icis_inspection_types codes and their description. If search term or search code is  not provided, all values are returned.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlk51_Results'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlk51_Results'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO ICIS Law Sections Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Returns the ICIS Law Section Descriptions.
      parameters:
      - $ref: '#/components/parameters/f.callback'
      - $ref: '#/components/parameters/f.statute_code'
      - $ref: '#/components/parameters/f.status_flag'
      - $ref: '#/components/parameters/f.search_term'
      - $ref: '#/components/parameters/f.search_code'
      - $ref: '#/components/parameters/f.sort_order'
      responses:
        '200':
          description: Returns an array of icis_inspection_types codes and their description. If search term or search code is  not provided, all values are returned.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlk51_Results'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlk51_Results'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO ICIS Law Sections Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
  /rest_lookups.bp_tribes:
    get:
      description: Returns the EPA Standard Indian Tribes and Native Alaskan Villages tribal_id and tribe_name.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      - $ref: '#/components/parameters/q.search_term'
      - $ref: '#/components/parameters/q.search_code'
      responses:
        '200':
          description: Returns an array of tribes containing the search term. If search term not provided, returns all values.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup20'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup20'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO BP Tribes Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Returns the EPA Standard Indian Tribes and Native Alaskan Villages tribal_id and tribe_name.
      parameters:
      - $ref: '#/components/parameters/f.callback'
      - $ref: '#/components/parameters/f.search_term'
      - $ref: '#/components/parameters/f.search_code'
      responses:
        '200':
          description: Returns an array of tribes containing the search term. If search term not provided, returns all values.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup20'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup20'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO BP Tribes Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
  /rest_lookups.cwa_parameters:
    get:
      description: Look up Clean Water Act parameter codes and descriptions in the Integrated Compliance Information System - National Pollutant Discharge Elimination System (ICIS-NPDES) by code or term.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      - $ref: '#/components/parameters/q.search_term'
      - $ref: '#/components/parameters/q.search_code'
      responses:
        '200':
          description: 'Returns an array of parameter codes and descriptions that contain the search_term or search_code entered. If search term or search code not provided, returns all values. ValueCode is the 5-digit parameter code.

            ValueDescription is the parameter description.'
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup23'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup23'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO CWA Parameter Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Look up Clean Water Act parameter codes and descriptions in the Integrated Compliance Information System - National Pollutant Discharge Elimination System (ICIS-NPDES) by code or term.
      parameters:
      - $ref: '#/components/parameters/f.callback'
      - $ref: '#/components/parameters/f.search_term'
      - $ref: '#/components/parameters/f.search_code'
      responses:
        '200':
          description: 'Returns an array of parameter codes and descriptions that contain the search_term or search_code entered. If search term or search code not provided, returns all values. ValueCode is the 5-digit parameter code.

            ValueDescription is the parameter description.'
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup23'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup23'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO CWA Parameter Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
  /rest_lookups.cwa_pollutants:
    get:
      description: Look up Clean Water Act pollutants by name
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      - $ref: '#/components/parameters/q.search_term'
      - $ref: '#/components/parameters/q.search_code'
      responses:
        '200':
          description: Returns an array of water polluntants containing search term or search code. If search term or search code not provided, returns all values.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup24'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup24'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO CWA Pollutants Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Look up Clean Water Act pollutants by name
      parameters:
      - $ref: '#/components/parameters/f.callback'
      - $ref: '#/components/parameters/f.search_term'
      - $ref: '#/components/parameters/f.search_code'
      responses:
        '200':
          description: Returns an array of water polluntants containing search term or search code. If search term or search code not provided, returns all values.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup24'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup24'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO CWA Pollutants Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
  /rest_lookups.federal_agencies:
    get:
      description: Look up Federal Agency Code
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      - $ref: '#/components/parameters/q.search_term'
      - $ref: '#/components/parameters/q.search_code'
      responses:
        '200':
          description: Returns an array of federal agency codes and their descriptions.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup54'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup54'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO Federal Agency Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Look up Federal Agency Code
      parameters:
      - $ref: '#/components/parameters/f.callback'
      - $ref: '#/components/parameters/f.search_term'
      - $ref: '#/components/parameters/f.search_code'
      responses:
        '200':
          description: Returns an array of federal agency codes and their descriptions.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup54'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup54'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO Federal Agency Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
  /rest_lookups.icis_inspection_types:
    get:
      description: Returns the ICIS NPDES Compliance Monitoring Type Code and Description.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      - $ref: '#/components/parameters/q.search_term'
      - $ref: '#/components/parameters/q.search_code'
      responses:
        '200':
          description: Returns an array of icis_inspection_types codes and their description. If search term or search code is  not provided, all values are returned.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup58'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup58'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO ICIS NPDES Inspection Types Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Returns the ICIS NPDES Compliance Monitoring Type Code and Description.
      parameters:
      - $ref: '#/components/parameters/f.callback'
      - $ref: '#/components/parameters/f.search_term'
      - $ref: '#/components/parameters/f.search_code'
      responses:
        '200':
          description: Returns an array of icis_inspection_types codes and their description. If search term or search code is  not provided, all values are returned.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup58'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup58'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO ICIS NPDES Inspection Types Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
  /rest_lookups.naics_codes:
    get:
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      - $ref: '#/components/parameters/q.search_term'
      - $ref: '#/components/parameters/q.search_code'
      responses:
        '200':
          description: Returns an array of NAICS codes and descriptions based on search term or search code. If search term or search code not provided, returns all values.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup61'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup61'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO NAICS Codes Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      parameters:
      - $ref: '#/components/parameters/f.callback'
      - $ref: '#/components/parameters/f.search_term'
      - $ref: '#/components/parameters/f.search_code'
      responses:
        '200':
          description: Returns an array of NAICS codes and descriptions based on search term or search code. If search term or search code not provided, returns all values.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup61'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup61'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO NAICS Codes Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
  /rest_lookups.npdes_parameters:
    get:
      description: ICIS Limit Parameter Code and Name lookup based on the supply of a partial parameter name. (NPDES = National Pollutant Discharge Elimination System)
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      - $ref: '#/components/parameters/q.search_term'
      responses:
        '200':
          description: Returns an array of NPDES Parameter Codes and their description that meet the search term. If the search term is not provided, returns all values.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup65'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup65'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO NPDES Parameters Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: ICIS Limit Parameter Code and Name lookup based on the supply of a partial parameter name. (NPDES = National Pollutant Discharge Elimination System)
      parameters:
      - $ref: '#/components/parameters/f.callback'
      - $ref: '#/components/parameters/f.search_term'
      responses:
        '200':
          description: Returns an array of NPDES Parameter Codes and their description that meet the search term. If the search term is not provided, returns all values.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup65'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup65'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO NPDES Parameters Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
  /rest_lookups.wbd_code_lu:
    get:
      description: USGS Watershed Boundary Dataset (WBD) Name lookup based on a supplied WBD Code and Watershed Level
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      - $ref: '#/components/parameters/q.wbd_code'
      - $ref: '#/components/parameters/q.wbd_level'
      responses:
        '200':
          description: Returns an array of WBD names and codes based on the WBD code and WBD level provided. If WBD Code not provided, returns all values. ValueCode is the WBD Code containing the number of digits provided in the WBD level.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup75'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup75'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO WBD Code Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: USGS Watershed Boundary Dataset (WBD) Name lookup based on a supplied WBD Code and Watershed Level
      parameters:
      - $ref: '#/components/parameters/f.callback'
      - $ref: '#/components/parameters/f.wbd_code'
      - $ref: '#/components/parameters/f.wbd_level'
      responses:
        '200':
          description: Returns an array of WBD names and codes based on the WBD code and WBD level provided. If WBD Code not provided, returns all values. ValueCode is the WBD Code containing the number of digits provided in the WBD level.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup75'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup75'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO WBD Code Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
  /rest_lookups.wbd_name_lu:
    get:
      description: USGS Watershed Boundary Dataset (WBD) Code lookup based on a supplied WBD Name and Watershed Level
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      - $ref: '#/components/parameters/q.wbd_name'
      - $ref: '#/components/parameters/q.wbd_level'
      responses:
        '200':
          description: Returns an array of WBD names and codes based on the WBD name and WBD level provided. ValueCode is the WBD Code containing the number of digits provided in the WBD level.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup77'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup77'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO WBD Name Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: USGS Watershed Boundary Dataset (WBD) Code lookup based on a supplied WBD Name and Watershed Level
      parameters:
      - $ref: '#/components/parameters/f.callback'
      - $ref: '#/components/parameters/f.wbd_name'
      - $ref: '#/components/parameters/f.wbd_level'
      responses:
        '200':
          description: Returns an array of WBD names and codes based on the WBD name and WBD level provided. ValueCode is the WBD Code containing the number of digits provided in the WBD level.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup77'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/rlup77'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: ECHO WBD Name Lookup Service
      tags:
      - Lookups
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
components:
  parameters:
    f.status_flag:
      in: formData
      name: status_flag
      required: false
      type: string
    f.statute_code:
      in: formData
      name: statute_code
      required: false
      type: string
    q.statute_code:
      in: query
      name: statute_code
      required: false
      schema:
        type: string
    f.sort_order:
      in: formData
      name: sort_order
      required: false
      type: number
    q.status_flag:
      in: query
      name: status_flag
      required: false
      schema:
        type: string
    q.callback:
      description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
      in: query
      name: callback
      required: false
      schema:
        type: string
    q.sort_order:
      in: query
      name: sort_order
      required: false
      schema:
        type: number
    f.search_code:
      description: Enter a partial or complete code value.
      in: formData
      name: search_code
      required: false
      type: string
    f.callback:
      description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
      in: formData
      name: callback
      required: false
      type: string
    q.search_term:
      description: Enter a partial or complete search phrase or word.
      in: query
      name: search_term
      required: false
      schema:
        type: string
    f.search_term:
      description: Enter a partial or complete search phrase or word.
      in: formData
      name: search_term
      required: false
      type: string
    q.search_code:
      description: Enter a partial or complete code value.
      in: query
      name: search_code
      required: false
      schema:
        type: string
    q.wbd_level:
      description: The number of digits of the watershed code [Hydrologic Unit Code (HUC)] returned in the ValueCode. Must be an even number between 4 and 12.
      in: query
      name: wbd_level
      required: false
      schema:
        type: string
    f.wbd_level:
      description: The number of digits of the watershed code [Hydrologic Unit Code (HUC)] returned in the ValueCode. Must be an even number between 4 and 12.
      in: formData
      name: wbd_level
      required: false
      type: string
    q.wbd_code:
      description: Two-digit watershed code [Hydrologic Unit Code (HUC)].
      in: query
      name: wbd_code
      required: false
      schema:
        type: string
    f.wbd_code:
      description: Two-digit watershed code [Hydrologic Unit Code (HUC)].
      in: formData
      name: wbd_code
      required: false
      type: string
    f.wbd_name:
      description: Watershed Name Filter.
      in: formData
      name: wbd_name
      required: true
      type: string
    q.wbd_name:
      description: Watershed Name Filter.
      in: query
      name: wbd_name
      required: true
      schema:
        type: string
    f.output:
      description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
      enum:
      - JSONP
      - JSON
      - XML
      in: formData
      name: output
      required: false
      type: string
    q.output:
      description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
      in: query
      name: output
      required: false
      schema:
        type: string
        enum:
        - JSONP
        - JSON
        - XML
  schemas:
    rlk00_LuValues:
      description: Lookup Values
      properties:
        ValueCode:
          example: '77034'
          title: Value Code
          type: string
        ValueDescription:
          example: 1-Butanol
          title: Value Description
          type: string
      required:
      - ValueCode
      - ValueDescription
      type: object
      xml:
        name: LuValue
    rlk51_Results:
      description: Results Object
      properties:
        LuValues:
          items:
            $ref: '#/components/schemas/rlk00_LuValues'
          type: array
          xml:
            name: LuValues
            wrapped: true
          example:
          - string
        Message:
          description: Field to record messages (typically performance-related) about packet processing
          example: Success
          title: Message
          type: string
      required:
      - Message
      type: object
    rlup59:
      description: Results Object
      properties:
        LuValues:
          items:
            $ref: '#/components/schemas/rlup01'
          type: array
          xml:
            name: LuValues
            wrapped: true
          example:
          - string
        Message:
          description: Field to record messages (typically performance-related) about packet processing
          example: Success
          title: Message
          type: string
      required:
      - Message
      type: object
    rlup75:
      description: Results Object
      properties:
        LuValues:
          items:
            $ref: '#/components/schemas/rlup01'
          type: array
          xml:
            name: LuValues
            wrapped: true
          example:
          - string
        Message:
          description: Field to record messages (typically performance-related) about packet processing
          example: Success
          title: Message
          type: string
      required:
      - Message
      type: object
    rlup01:
      description: Lookup Values
      properties:
        ValueCode:
          example: '77034'
          title: Value Code
          type: string
        ValueDescription:
          example: 1-Butanol
          title: Value Description
          type: string
      required:
      - ValueCode
      - ValueDescription
      type: object
      xml:
        name: LuValue
    rlup61:
      description: Results Object
      properties:
        LuValues:
          items:
            $ref: '#/components/schemas/rlup01'
          type: array
          xml:
            name: LuValues
            wrapped: true
          example:
          - string
        Message:
          description: Field to record messages (typically performance-related) about packet processing
          example: Success
          title: Message
          type: string
      required:
      - Message
      type: object
    rlup54:
      description: Results Object
      properties:
        LuValues:
          items:
            $ref: '#/components/schemas/rlup01'
          type: array
          xml:
            name: LuValues
            wrapped: true
          example:
          - string
        Message:
          description: Field to record messages (typically performance-related) about packet processing
          example: Success
          title: Message
          type: string
      required:
      - Message
      type: object
    rlup65:
      description: Results Object
      properties:
        LuValues:
          items:
            $ref: '#/components/schemas/rlup01'
          type: array
          xml:
            name: LuValues
            wrapped: true
          example:
          - string
        Message:
          description: Field to record messages (typically performance-related) about packet processing
          example: Success
          title: Message
          type: string
      required:
      - Message
      type: object
    rlup23:
      description: Results Object
      properties:
        LuValues:
          items:
            $ref: '#/components/schemas/rlup01'
          type: array
          xml:
            name: LuValues
            wrapped: true
          example:
          - string
        Message:
          description: Field to record messages (typically performance-related) about packet processing
          example: Success
          title: Message
          type: string
      required:
      - Message
      type: object
    rlup58:
      description: Results Object
      properties:
        LuValues:
          items:
            $ref: '#/components/schemas/rlup01'
          type: array
          xml:
            name: LuValues
            wrapped: true
          example:
          - string
        Message:
          description: Field to record messages (typically performance-related) about packet processing
          example: Success
          title: Message
          type: string
      required:
      - Message
      type: object
    rlup77:
      description: Results Object
      properties:
        LuValues:
          items:
            $ref: '#/components/schemas/rlup01'
          type: array
          xml:
            name: LuValues
            wrapped: true
          example:
          - string
        Message:
          description: Field to record messages (typically performance-related) about packet processing
          example: Success
          title: Message
          type: string
      required:
      - Message
      type: object
    rlup20:
      description: Results Object
      properties:
        LuValues:
          items:
            $ref: '#/components/schemas/rlup01'
          type: array
          xml:
            name: LuValues
            wrapped: true
          example:
          - string
        Message:
          description: Field to record messages (typically performance-related) about packet processing
          example: Success
          title: Message
          type: string
      required:
      - Message
      type: object
    rlup24:
      description: Results Object
      properties:
        LuValues:
          items:
            $ref: '#/components/schemas/rlup01'
          type: array
          xml:
            name: LuValues
            wrapped: true
          example:
          - string
        Message:
          description: Field to record messages (typically performance-related) about packet processing
          example: Success
          title: Message
          type: string
      required:
      - Message
      type: object
x-refined-from:
- echo-case-openapi.json
- echo-cwa-openapi.json
- echo-effluent-openapi.json
