openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Emissions Views API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Emissions Views
paths:
  /emissions-mgmt/emissions/views:
    get:
      operationId: EmissionsViewController_getAvailableViews
      parameters: []
      responses:
        '200':
          description: Retrieves a list of official Emissions data views that are available
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmissionsViewDTO'
              examples:
                EmissionsViewController_getAvailableViews200Example:
                  summary: Default EmissionsViewController_getAvailableViews 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Emissions Views
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /emissions-mgmt/emissions/views/{viewCode}:
    get:
      operationId: EmissionsViewController_getView
      parameters:
      - name: viewCode
        required: true
        in: path
        schema:
          type: string
        example: string
      - name: monitorPlanId
        required: true
        in: query
        schema:
          type: string
        example: '12345'
      - name: unitIds
        required: false
        in: query
        description: Unique identifier for each unit at a facility.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: stackPipeIds
        required: false
        in: query
        description: This is the alphanumeric code assigned by a source to identify a multiple or common stack or pipe at which emissions are determined.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: reportingPeriod
        required: true
        in: query
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: attachFile
        required: false
        in: query
        description: Attaches a file with data in the format specified by the Accept header
        schema:
          default: false
          type: boolean
        example: true
      responses:
        '200':
          description: Retrieves the specified view of official Emissions data for the provided Monitor Plan & Reporting Period
          content:
            application/json:
              examples:
                EmissionsViewController_getView200Example:
                  summary: Default EmissionsViewController_getView 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
            text/csv:
              examples:
                EmissionsViewController_getView200Example:
                  summary: Default EmissionsViewController_getView 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Emissions Views
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EmissionsViewDTO:
      type: object
      properties:
        code:
          type: string
          description: NEED TO UPDATE DESCRIPTION
          example: string
        name:
          type: string
          description: NEED TO UPDATE DESCRIPTION
          example: EPA Facility
      required:
      - code
      - name
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
