openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Fuel Flowmeter Accuracy API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Fuel Flowmeter Accuracy
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/fuel-flowmeter-accuracies:
    get:
      operationId: FuelFlowmeterAccuracyController_getFuelFlowmeterAccuracies
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves Fuel Flowmeter Accuracy records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FuelFlowmeterAccuracyRecordDTO'
              examples:
                FuelFlowmeterAccuracyController_getFuelFlowmeterAccuracies200Example:
                  summary: Default FuelFlowmeterAccuracyController_getFuelFlowmeterAccuracies 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Fuel Flowmeter Accuracy
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/fuel-flowmeter-accuracies/{id}:
    get:
      operationId: FuelFlowmeterAccuracyController_getFuelFlowmeterAccuracy
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves a Fuel Flowmeter Accuracy record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuelFlowmeterAccuracyRecordDTO'
              examples:
                FuelFlowmeterAccuracyController_getFuelFlowmeterAccuracy200Example:
                  summary: Default FuelFlowmeterAccuracyController_getFuelFlowmeterAccuracy 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Fuel Flowmeter Accuracy
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    FuelFlowmeterAccuracyRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        accuracyTestMethodCode:
          type: string
          example: string
        lowFuelAccuracy:
          type: number
          example: 0.0
        midFuelAccuracy:
          type: number
          example: 0.0
        highFuelAccuracy:
          type: number
          example: 0.0
        reinstallationDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        reinstallationHour:
          type: number
          example: 35.5
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
