openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Flow To Load Check API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Flow To Load Check
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/flow-to-load-checks:
    get:
      operationId: FlowToLoadCheckController_getFlowToLoadChecks
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves Flow To Load Check records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FlowToLoadCheckRecordDTO'
              examples:
                FlowToLoadCheckController_getFlowToLoadChecks200Example:
                  summary: Default FlowToLoadCheckController_getFlowToLoadChecks 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Flow To Load Check
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/flow-to-load-checks/{id}:
    get:
      operationId: FlowToLoadCheckController_getFlowToLoadCheck
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves a Flow To Load Check record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowToLoadCheckRecordDTO'
              examples:
                FlowToLoadCheckController_getFlowToLoadCheck200Example:
                  summary: Default FlowToLoadCheckController_getFlowToLoadCheck 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Flow To Load Check
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    FlowToLoadCheckRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        testBasisCode:
          type: string
          example: string
        biasAdjustedIndicator:
          type: number
          example: 0.0
        averageAbsolutePercentDifference:
          type: number
          example: 0.0
        numberOfHours:
          type: number
          example: 0.0
        numberOfHoursExcludedForFuel:
          type: number
          example: 0.0
        numberOfHoursExcludedRamping:
          type: number
          example: 0.0
        numberOfHoursExcludedBypass:
          type: number
          example: 0.0
        numberOfHoursExcludedPreRATA:
          type: number
          example: 0.0
        numberOfHoursExcludedTest:
          type: number
          example: 0.0
        numberOfHoursExcludedMainBypass:
          type: number
          example: 0.0
        operatingLevelCode:
          type: string
          example: string
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
