openapi: 3.2.0
info:
  title: Master Data Management OpenAPI Specification Codes & Descriptions API
  description: Provides reference codes, descriptions, & relationship data for CAMD applications
  version: 'v2.0.106 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Codes & Descriptions
paths:
  /master-data-mgmt/list:
    get:
      description: Returns a list of Master Data code tables available.
      operationId: MasterDataController_listCodeTables
      parameters: []
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CodeTableDto'
              examples:
                MasterDataController_listCodeTables200Example:
                  summary: Default MasterDataController_listCodeTables 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: ''
      tags:
      - Codes & Descriptions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /master-data-mgmt/{code}:
    get:
      description: Returns a list of Master Data codes & descriptions for the dataset provided.
      operationId: MasterDataController_getCodeTable
      parameters:
      - name: code
        required: true
        in: path
        schema:
          type: string
        example: string
      responses:
        '200':
          description: Data retrieved successfully
      security:
      - APIKey: []
      summary: ''
      tags:
      - Codes & Descriptions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CodeTableDto:
      type: object
      properties:
        code:
          type: string
          description: Code
          example: string
        name:
          type: string
          description: Display Name
          example: EPA Facility
      required:
      - code
      - name
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
