openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Unit Default Test Run API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Unit Default Test Run
paths:
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/unit-default-tests/{unitDefaultTestSumId}/unit-default-test-runs
  : get:
      operationId: UnitDefaultTestRunController_getUnitDefaultTestRuns
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: unitDefaultTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Unit Default Test Run records by Unit Default Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitDefaultTestRunRecordDTO'
              examples:
                UnitDefaultTestRunController_getUnitDefaultTestRuns200Example:
                  summary: Default UnitDefaultTestRunController_getUnitDefaultTestRuns 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Unit Default Test Run
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/unit-default-tests/{unitDefaultTestSumId}/unit-default-test-runs/{id}
  : get:
      operationId: UnitDefaultTestRunController_getUnitDefaultTestRun
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: unitDefaultTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Unit Default Test Run record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitDefaultTestRunRecordDTO'
              examples:
                UnitDefaultTestRunController_getUnitDefaultTestRun200Example:
                  summary: Default UnitDefaultTestRunController_getUnitDefaultTestRun 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Unit Default Test Run
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UnitDefaultTestRunRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        unitDefaultTestSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        operatingLevelForRun:
          type: number
          example: 0.0
        runNumber:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        beginMinute:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        endMinute:
          type: number
          example: 0.0
        responseTime:
          type: number
          example: 0.0
        referenceValue:
          type: number
          example: 0.0
        runUsedIndicator:
          type: number
          example: 0.0
      required:
      - id
      - unitDefaultTestSumId
      - userId
      - addDate
      - updateDate
      - operatingLevelForRun
      - runNumber
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
