openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Online Offline Calibration API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Online Offline Calibration
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/online-offline-calibration:
    get:
      operationId: OnlineOfflineCalibrationController_getOnlineOfflineCalibrations
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Online Offline Calibration records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/OnlineOfflineCalibrationDTO'
              examples:
                OnlineOfflineCalibrationController_getOnlineOfflineCalibrations200Example:
                  summary: Default OnlineOfflineCalibrationController_getOnlineOfflineCalibrations 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Online Offline Calibration
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/online-offline-calibration/{id}:
    get:
      operationId: OnlineOfflineCalibrationController_getOnlineOfflineCalibration
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Online Offline Calibration record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnlineOfflineCalibrationRecordDTO'
              examples:
                OnlineOfflineCalibrationController_getOnlineOfflineCalibration200Example:
                  summary: Default OnlineOfflineCalibrationController_getOnlineOfflineCalibration 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Online Offline Calibration
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OnlineOfflineCalibrationRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        onlineZeroInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        onlineZeroInjectionHour:
          type: number
          example: 0.0
        onlineZeroCalibrationError:
          type: number
          example: 0.0
        onlineZeroAPSIndicator:
          type: number
          example: 0.0
        onlineZeroMeasuredValue:
          type: number
          example: 0.0
        onlineZeroReferenceValue:
          type: number
          example: 0.0
        onlineUpscaleCalibrationError:
          type: number
          example: 0.0
        onlineUpscaleAPSIndicator:
          type: number
          example: 0.0
        onlineUpscaleInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        onlineUpscaleInjectionHour:
          type: number
          example: 0.0
        onlineUpscaleMeasuredValue:
          type: number
          example: 0.0
        onlineUpscaleReferenceValue:
          type: number
          example: 0.0
        offlineZeroCalibrationError:
          type: number
          example: 0.0
        offlineZeroAPSIndicator:
          type: number
          example: 0.0
        offlineZeroInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        offlineZeroInjectionHour:
          type: number
          example: 0.0
        offlineZeroMeasuredValue:
          type: number
          example: 0.0
        offlineZeroReferenceValue:
          type: number
          example: 0.0
        offlineUpscaleCalibrationError:
          type: number
          example: 0.0
        offlineUpscaleAPSIndicator:
          type: number
          example: 0.0
        offlineUpscaleInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        offlineUpscaleInjectionHour:
          type: number
          example: 0.0
        offlineUpscaleMeasuredValue:
          type: number
          example: 0.0
        offlineUpscaleReferenceValue:
          type: number
          example: 0.0
        upscaleGasLevelCode:
          type: string
          example: string
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
    OnlineOfflineCalibrationDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        onlineZeroInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        onlineZeroInjectionHour:
          type: number
          example: 0.0
        onlineZeroCalibrationError:
          type: number
          example: 0.0
        onlineZeroAPSIndicator:
          type: number
          example: 0.0
        onlineZeroMeasuredValue:
          type: number
          example: 0.0
        onlineZeroReferenceValue:
          type: number
          example: 0.0
        onlineUpscaleCalibrationError:
          type: number
          example: 0.0
        onlineUpscaleAPSIndicator:
          type: number
          example: 0.0
        onlineUpscaleInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        onlineUpscaleInjectionHour:
          type: number
          example: 0.0
        onlineUpscaleMeasuredValue:
          type: number
          example: 0.0
        onlineUpscaleReferenceValue:
          type: number
          example: 0.0
        offlineZeroCalibrationError:
          type: number
          example: 0.0
        offlineZeroAPSIndicator:
          type: number
          example: 0.0
        offlineZeroInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        offlineZeroInjectionHour:
          type: number
          example: 0.0
        offlineZeroMeasuredValue:
          type: number
          example: 0.0
        offlineZeroReferenceValue:
          type: number
          example: 0.0
        offlineUpscaleCalibrationError:
          type: number
          example: 0.0
        offlineUpscaleAPSIndicator:
          type: number
          example: 0.0
        offlineUpscaleInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        offlineUpscaleInjectionHour:
          type: number
          example: 0.0
        offlineUpscaleMeasuredValue:
          type: number
          example: 0.0
        offlineUpscaleReferenceValue:
          type: number
          example: 0.0
        upscaleGasLevelCode:
          type: string
          example: string
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
