openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Rata Traverse API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Rata Traverse
paths:
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/rata/{rataId}/rata-summaries/{rataSumId}/rata-runs/{rataRunId}/flow-rata-runs/{flowRataRunId}/rata-traverses
  : get:
      operationId: RataTraverseController_getRataTraverses
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: rataId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: rataSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: rataRunId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: flowRataRunId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Rata Traverse records by Flow Rata Run ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/RataTraverseRecordDTO'
              examples:
                RataTraverseController_getRataTraverses200Example:
                  summary: Default RataTraverseController_getRataTraverses 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Rata Traverse
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/rata/{rataId}/rata-summaries/{rataSumId}/rata-runs/{rataRunId}/flow-rata-runs/{flowRataRunId}/rata-traverses/{id}
  : get:
      operationId: RataTraverseController_getRataTraverse
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: rataId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: rataSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: rataRunId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: flowRataRunId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Rata Traverse record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RataTraverseRecordDTO'
              examples:
                RataTraverseController_getRataTraverse200Example:
                  summary: Default RataTraverseController_getRataTraverse 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Rata Traverse
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RataTraverseRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        flowRataRunId:
          type: string
          example: '12345'
        calculatedCalculatedVelocity:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        probeId:
          type: string
          maxLength: 11
          example: '12345'
        probeTypeCode:
          type: string
          example: string
        pressureMeasureCode:
          type: string
          example: string
        methodTraversePointId:
          type: string
          minLength: 1
          maxLength: 3
          example: '12345'
        velocityCalibrationCoefficient:
          type: number
          example: 0.0
        lastProbeDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        averageVelocityDifferencePressure:
          type: number
          example: 0.0
        averageSquareVelocityDifferencePressure:
          type: number
          example: 0.0
        tStackTemperature:
          type: number
          example: 0.0
        pointUsedIndicator:
          type: number
          example: 0.0
        numberWallEffectsPoints:
          type: number
          example: 0.0
        yawAngle:
          type: number
          example: 0.0
        pitchAngle:
          type: number
          example: 0.0
        calculatedVelocity:
          type: number
          example: 35.5
        replacementVelocity:
          type: number
          example: 0.0
      required:
      - id
      - flowRataRunId
      - calculatedCalculatedVelocity
      - userId
      - addDate
      - updateDate
      - probeId
      - probeTypeCode
      - pressureMeasureCode
      - methodTraversePointId
      - velocityCalibrationCoefficient
      - lastProbeDate
      - tStackTemperature
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
