openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Reporting Frequencies API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Reporting Frequencies
paths:
  /monitor-plan-mgmt/plans/{planId}/reporting-frequencies:
    get:
      operationId: MonitorPlanReportingFrequencyController_getReportingFreqs
      parameters:
      - name: planId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves reporting frequency records for a specific plan ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReportingFreqDTO'
              examples:
                MonitorPlanReportingFrequencyController_getReportingFreqs200Example:
                  summary: Default MonitorPlanReportingFrequencyController_getReportingFreqs 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Reporting Frequencies
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ReportingFreqDTO:
      type: object
      properties:
        reportFrequencyCode:
          type: string
          description: The code representing the frequency at which the report is generated.
          example: QTR
        monitoringPlanLocations:
          type: string
          description: The locations covered under the monitoring plan.
          example: Site001, Site002
        beginQuarter:
          type: string
          description: The quarter in which reporting starts.
          example: 2022 QTR1
        endQuarter:
          type: string
          description: The quarter in which reporting ends, if applicable.
          example: 2024 QTR1
        id:
          type: string
          description: The unique identifier for the reporting frequency record.
          example: '54321'
        active:
          type: boolean
          description: Indicates whether the reporting frequency record is active or not.
          example: true
      required:
      - reportFrequencyCode
      - monitoringPlanLocations
      - beginQuarter
      - endQuarter
      - id
      - active
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
