openapi: 3.2.0
info:
  title: Master Data Management OpenAPI Specification Account Type Codes API
  description: Provides reference codes, descriptions, & relationship data for CAMD applications
  version: 'v2.0.106 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Account Type Codes
paths:
  /master-data-mgmt/account-type-codes:
    get:
      description: Returns a list of Account Type codes & descriptions.
      operationId: AccountTypeController_getAccountTypeCodes
      parameters:
      - name: exclude
        required: false
        in: query
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - CASURR
            - ENFSURR
            - FACLTY
            - GENERAL
            - OVERDF
            - RESERVE
            - SERDRES
            - SGENRES
            - SHOLD
            - SNSARES
            - SOPTRES
            - SOTHRES
            - SPRMRES
            - SRETIRE
            - SURR
            - UNIT
            - VOLSURR
        example:
        - CASURR
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountTypeDTO'
              examples:
                AccountTypeController_getAccountTypeCodes200Example:
                  summary: Default AccountTypeController_getAccountTypeCodes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: ''
      tags:
      - Account Type Codes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AccountTypeDTO:
      type: object
      properties:
        accountTypeCode:
          type: string
          example: string
        accountTypeDescription:
          type: string
          example: string
        accountTypeGroupCode:
          type: string
          example: string
        accountTypeGroupDescription:
          type: string
          example: string
      required:
      - accountTypeCode
      - accountTypeDescription
      - accountTypeGroupCode
      - accountTypeGroupDescription
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
