openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Appendix E Correlation Test Summary API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Appendix E Correlation Test Summary
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/appendix-e-correlation-test-summaries:
    get:
      operationId: AppendixETestSummaryController_getAppECorrelations
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves Appendix E Correlation Test Summary records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppECorrelationTestSummaryRecordDTO'
              examples:
                AppendixETestSummaryController_getAppECorrelations200Example:
                  summary: Default AppendixETestSummaryController_getAppECorrelations 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Appendix E Correlation Test Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/appendix-e-correlation-test-summaries/{id}:
    get:
      operationId: AppendixETestSummaryController_getAppECorrelation
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves an Appendix E Correlation Test Summary record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppECorrelationTestSummaryRecordDTO'
              examples:
                AppendixETestSummaryController_getAppECorrelation200Example:
                  summary: Default AppendixETestSummaryController_getAppECorrelation 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Appendix E Correlation Test Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AppECorrelationTestSummaryRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedMeanReferenceValue:
          type: number
          example: 35.5
        calculatedAverageHourlyHeatInputRate:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        operatingLevelForRun:
          type: number
          example: 0.0
        meanReferenceValue:
          type: number
          example: 0.0
        averageHourlyHeatInputRate:
          type: number
          example: 0.0
        fFactor:
          type: number
          example: 0.0
      required:
      - id
      - testSumId
      - calculatedMeanReferenceValue
      - calculatedAverageHourlyHeatInputRate
      - userId
      - addDate
      - updateDate
      - operatingLevelForRun
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
