openapi: 3.2.0
info:
  title: Monitor Plan Management OpenAPI Specification Rectangular Duct WAF API
  description: Monitor Plan management API endpoints for all monitor plan data & operations
  version: 'v2.0.118 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Rectangular Duct WAF
paths:
  /monitor-plan-mgmt/locations/{locId}/duct-wafs:
    get:
      operationId: DuctWafController_getDuctWafs
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official duct waf records for a monitor location
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DuctWafDTO'
              examples:
                DuctWafController_getDuctWafs200Example:
                  summary: Default DuctWafController_getDuctWafs 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Rectangular Duct WAF
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DuctWafDTO:
      type: object
      properties:
        wafDeterminationDate:
          format: date-time
          type: string
          description: The date the WAF applied in column 20 was determined.
          example: '2020-11-18'
        wafBeginDate:
          format: date-time
          type: string
          description: The date on which the WAF was first applied to the flow rate data.
          example: '2020-11-28'
        wafBeginHour:
          type: number
          description: The hour in which the WAF was first applied to the flow rate data.
          example: 12
        wafMethodCode:
          type: string
          description: Code used to identify the WAF determination method.
          example: FT
        wafValue:
          type: number
          description: The WAF applied to the flow rate data, to four decimal places.
          example: 1.0454
        numberOfTestRuns:
          type: number
          description: The number of runs in the WAF test (must be one for default WAF and at least three for a measured WAF)
          example: 3
        numberOfTraversePointsWAF:
          type: number
          description: The number of Method 1 traverse points in the WAF test runs.
          example: 48
        numberOfTestPorts:
          type: number
          description: The number of test ports at which measurements were made during the WAF test runs.
          example: 4
        numberOfTraversePointsRef:
          type: number
          description: The number of Method 1 traverse points in the reference flow RATA test runs.
          example: 48
        ductWidth:
          type: number
          description: The width of the rectangular duct at the test location.
          example: 12
        ductDepth:
          type: number
          description: The depth of the rectangular duct at the test location.
          example: 18.5
        wafEndDate:
          format: date-time
          type: string
          description: The date on which the WAF was last applied to the flow rate data.
          example: '2021-09-18'
        wafEndHour:
          type: number
          description: The hour in which the WAF was last applied to the flow rate data.
          example: 9
        id:
          type: string
          description: Unique identifier of a rectangular duct WAF data record.
          example: CAMD-6847FB7858174AD0ADF87FFBAF85EF9C
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          example: true
      required:
      - wafDeterminationDate
      - wafBeginDate
      - wafBeginHour
      - wafMethodCode
      - wafValue
      - numberOfTestRuns
      - numberOfTraversePointsWAF
      - numberOfTestPorts
      - numberOfTraversePointsRef
      - ductWidth
      - ductDepth
      - wafEndDate
      - wafEndHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
