openapi: 3.2.0
info:
  title: Management OpenAPI Specification QA Certification API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: QA Certification
paths:
  /qa-certification-mgmt/export:
    get:
      operationId: QACertificationController_export
      parameters:
      - name: facilityId
        required: true
        in: query
        description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
        schema:
          type: number
        example: 0.0
      - name: unitIds
        required: false
        in: query
        description: Unique identifier for each unit at a facility.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: stackPipeIds
        required: false
        in: query
        description: This is the alphanumeric code assigned by a source to identify a multiple or common stack or pipe at which emissions are determined.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: testSummaryIds
        required: false
        in: query
        description: Unique identifier of a test summary record.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: qaCertificationEventIds
        required: false
        in: query
        description: Unique identifier of a QA certification event record.
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: testTypeCodes
        required: false
        in: query
        description: Code used to identify test type or the type of test performed.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - 7DAY
            - AF2LCHK
            - APPE
            - BCAL
            - CYCLE
            - DAHS
            - DAYCAL
            - DGFMCAL
            - F2LCHK
            - F2LREF
            - FF2LBAS
            - FF2LTST
            - FFACC
            - FFACCTT
            - HGLINE
            - HGSI1
            - HGSI3
            - INTCHK
            - LEAK
            - LINE
            - MFMCAL
            - ONOFF
            - OTHER
            - PEI
            - PEMSACC
            - PEMSCAL
            - QGA
            - RATA
            - TSCAL
            - UNITDEF
        example:
        - 7DAY
      - name: qaTestExtensionExemptionIds
        required: false
        in: query
        description: Unique Id for variances from prescribed testing requirements or extensions to the normal QA testing schedule.
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: beginDate
        required: false
        in: query
        description: Date in which information became effective or activity started.
        schema:
          format: date-time
          type: string
        example: '2024-01-15T12:00:00Z'
      - name: endDate
        required: false
        in: query
        description: End date for a given period of a unit's emissions.
        schema:
          format: date-time
          type: string
        example: '2024-01-15T12:00:00Z'
      - name: reportedValuesOnly
        required: false
        in: query
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: Successfull export of official QA Certification data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QACertificationDTO'
              examples:
                QACertificationController_export200Example:
                  summary: Default QACertificationController_export 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: Exports Official QA Certification Data
      tags:
      - QA Certification
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/cert-events:
    get:
      operationId: QACertificationController_getFilteredCerts
      parameters:
      - name: orisCodes
        required: true
        in: query
        description: Array of oris codes
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 0.0
      - name: monPlanIds
        required: false
        in: query
        description: Array of configurations
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: quarters
        required: false
        in: query
        description: Array of quarter abbreviations
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      responses:
        '200':
          description: Retrieves workspace test summary records given a list of oris codes and or mon plan ids
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CertEventReviewAndSubmitDTO'
              examples:
                QACertificationController_getFilteredCerts200Example:
                  summary: Default QACertificationController_getFilteredCerts 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - QA Certification
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/test-summary:
    get:
      operationId: QACertificationController_getFilteredTestSums
      parameters:
      - name: orisCodes
        required: true
        in: query
        description: Array of oris codes
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 0.0
      - name: monPlanIds
        required: false
        in: query
        description: Array of configurations
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: quarters
        required: false
        in: query
        description: Array of quarter abbreviations
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      responses:
        '200':
          description: Retrieves workspace test summary records given a list of oris codes and or mon plan ids
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReviewAndSubmitTestSummaryDTO'
              examples:
                QACertificationController_getFilteredTestSums200Example:
                  summary: Default QACertificationController_getFilteredTestSums 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - QA Certification
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/test-extension-exemption:
    get:
      operationId: QACertificationController_getFilteredTee
      parameters:
      - name: orisCodes
        required: true
        in: query
        description: Array of oris codes
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 0.0
      - name: monPlanIds
        required: false
        in: query
        description: Array of configurations
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: quarters
        required: false
        in: query
        description: Array of quarter abbreviations
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      responses:
        '200':
          description: Retrieves workspace tee records given a list of oris codes and or mon plan ids
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeeReviewAndSubmitDTO'
              examples:
                QACertificationController_getFilteredTee200Example:
                  summary: Default QACertificationController_getFilteredTee 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - QA Certification
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AppECorrelationTestRunDTO:
      type: object
      properties:
        appendixEHeatInputFromOilData:
          type: array
          items:
            $ref: '#/components/schemas/AppEHeatInputFromOilDTO'
          example:
          - string
        appendixEHeatInputFromGasData:
          type: array
          items:
            $ref: '#/components/schemas/AppEHeatInputFromGasDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        appECorrTestSumId:
          type: string
          example: '12345'
        calculatedHourlyHeatInputRate:
          type: number
          example: 35.5
        calculatedTotalHeatInput:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        runNumber:
          type: number
          example: 0.0
        referenceValue:
          type: number
          example: 0.0
        hourlyHeatInputRate:
          type: number
          example: 0.0
        totalHeatInput:
          type: number
          example: 0.0
        responseTime:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        beginMinute:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        endMinute:
          type: number
          example: 0.0
      required:
      - appendixEHeatInputFromOilData
      - appendixEHeatInputFromGasData
      - id
      - appECorrTestSumId
      - calculatedHourlyHeatInputRate
      - calculatedTotalHeatInput
      - userId
      - addDate
      - updateDate
      - runNumber
      - beginDate
      - beginHour
      - beginMinute
      - endDate
      - endHour
      - endMinute
    TestSummaryDTO:
      type: object
      properties:
        stackPipeId:
          type: string
          description: Stack Pipe Identifier. ADD TO PROPERTY METADATA
          example: '12345'
        unitId:
          type: string
          description: Unique identifier for each unit at a facility.
          example: '12345'
        testTypeCode:
          type: string
          description: Test Type Code. ADD TO PROPERTY METADATA
          example: string
        monitoringSystemId:
          type: string
          description: Unique identifier of a monitoring system record.
          example: '12345'
        componentId:
          type: string
          description: The three digit code assigned by the source to identify the component.
          example: '12345'
        spanScaleCode:
          type: string
          description: Code used to identify the span scale.
          example: string
        testNumber:
          type: string
          maxLength: 18
          description: Test Number. ADD TO PROPERTY METADATA
          example: string
        testReasonCode:
          type: string
          description: Test Reason Code. ADD TO PROPERTY METADATA
          example: string
        testDescription:
          type: string
          maxLength: 100
          description: Test Description. ADD TO PROPERTY METADATA
          example: string
        testResultCode:
          type: string
          description: Test Result Code. ADD TO PROPERTY METADATA
          example: string
        beginDate:
          format: date-time
          type: string
          description: Date in which information became effective or activity started.
          example: '2020-07-25'
        beginHour:
          type: number
          description: Begin Hour. ADD TO PROPERTY METADATA
          example: 0.0
        beginMinute:
          type: number
          description: Begin Minute. ADD TO PROPERTY METADATA
          example: 0.0
        endDate:
          format: date-time
          type: string
          description: End date for a given period of a unit's emissions.
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          description: End Hour. ADD TO PROPERTY METADATA
          example: 0.0
        endMinute:
          type: number
          description: End Minute. ADD TO PROPERTY METADATA
          example: 0.0
        gracePeriodIndicator:
          type: number
          description: Grace Period Indicator. ADD TO PROPERTY METADATA
          example: 0.0
        year:
          type: number
          description: The calendar year during which activity occurred.
          example: 2024
        quarter:
          type: number
          description: Calendar quarter in which activity occurred.
          example: 0.0
        testComment:
          type: string
          maxLength: 1000
          description: Test Comment. ADD TO PROPERTY METADATA
          example: string
        injectionProtocolCode:
          type: string
          description: Injection Protocol Code. ADD TO PROPERTY METADATA
          example: string
        calibrationInjectionData:
          type: array
          items:
            $ref: '#/components/schemas/CalibrationInjectionDTO'
          example:
          - string
        linearitySummaryData:
          type: array
          items:
            $ref: '#/components/schemas/LinearitySummaryDTO'
          example:
          - string
        rataData:
          type: array
          items:
            $ref: '#/components/schemas/RataDTO'
          example:
          - string
        flowToLoadReferenceData:
          type: array
          items:
            $ref: '#/components/schemas/FlowToLoadReferenceDTO'
          example:
          - string
        flowToLoadCheckData:
          type: array
          items:
            $ref: '#/components/schemas/FlowToLoadCheckDTO'
          example:
          - string
        cycleTimeSummaryData:
          type: array
          items:
            $ref: '#/components/schemas/CycleTimeSummaryDTO'
          example:
          - string
        onlineOfflineCalibrationData:
          type: array
          items:
            $ref: '#/components/schemas/OnlineOfflineCalibrationDTO'
          example:
          - string
        fuelFlowmeterAccuracyData:
          type: array
          items:
            $ref: '#/components/schemas/FuelFlowmeterAccuracyDTO'
          example:
          - string
        transmitterTransducerData:
          type: array
          items:
            $ref: '#/components/schemas/TransmitterTransducerAccuracyDTO'
          example:
          - string
        fuelFlowToLoadBaselineData:
          type: array
          items:
            $ref: '#/components/schemas/FuelFlowToLoadBaselineDTO'
          example:
          - string
        fuelFlowToLoadTestData:
          type: array
          items:
            $ref: '#/components/schemas/FuelFlowToLoadTestDTO'
          example:
          - string
        appendixECorrelationTestSummaryData:
          type: array
          items:
            $ref: '#/components/schemas/AppECorrelationTestSummaryDTO'
          example:
          - string
        unitDefaultTestData:
          type: array
          items:
            $ref: '#/components/schemas/UnitDefaultTestDTO'
          example:
          - string
        hgSummaryData:
          type: array
          items:
            $ref: '#/components/schemas/HgSummaryDTO'
          example:
          - string
        testQualificationData:
          type: array
          items:
            $ref: '#/components/schemas/TestQualificationDTO'
          example:
          - string
        protocolGasData:
          type: array
          items:
            $ref: '#/components/schemas/ProtocolGasDTO'
          example:
          - string
        airEmissionTestingData:
          type: array
          items:
            $ref: '#/components/schemas/AirEmissionTestingDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        locationId:
          type: string
          example: '12345'
        calculatedGracePeriodIndicator:
          type: number
          example: 35.5
        calculatedTestResultCode:
          type: string
          example: string
        reportPeriodId:
          type: number
          example: 0.0
        calculatedSpanValue:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        evalStatusCode:
          type: string
          example: active
        evalStatusCodeDescription:
          type: string
          example: active
        submissionAvailabilityCode:
          type: string
          example: string
        submissionAvailabilityCodeDescription:
          type: string
          example: string
      required:
      - stackPipeId
      - unitId
      - testTypeCode
      - componentId
      - testNumber
      - calibrationInjectionData
      - linearitySummaryData
      - rataData
      - flowToLoadReferenceData
      - flowToLoadCheckData
      - cycleTimeSummaryData
      - onlineOfflineCalibrationData
      - fuelFlowmeterAccuracyData
      - transmitterTransducerData
      - fuelFlowToLoadBaselineData
      - fuelFlowToLoadTestData
      - appendixECorrelationTestSummaryData
      - unitDefaultTestData
      - hgSummaryData
      - testQualificationData
      - protocolGasData
      - airEmissionTestingData
      - id
      - locationId
      - calculatedGracePeriodIndicator
      - calculatedTestResultCode
      - reportPeriodId
      - calculatedSpanValue
      - userId
      - addDate
      - updateDate
      - evalStatusCode
      - evalStatusCodeDescription
      - submissionAvailabilityCode
      - submissionAvailabilityCodeDescription
    RataRunDTO:
      type: object
      properties:
        flowRataRunData:
          type: array
          items:
            $ref: '#/components/schemas/FlowRataRunDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        rataSumId:
          type: string
          example: '12345'
        calculatedRataReferenceValue:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        runNumber:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        beginMinute:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        endMinute:
          type: number
          example: 0.0
        cemValue:
          type: number
          example: 0.0
        rataReferenceValue:
          type: number
          example: 0.0
        grossUnitLoad:
          type: number
          example: 0.0
        runStatusCode:
          type: string
          example: active
      required:
      - flowRataRunData
      - id
      - rataSumId
      - calculatedRataReferenceValue
      - userId
      - addDate
      - updateDate
      - runNumber
      - beginDate
      - beginHour
      - beginMinute
      - endDate
      - endHour
      - endMinute
      - runStatusCode
    FuelFlowToLoadTestDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        testBasisCode:
          type: string
          example: string
        averageDifference:
          type: number
          example: 0.0
        numberOfHoursUsed:
          type: number
          example: 0.0
        numberOfHoursExcludedCofiring:
          type: number
          example: 0.0
        numberOfHoursExcludedRamping:
          type: number
          example: 0.0
        numberOfHoursExcludedLowRange:
          type: number
          example: 0.0
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
    OnlineOfflineCalibrationDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        onlineZeroInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        onlineZeroInjectionHour:
          type: number
          example: 0.0
        onlineZeroCalibrationError:
          type: number
          example: 0.0
        onlineZeroAPSIndicator:
          type: number
          example: 0.0
        onlineZeroMeasuredValue:
          type: number
          example: 0.0
        onlineZeroReferenceValue:
          type: number
          example: 0.0
        onlineUpscaleCalibrationError:
          type: number
          example: 0.0
        onlineUpscaleAPSIndicator:
          type: number
          example: 0.0
        onlineUpscaleInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        onlineUpscaleInjectionHour:
          type: number
          example: 0.0
        onlineUpscaleMeasuredValue:
          type: number
          example: 0.0
        onlineUpscaleReferenceValue:
          type: number
          example: 0.0
        offlineZeroCalibrationError:
          type: number
          example: 0.0
        offlineZeroAPSIndicator:
          type: number
          example: 0.0
        offlineZeroInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        offlineZeroInjectionHour:
          type: number
          example: 0.0
        offlineZeroMeasuredValue:
          type: number
          example: 0.0
        offlineZeroReferenceValue:
          type: number
          example: 0.0
        offlineUpscaleCalibrationError:
          type: number
          example: 0.0
        offlineUpscaleAPSIndicator:
          type: number
          example: 0.0
        offlineUpscaleInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        offlineUpscaleInjectionHour:
          type: number
          example: 0.0
        offlineUpscaleMeasuredValue:
          type: number
          example: 0.0
        offlineUpscaleReferenceValue:
          type: number
          example: 0.0
        upscaleGasLevelCode:
          type: string
          example: string
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
    LinearityInjectionDTO:
      type: object
      properties:
        injectionDate:
          format: date-time
          type: string
          description: injectionDate. ADD TO PROPERTY METADATA
          example: '2024-01-15T12:00:00Z'
        injectionHour:
          type: number
          description: injectionHour. ADD TO PROPERTY METADATA
          example: 0.0
        injectionMinute:
          type: number
          description: injectionMinute. ADD TO PROPERTY METADATA
          example: 0.0
        measuredValue:
          type: number
          description: measuredValue. ADD TO PROPERTY METADATA
          example: 0.0
        referenceValue:
          type: number
          description: referenceValue. ADD TO PROPERTY METADATA
          example: 0.0
        id:
          type: string
          example: '12345'
        linSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
      required:
      - injectionDate
      - injectionMinute
      - id
      - linSumId
      - userId
      - addDate
      - updateDate
    RataDTO:
      type: object
      properties:
        numberOfLoadLevels:
          type: number
          description: NumberOfLoadLevels. ADD TO PROPERTY METADATA
          example: 0.0
        relativeAccuracy:
          type: number
          description: relativeAccuracy. ADD TO PROPERTY METADATA
          example: 35.5
        rataFrequencyCode:
          type: string
          description: rataFrequencyCode. ADD TO PROPERTY METADATA
          example: string
        overallBiasAdjustmentFactor:
          type: number
          description: overallBiasAdjustmentFactor. ADD TO PROPERTY METADATA
          example: 0.0
        rataSummaryData:
          type: array
          items:
            $ref: '#/components/schemas/RataSummaryDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedRataFrequencyCode:
          type: string
          example: string
        calculatedRelativeAccuracy:
          type: number
          example: 35.5
        calculatedOverallBiasAdjustmentFactor:
          type: number
          example: 35.5
        calculatedNumberOfLoadLevel:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
      required:
      - rataSummaryData
      - id
      - testSumId
      - calculatedRataFrequencyCode
      - calculatedRelativeAccuracy
      - calculatedOverallBiasAdjustmentFactor
      - calculatedNumberOfLoadLevel
      - userId
      - addDate
      - updateDate
    AirEmissionTestingDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        qiLastName:
          type: string
          maxLength: 25
          example: EPA Facility
        qiFirstName:
          type: string
          maxLength: 25
          example: EPA Facility
        qiMiddleInitial:
          type: string
          maxLength: 1
          example: '12345'
        aetbName:
          type: string
          maxLength: 50
          example: EPA Facility
        aetbPhoneNumber:
          type: string
          maxLength: 18
          example: string
        aetbEmail:
          type: string
          maxLength: 70
          format: email
          example: analyst@example.com
        examDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        providerName:
          type: string
          maxLength: 50
          example: EPA Facility
        providerEmail:
          type: string
          maxLength: 70
          format: email
          example: analyst@example.com
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
      - qiLastName
      - qiFirstName
      - aetbName
      - aetbPhoneNumber
      - aetbEmail
      - examDate
      - providerName
      - providerEmail
    AppEHeatInputFromGasDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        appECorrTestRunId:
          type: string
          example: '12345'
        calculatedGasHeatInput:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        monitoringSystemId:
          type: string
          example: '12345'
        gasGCV:
          type: number
          example: 0.0
        gasVolume:
          type: number
          example: 0.0
        gasHeatInput:
          type: number
          example: 0.0
      required:
      - id
      - appECorrTestRunId
      - calculatedGasHeatInput
      - userId
      - addDate
      - updateDate
      - monitoringSystemId
    FuelFlowmeterAccuracyDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        accuracyTestMethodCode:
          type: string
          example: string
        lowFuelAccuracy:
          type: number
          example: 0.0
        midFuelAccuracy:
          type: number
          example: 0.0
        highFuelAccuracy:
          type: number
          example: 0.0
        reinstallationDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        reinstallationHour:
          type: number
          example: 35.5
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
    QACertificationEventDTO:
      type: object
      properties:
        stackPipeId:
          type: string
          description: Stack Pipe Identifier. ADD TO PROPERTY METADATA
          example: '12345'
        unitId:
          type: string
          description: Unique identifier for each unit at a facility.
          example: '12345'
        monitoringSystemId:
          type: string
          description: Unique identifier of a monitoring system record.
          example: '12345'
        componentId:
          type: string
          description: The three digit code assigned by the source to identify the component.
          example: '12345'
        id:
          type: string
          example: '12345'
        locationId:
          type: string
          example: '12345'
        lastUpdated:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updatedStatusFlag:
          type: string
          example: active
        needsEvalFlag:
          type: string
          example: string
        checkSessionId:
          type: string
          example: '12345'
        submissionId:
          type: number
          example: 0.0
        submissionAvailabilityCode:
          type: string
          example: string
        pendingStatusCode:
          type: string
          example: active
        evalStatusCode:
          type: string
          example: active
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        isSubmitted:
          type: boolean
          example: true
        isSavedNotSubmitted:
          type: boolean
          example: true
        certificationEventCode:
          type: string
          example: string
        certificationEventDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        certificationEventHour:
          type: number
          example: 0.0
        requiredTestCode:
          type: string
          example: string
        conditionalBeginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        conditionalBeginHour:
          type: number
          example: 0.0
        completionTestDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        completionTestHour:
          type: number
          example: 0.0
        version:
          type: string
          example: string
      required:
      - stackPipeId
      - unitId
      - id
      - locationId
      - lastUpdated
      - updatedStatusFlag
      - needsEvalFlag
      - checkSessionId
      - submissionId
      - submissionAvailabilityCode
      - pendingStatusCode
      - evalStatusCode
      - userId
      - addDate
      - updateDate
      - certificationEventCode
      - certificationEventDate
    TeeReviewAndSubmitDTO:
      type: object
      properties:
        orisCode:
          type: number
          example: 0.0
        facilityName:
          type: string
          example: EPA Facility
        monPlanId:
          type: string
          example: '12345'
        locationInfo:
          type: string
          example: string
        testExtensionExemptionIdentifier:
          type: string
          example: '12345'
        extensExemptCode:
          type: string
          example: string
        monLocIdentifier:
          type: string
          example: '12345'
        systemComponentIdentifier:
          type: string
          example: '12345'
        rptPeriodIdentifier:
          type: number
          example: 0.0
        userid:
          type: string
          example: '12345'
        updateDate:
          type: string
          example: string
        evalStatusCode:
          type: string
          example: active
        evalStatusCodeDescription:
          type: string
          example: active
        severityCode:
          type: string
          example: string
        severityDescription:
          type: string
          example: string
        submissionAvailabilityCode:
          type: string
          example: string
        submissionAvailabilityCodeDescription:
          type: string
          example: string
        periodAbbreviation:
          type: string
          example: string
        fuelCode:
          type: string
          example: string
        hoursUsed:
          type: number
          example: 0.0
        spanScaleCode:
          type: string
          example: string
      required:
      - orisCode
      - facilityName
      - monPlanId
      - locationInfo
      - testExtensionExemptionIdentifier
      - extensExemptCode
      - monLocIdentifier
      - systemComponentIdentifier
      - rptPeriodIdentifier
      - userid
      - updateDate
      - evalStatusCode
      - evalStatusCodeDescription
      - severityCode
      - severityDescription
      - submissionAvailabilityCode
      - submissionAvailabilityCodeDescription
      - periodAbbreviation
      - fuelCode
      - hoursUsed
      - spanScaleCode
    HgInjectionDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        hgTestSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        injectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        injectionHour:
          type: number
          example: 0.0
        injectionMinute:
          type: number
          example: 0.0
        measuredValue:
          type: number
          example: 0.0
        referenceValue:
          type: number
          example: 0.0
      required:
      - id
      - hgTestSumId
      - userId
      - addDate
      - updateDate
      - injectionDate
      - injectionHour
      - injectionMinute
    CycleTimeInjectionDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        cycleTimeSumId:
          type: string
          example: '12345'
        calculatedInjectionCycleTime:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        gasLevelCode:
          type: string
          example: string
        calibrationGasValue:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        beginMinute:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        endMinute:
          type: number
          example: 0.0
        injectionCycleTime:
          type: number
          example: 0.0
        beginMonitorValue:
          type: number
          example: 0.0
        endMonitorValue:
          type: number
          example: 0.0
      required:
      - id
      - cycleTimeSumId
      - calculatedInjectionCycleTime
      - userId
      - addDate
      - updateDate
      - gasLevelCode
    TransmitterTransducerAccuracyDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        lowLevelAccuracy:
          type: number
          example: 0.0
        lowLevelAccuracySpecCode:
          type: string
          example: string
        midLevelAccuracy:
          type: number
          example: 0.0
        midLevelAccuracySpecCode:
          type: string
          example: '12345'
        highLevelAccuracy:
          type: number
          example: 0.0
        highLevelAccuracySpecCode:
          type: string
          example: string
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
    QACertificationDTO:
      type: object
      properties:
        orisCode:
          type: number
          description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
          example: 0.0
        testSummaryData:
          type: array
          items:
            $ref: '#/components/schemas/TestSummaryDTO'
          example:
          - string
        certificationEventData:
          type: array
          items:
            $ref: '#/components/schemas/QACertificationEventDTO'
          example:
          - string
        testExtensionExemptionData:
          type: array
          items:
            $ref: '#/components/schemas/TestExtensionExemptionDTO'
          example:
          - string
      required:
      - orisCode
      - testSummaryData
      - certificationEventData
      - testExtensionExemptionData
    FlowToLoadReferenceDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedAverageGrossUnitLoad:
          type: number
          example: 35.5
        calculatedAverageReferenceMethodFlow:
          type: number
          example: 35.5
        calculatedReferenceFlowToLoadRatio:
          type: number
          example: 35.5
        calculatedReferenceGrossHeatRate:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        rataTestNumber:
          type: string
          maxLength: 18
          example: string
        operatingLevelCode:
          type: string
          example: string
        averageGrossUnitLoad:
          type: number
          example: 0.0
        averageReferenceMethodFlow:
          type: number
          example: 0.0
        referenceFlowLoadRatio:
          type: number
          example: 0.0
        averageHourlyHeatInputRate:
          type: number
          example: 0.0
        referenceGrossHeatRate:
          type: number
          example: 0.0
        calculatedSeparateReferenceIndicator:
          type: number
          example: 35.5
      required:
      - id
      - testSumId
      - calculatedAverageGrossUnitLoad
      - calculatedAverageReferenceMethodFlow
      - calculatedReferenceFlowToLoadRatio
      - calculatedReferenceGrossHeatRate
      - userId
      - addDate
      - updateDate
      - operatingLevelCode
    FlowRataRunDTO:
      type: object
      properties:
        rataTraverseData:
          type: array
          items:
            $ref: '#/components/schemas/RataTraverseDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        rataRunId:
          type: string
          example: '12345'
        calculatedDryMolecularWeight:
          type: number
          example: 35.5
        calculatedWetMolecularWeight:
          type: number
          example: 35.5
        calculatedAverageVelocityWithoutWallEffects:
          type: number
          example: 35.5
        calculatedAverageVelocityWithWallEffects:
          type: number
          example: 35.5
        calculatedCalculatedWAF:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        numberOfTraversePoints:
          type: number
          minimum: 12
          maximum: 99
          example: 0.0
        barometricPressure:
          type: number
          example: 0.0
        staticStackPressure:
          type: number
          example: 0.0
        percentCO2:
          type: number
          example: 0.0
        percentO2:
          type: number
          example: 0.0
        percentMoisture:
          type: number
          example: 0.0
        dryMolecularWeight:
          type: number
          example: 0.0
        wetMolecularWeight:
          type: number
          example: 0.0
        averageVelocityWithoutWallEffects:
          type: number
          maximum: 9999.99
          example: 0.0
        averageVelocityWithWallEffects:
          type: number
          example: 0.0
        calculatedWAF:
          type: number
          example: 35.5
        averageStackFlowRate:
          type: number
          maximum: 9999999999
          example: 0.0
      required:
      - rataTraverseData
      - id
      - rataRunId
      - calculatedDryMolecularWeight
      - calculatedWetMolecularWeight
      - calculatedAverageVelocityWithoutWallEffects
      - calculatedAverageVelocityWithWallEffects
      - calculatedCalculatedWAF
      - userId
      - addDate
      - updateDate
      - numberOfTraversePoints
      - barometricPressure
      - staticStackPressure
      - percentCO2
      - percentO2
      - percentMoisture
      - wetMolecularWeight
      - averageVelocityWithoutWallEffects
      - averageStackFlowRate
    HgSummaryDTO:
      type: object
      properties:
        hgInjectionData:
          type: array
          items:
            $ref: '#/components/schemas/HgInjectionDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedMeanMeasuredValue:
          type: number
          example: 35.5
        calculatedMeanReferenceValue:
          type: number
          example: 35.5
        calculatedPercentError:
          type: number
          example: 35.5
        calculatedAPSIndicator:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        gasLevelCode:
          type: string
          example: string
        meanMeasuredValue:
          type: number
          example: 0.0
        meanReferenceValue:
          type: number
          example: 0.0
        percentError:
          type: number
          example: 0.0
        apsIndicator:
          type: number
          example: 0.0
      required:
      - hgInjectionData
      - id
      - testSumId
      - calculatedMeanMeasuredValue
      - calculatedMeanReferenceValue
      - calculatedPercentError
      - calculatedAPSIndicator
      - userId
      - addDate
      - updateDate
      - gasLevelCode
    AppECorrelationTestSummaryDTO:
      type: object
      properties:
        appendixECorrelationTestRunData:
          type: array
          items:
            $ref: '#/components/schemas/AppECorrelationTestRunDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedMeanReferenceValue:
          type: number
          example: 35.5
        calculatedAverageHourlyHeatInputRate:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        operatingLevelForRun:
          type: number
          example: 0.0
        meanReferenceValue:
          type: number
          example: 0.0
        averageHourlyHeatInputRate:
          type: number
          example: 0.0
        fFactor:
          type: number
          example: 0.0
      required:
      - appendixECorrelationTestRunData
      - id
      - testSumId
      - calculatedMeanReferenceValue
      - calculatedAverageHourlyHeatInputRate
      - userId
      - addDate
      - updateDate
      - operatingLevelForRun
    ProtocolGasDTO:
      type: object
      properties:
        gasTypeCode:
          type: string
          description: gasTypeCode. ADD TO PROPERTY METADATA
          example: string
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        gasLevelCode:
          type: string
          example: string
        cylinderIdentifier:
          type: string
          maxLength: 25
          example: '12345'
        vendorIdentifier:
          type: string
          example: '12345'
        expirationDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
      required:
      - gasTypeCode
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
      - gasLevelCode
    CertEventReviewAndSubmitDTO:
      type: object
      properties:
        orisCode:
          type: number
          example: 0.0
        facilityName:
          type: string
          example: EPA Facility
        monPlanId:
          type: string
          example: '12345'
        locationInfo:
          type: string
          example: string
        qaCertEventIdentifier:
          type: string
          example: '12345'
        qaCertEventCode:
          type: string
          example: string
        monLocIdentifier:
          type: string
          example: '12345'
        systemComponentIdentifier:
          type: string
          example: '12345'
        rptPeriodIdentifier:
          type: number
          example: 0.0
        eventDate:
          type: string
          example: string
        conditionDate:
          type: string
          example: string
        lastCompletion:
          type: string
          example: string
        userid:
          type: string
          example: '12345'
        updateDate:
          type: string
          example: string
        evalStatusCode:
          type: string
          example: active
        evalStatusCodeDescription:
          type: string
          example: active
        severityCode:
          type: string
          example: string
        severityDescription:
          type: string
          example: string
        submissionAvailabilityCode:
          type: string
          example: string
        submissionAvailabilityDescription:
          type: string
          example: string
        requiredTestCode:
          type: string
          example: string
        periodAbbreviation:
          type: string
          example: string
      required:
      - orisCode
      - facilityName
      - monPlanId
      - locationInfo
      - qaCertEventIdentifier
      - qaCertEventCode
      - monLocIdentifier
      - systemComponentIdentifier
      - rptPeriodIdentifier
      - eventDate
      - conditionDate
      - lastCompletion
      - userid
      - updateDate
      - evalStatusCode
      - evalStatusCodeDescription
      - severityCode
      - severityDescription
      - submissionAvailabilityCode
      - submissionAvailabilityDescription
      - requiredTestCode
      - periodAbbreviation
    ReviewAndSubmitTestSummaryDTO:
      type: object
      properties:
        orisCode:
          type: number
          example: 0.0
        facilityName:
          type: string
          example: EPA Facility
        monPlanId:
          type: string
          example: '12345'
        locationInfo:
          type: string
          example: string
        testSumId:
          type: string
          example: '12345'
        systemComponentId:
          type: string
          example: '12345'
        testTypeCode:
          type: string
          example: string
        testNum:
          type: string
          example: string
        beginDate:
          type: string
          example: string
        endDate:
          type: string
          example: string
        userId:
          type: string
          example: '12345'
        updateDate:
          type: string
          example: string
        evalStatusCode:
          type: string
          example: active
        submissionAvailabilityCode:
          type: string
          example: string
        evalStatusCodeDescription:
          type: string
          example: active
        severityCode:
          type: string
          example: string
        severityDescription:
          type: string
          example: string
        submissionCodeDescription:
          type: string
          example: string
        periodAbbreviation:
          type: string
          example: string
      required:
      - orisCode
      - facilityName
      - monPlanId
      - locationInfo
      - testSumId
      - systemComponentId
      - testTypeCode
      - testNum
      - beginDate
      - endDate
      - userId
      - updateDate
      - evalStatusCode
      - submissionAvailabilityCode
      - evalStatusCodeDescription
      - severityCode
      - severityDescription
      - submissionCodeDescription
      - periodAbbreviation
    LinearitySummaryDTO:
      type: object
      properties:
        gasLevelCode:
          type: string
          description: gasLevelCode. ADD TO PROPERTY METADATA
          example: string
        meanMeasuredValue:
          type: number
          description: meanMeasuredValue. ADD TO PROPERTY METADATA
          example: 0.0
        meanReferenceValue:
          type: number
          description: meanReferenceValue. ADD TO PROPERTY METADATA
          example: 0.0
        percentError:
          type: number
          description: percentError. ADD TO PROPERTY METADATA
          example: 0.0
        apsIndicator:
          type: number
          description: Used to indicate if the alternative performance specification (APS) is used.
          example: 0
        linearityInjectionData:
          type: array
          items:
            $ref: '#/components/schemas/LinearityInjectionDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedMeanReferenceValue:
          type: number
          example: 35.5
        calculatedMeanMeasuredValue:
          type: number
          example: 35.5
        calculatedPercentError:
          type: number
          example: 35.5
        calculatedAPSIndicator:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
      required:
      - gasLevelCode
      - linearityInjectionData
      - id
      - testSumId
      - calculatedMeanReferenceValue
      - calculatedMeanMeasuredValue
      - calculatedPercentError
      - calculatedAPSIndicator
      - userId
      - addDate
      - updateDate
    RataTraverseDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        flowRataRunId:
          type: string
          example: '12345'
        calculatedCalculatedVelocity:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        probeId:
          type: string
          maxLength: 11
          example: '12345'
        probeTypeCode:
          type: string
          example: string
        pressureMeasureCode:
          type: string
          example: string
        methodTraversePointId:
          type: string
          minLength: 1
          maxLength: 3
          example: '12345'
        velocityCalibrationCoefficient:
          type: number
          example: 0.0
        lastProbeDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        averageVelocityDifferencePressure:
          type: number
          example: 0.0
        averageSquareVelocityDifferencePressure:
          type: number
          example: 0.0
        tStackTemperature:
          type: number
          example: 0.0
        pointUsedIndicator:
          type: number
          example: 0.0
        numberWallEffectsPoints:
          type: number
          example: 0.0
        yawAngle:
          type: number
          example: 0.0
        pitchAngle:
          type: number
          example: 0.0
        calculatedVelocity:
          type: number
          example: 35.5
        replacementVelocity:
          type: number
          example: 0.0
      required:
      - id
      - flowRataRunId
      - calculatedCalculatedVelocity
      - userId
      - addDate
      - updateDate
      - probeId
      - probeTypeCode
      - pressureMeasureCode
      - methodTraversePointId
      - velocityCalibrationCoefficient
      - lastProbeDate
      - tStackTemperature
    TestExtensionExemptionDTO:
      type: object
      properties:
        stackPipeId:
          type: string
          description: Stack Pipe Identifier. ADD TO PROPERTY METADATA
          example: '12345'
        unitId:
          type: string
          description: Unique identifier for each unit at a facility.
          example: '12345'
        year:
          type: number
          description: The calendar year during which activity occurred.
          example: 2024
        quarter:
          type: number
          description: Calendar quarter in which activity occurred.
          example: 0.0
        monitoringSystemId:
          type: string
          description: Unique identifier of a monitoring system record.
          example: '12345'
        componentId:
          type: string
          description: The three digit code assigned by the source to identify the component.
          example: '12345'
        spanScaleCode:
          type: string
          description: Code used to identify the span scale.
          example: string
        id:
          type: string
          example: '12345'
        locationId:
          type: string
          example: '12345'
        reportPeriodId:
          type: number
          example: 0.0
        checkSessionId:
          type: string
          example: '12345'
        submissionId:
          type: string
          example: '12345'
        submissionAvailabilityCode:
          type: string
          example: string
        pendingStatusCode:
          type: string
          example: active
        evalStatusCode:
          type: string
          example: active
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        isSubmitted:
          type: boolean
          example: true
        isSavedNotSubmitted:
          type: boolean
          example: true
        hoursUsed:
          type: number
          example: 0.0
        fuelCode:
          type: string
          example: string
        extensionOrExemptionCode:
          type: string
          example: string
      required:
      - stackPipeId
      - unitId
      - year
      - quarter
      - id
      - locationId
      - reportPeriodId
      - checkSessionId
      - submissionId
      - submissionAvailabilityCode
      - pendingStatusCode
      - evalStatusCode
      - userId
      - addDate
      - updateDate
      - extensionOrExemptionCode
    CycleTimeSummaryDTO:
      type: object
      properties:
        cycleTimeInjectionData:
          type: array
          items:
            $ref: '#/components/schemas/CycleTimeInjectionDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedTotalTime:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        totalTime:
          type: number
          example: 0.0
      required:
      - cycleTimeInjectionData
      - id
      - testSumId
      - calculatedTotalTime
      - userId
      - addDate
      - updateDate
    FuelFlowToLoadBaselineDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        accuracyTestNumber:
          type: string
          maxLength: 18
          example: string
        peiTestNumber:
          type: string
          maxLength: 18
          example: string
        averageFuelFlowRate:
          type: number
          example: 0.0
        averageLoad:
          type: number
          example: 0.0
        baselineFuelFlowToLoadRatio:
          type: number
          example: 0.0
        fuelFlowToLoadUnitsOfMeasureCode:
          type: string
          example: string
        averageHourlyHeatInputRate:
          type: number
          example: 0.0
        baselineGHR:
          type: number
          example: 0.0
        ghrUnitsOfMeasureCode:
          type: string
          example: string
        numberOfHoursExcludedCofiring:
          type: number
          example: 0.0
        numberOfHoursExcludedRamping:
          type: number
          example: 0.0
        numberOfHoursExcludedLowRange:
          type: number
          example: 0.0
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
    FlowToLoadCheckDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        testBasisCode:
          type: string
          example: string
        biasAdjustedIndicator:
          type: number
          example: 0.0
        averageAbsolutePercentDifference:
          type: number
          example: 0.0
        numberOfHours:
          type: number
          example: 0.0
        numberOfHoursExcludedForFuel:
          type: number
          example: 0.0
        numberOfHoursExcludedRamping:
          type: number
          example: 0.0
        numberOfHoursExcludedBypass:
          type: number
          example: 0.0
        numberOfHoursExcludedPreRATA:
          type: number
          example: 0.0
        numberOfHoursExcludedTest:
          type: number
          example: 0.0
        numberOfHoursExcludedMainBypass:
          type: number
          example: 0.0
        operatingLevelCode:
          type: string
          example: string
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
    UnitDefaultTestRunDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        unitDefaultTestSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        operatingLevelForRun:
          type: number
          example: 0.0
        runNumber:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        beginMinute:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        endMinute:
          type: number
          example: 0.0
        responseTime:
          type: number
          example: 0.0
        referenceValue:
          type: number
          example: 0.0
        runUsedIndicator:
          type: number
          example: 0.0
      required:
      - id
      - unitDefaultTestSumId
      - userId
      - addDate
      - updateDate
      - operatingLevelForRun
      - runNumber
    TestQualificationDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        testClaimCode:
          type: string
          example: string
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        highLoadPercentage:
          type: number
          example: 0.0
        midLoadPercentage:
          type: number
          example: 0.0
        lowLoadPercentage:
          type: number
          example: 0.0
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
      - testClaimCode
    UnitDefaultTestDTO:
      type: object
      properties:
        unitDefaultTestRunData:
          type: array
          items:
            $ref: '#/components/schemas/UnitDefaultTestRunDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedNoxDefaultRate:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        fuelCode:
          type: string
          example: string
        noxDefaultRate:
          type: number
          example: 0.0
        operatingConditionCode:
          type: string
          example: string
        groupId:
          type: string
          maxLength: 10
          example: '12345'
        numberOfUnitsInGroup:
          type: number
          example: 0.0
        numberOfTestsForGroup:
          type: number
          example: 0.0
      required:
      - unitDefaultTestRunData
      - id
      - testSumId
      - calculatedNoxDefaultRate
      - userId
      - addDate
      - updateDate
    AppEHeatInputFromOilDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        appECorrTestRunId:
          type: string
          example: '12345'
        calculatedOilMass:
          type: number
          example: 35.5
        calculatedOilHeatInput:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        monitoringSystemId:
          type: string
          example: '12345'
        oilMass:
          type: number
          example: 0.0
        oilGCV:
          type: number
          example: 0.0
        oilGCVUnitsOfMeasureCode:
          type: string
          example: string
        oilHeatInput:
          type: number
          example: 0.0
        oilVolume:
          type: number
          example: 0.0
        oilVolumeUnitsOfMeasureCode:
          type: string
          example: string
        oilDensity:
          type: number
          example: 0.0
        oilDensityUnitsOfMeasureCode:
          type: string
          example: string
      required:
      - id
      - appECorrTestRunId
      - calculatedOilMass
      - calculatedOilHeatInput
      - userId
      - addDate
      - updateDate
      - monitoringSystemId
    CalibrationInjectionDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedZeroCalibrationError:
          type: number
          example: 35.5
        calculatedZeroAPSIndicator:
          type: number
          example: 35.5
        calculatedUpscaleCalibrationError:
          type: number
          example: 35.5
        calculatedUpscaleAPSIndicator:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        onlineOfflineIndicator:
          type: number
          example: 0.0
        upscaleGasLevelCode:
          type: string
          example: string
        zeroInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        zeroInjectionHour:
          type: number
          example: 0.0
        zeroInjectionMinute:
          type: number
          example: 0.0
        upscaleInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        upscaleInjectionHour:
          type: number
          example: 0.0
        upscaleInjectionMinute:
          type: number
          example: 0.0
        zeroMeasuredValue:
          type: number
          example: 0.0
        upscaleMeasuredValue:
          type: number
          example: 0.0
        zeroAPSIndicator:
          type: number
          example: 0.0
        upscaleAPSIndicator:
          type: number
          example: 0.0
        zeroCalibrationError:
          type: number
          example: 0.0
        upscaleCalibrationError:
          type: number
          example: 0.0
        zeroReferenceValue:
          type: number
          example: 0.0
        upscaleReferenceValue:
          type: number
          example: 0.0
      required:
      - id
      - testSumId
      - calculatedZeroCalibrationError
      - calculatedZeroAPSIndicator
      - calculatedUpscaleCalibrationError
      - calculatedUpscaleAPSIndicator
      - userId
      - addDate
      - updateDate
    RataSummaryDTO:
      type: object
      properties:
        operatingLevelCode:
          type: string
          description: operatingLevelCode. ADD TO PROPERTY METADATA
          example: string
        averageGrossUnitLoad:
          type: number
          description: Average gross unit load (MWe or steam) or average velocity at operating level.
          example: 71
        referenceMethodCode:
          type: string
          description: referenceMethodCode. ADD TO PROPERTY METADATA
          example: string
        meanCEMValue:
          type: number
          description: meanCEMValue. ADD TO PROPERTY METADATA
          example: 0.0
        meanRATAReferenceValue:
          type: number
          minimum: 1
          description: meanRATAReferenceValue. ADD TO PROPERTY METADATA
          example: 0.0
        meanDifference:
          type: number
          description: meanDifference. ADD TO PROPERTY METADATA
          example: 0.0
        standardDeviationDifference:
          type: number
          description: standardDeviationDifference. ADD TO PROPERTY METADATA
          example: 0.0
        confidenceCoefficient:
          type: number
          description: confidenceCoefficient. ADD TO PROPERTY METADATA
          example: 0.0
        tValue:
          type: number
          description: tValue. ADD TO PROPERTY METADATA
          example: 0.0
        apsIndicator:
          type: number
          description: Used to indicate if the alternative performance specification (APS) is used.
          example: 0
        apsCode:
          type: string
          description: Code used to identify the Alternate Performance Spec.
          example: PS15
        relativeAccuracy:
          type: number
          description: relativeAccuracy. ADD TO PROPERTY METADATA
          example: 35.5
        biasAdjustmentFactor:
          type: number
          description: biasAdjustmentFactor. ADD TO PROPERTY METADATA
          example: 0.0
        co2OrO2ReferenceMethodCode:
          type: string
          description: co2OrO2ReferenceMethodCode. ADD TO PROPERTY METADATA
          example: string
        stackDiameter:
          type: number
          description: stackDiameter. ADD TO PROPERTY METADATA
          example: 0.0
        stackArea:
          type: number
          description: stackArea. ADD TO PROPERTY METADATA
          example: 0.0
        numberOfTraversePoints:
          type: number
          description: numberOfTraversePoints. ADD TO PROPERTY METADATA
          example: 0.0
        calculatedWAF:
          type: number
          description: calculatedWAF. ADD TO PROPERTY METADATA
          example: 35.5
        defaultWAF:
          type: number
          description: defaultWAF. ADD TO PROPERTY METADATA
          example: 0.0
        rataRunData:
          type: array
          items:
            $ref: '#/components/schemas/RataRunDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        rataId:
          type: string
          example: '12345'
        calculatedAverageGrossUnitLoad:
          type: number
          example: 35.5
        calculatedMeanCEMValue:
          type: number
          example: 35.5
        calculatedMeanRATAReferenceValue:
          type: number
          example: 35.5
        calculatedMeanDifference:
          type: number
          example: 35.5
        calculatedStandardDeviationDifference:
          type: number
          example: 35.5
        calculatedConfidenceCoefficient:
          type: number
          example: 35.5
        calculatedTValue:
          type: number
          example: 35.5
        calculatedApsIndicator:
          type: number
          example: 35.5
        calculatedRelativeAccuracy:
          type: number
          example: 35.5
        calculatedBiasAdjustmentFactor:
          type: number
          example: 35.5
        calculatedStackArea:
          type: number
          example: 35.5
        calculatedCalculatedWAF:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
      required:
      - operatingLevelCode
      - rataRunData
      - id
      - rataId
      - calculatedAverageGrossUnitLoad
      - calculatedMeanCEMValue
      - calculatedMeanRATAReferenceValue
      - calculatedMeanDifference
      - calculatedStandardDeviationDifference
      - calculatedConfidenceCoefficient
      - calculatedTValue
      - calculatedApsIndicator
      - calculatedRelativeAccuracy
      - calculatedBiasAdjustmentFactor
      - calculatedStackArea
      - calculatedCalculatedWAF
      - userId
      - addDate
      - updateDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
