openapi: 3.2.0
info:
  title: Emissions Management OpenAPI Specification Emissions Views API
  description: Emissions management API endpoints for apportioned emissions data (e.g. hourly, daily, monthly, annual, and ozone season)
  version: 'v2.0.167 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Emissions Views
paths:
  /emissions-mgmt/emissions/views:
    get:
      operationId: EmissionsViewController_getAvailableViews
      parameters: []
      responses:
        '200':
          description: Retrieves a list of official Emissions data views that are available
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmissionsViewDTO'
              examples:
                EmissionsViewController_getAvailableViews200Example:
                  summary: Default EmissionsViewController_getAvailableViews 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Emissions Views
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /emissions-mgmt/emissions/views/{viewCode}:
    get:
      operationId: EmissionsViewController_getView
      parameters:
      - name: viewCode
        required: true
        in: path
        schema:
          type: string
        example: string
      - name: monitorPlanId
        required: true
        in: query
        schema:
          type: string
        example: '12345'
      - name: unitIds
        required: false
        in: query
        description: Unique identifier for each unit at a facility.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: stackPipeIds
        required: false
        in: query
        description: This is the alphanumeric code assigned by a source to identify a multiple or common stack or pipe at which emissions are determined.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: reportingPeriod
        required: true
        in: query
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: attachFile
        required: false
        in: query
        description: Attaches a file with data in the format specified by the Accept header
        schema:
          default: false
          type: boolean
        example: true
      responses:
        '200':
          description: Retrieves the specified view of official Emissions data for the provided Monitor Plan & Reporting Period
          content:
            application/json:
              examples:
                EmissionsViewController_getView200Example:
                  summary: Default EmissionsViewController_getView 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
            text/csv:
              examples:
                EmissionsViewController_getView200Example:
                  summary: Default EmissionsViewController_getView 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Emissions Views
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EmissionsViewDTO:
      type: object
      properties:
        code:
          type: string
          description: NEED TO UPDATE DESCRIPTION
          example: string
        name:
          type: string
          description: NEED TO UPDATE DESCRIPTION
          example: EPA Facility
      required:
      - code
      - name
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
