openapi: 3.2.0
info:
  title: Monitor Plan Management OpenAPI Specification Unit Programs API
  description: Monitor Plan management API endpoints for all monitor plan data & operations
  version: 'v2.0.118 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Unit Programs
paths:
  /monitor-plan-mgmt/units/{unitId}/unit-programs:
    get:
      operationId: UnitProgramController_getUnitProgramsByUnitRecordId
      parameters:
      - name: unitId
        required: true
        in: path
        schema:
          type: number
        example: 0.0
      responses:
        '200':
          description: Retrieves unit control records from a specific unit ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitProgramDTO'
              examples:
                UnitProgramController_getUnitProgramsByUnitRecordId200Example:
                  summary: Default UnitProgramController_getUnitProgramsByUnitRecordId 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Unit Programs
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UnitProgramDTO:
      type: object
      properties:
        programId:
          type: number
          description: The identifier for the program associated with the unit.
          example: 67890
        programCode:
          type: string
          description: The code representing the specific program.
          example: ARP
        classCode:
          type: string
          description: The code representing the class associated with the program.
          example: A
        unitMonitorCertBeginDate:
          format: date-time
          type: string
          description: The date when unit monitoring certification began for the program.
          example: '2024-01-01'
        unitMonitorCertDeadline:
          format: date-time
          type: string
          description: The deadline date for completing unit monitoring certification.
          example: '2024-12-31'
        emissionsRecordingBeginDate:
          format: date-time
          type: string
          description: The date when emissions recording began under the program.
          example: '2024-01-01'
        endDate:
          format: date-time
          type: string
          description: The end date for the program's association with the unit.
          example: '2025-12-31'
        id:
          type: string
          description: The unique identifier for the unit program record.
          example: '1234567890'
        unitId:
          type: number
          description: The identifier for the unit associated with the program.
          example: 12345
        userId:
          type: string
          description: The identifier for the user who last modified the record.
          example: jdoe
        addDate:
          type: string
          description: The timestamp when the unit program record was created.
          example: '2024-08-01T00:00:00.000Z'
        updateDate:
          type: string
          description: The timestamp when the unit program record was last updated.
          example: '2024-08-15T00:00:00.000Z'
        active:
          type: boolean
          description: Indicates whether the unit program is currently active.
          example: true
      required:
      - programId
      - programCode
      - classCode
      - unitMonitorCertBeginDate
      - unitMonitorCertDeadline
      - emissionsRecordingBeginDate
      - endDate
      - id
      - unitId
      - userId
      - addDate
      - updateDate
      - active
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
