openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Qualifications API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Qualifications
paths:
  /monitor-plan-mgmt/locations/{locId}/qualifications:
    get:
      operationId: MonitorQualificationController_getQualifications
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official qualification records for a monitor location
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitorQualificationDTO'
              examples:
                MonitorQualificationController_getQualifications200Example:
                  summary: Default MonitorQualificationController_getQualifications 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Qualifications
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    LEEQualificationDTO:
      type: object
      properties:
        qualificationTestDate:
          format: date-time
          type: string
          description: End date of the initial LEE qualifying test or a retest.
          example: '2018-07-15'
        parameterCode:
          type: string
          description: Parameter code associated with the LEE qualification.
          example: HG
        qualificationTestType:
          type: string
          description: Indication of whether the qualifying test was an initial test or retest.
          example: INITIAL
        potentialAnnualHgMassEmissions:
          type: number
          description: Potential annual Hg mass emissions used for LEE qualification.
          example: 10.2
        applicableEmissionStandard:
          type: number
          description: Applicable Emission Standard used for LEE qualification.
          example: 29
        unitsOfStandard:
          type: string
          description: units of the Applicable Emission Standard.
          example: LBGWH
        percentageOfEmissionStandard:
          type: number
          description: Result of initial test or retest as a percentage of the Applicable Emission Standard.
          example: 72.8
        id:
          type: string
          description: Unique identifier of a monitoring qualification LEE record.
          example: MIKE-DELL-CFEDE4EB21124391BE13E7FB5A56081C
        qualificationId:
          type: string
          description: Unique identifier of a monitoring qualification record.
          example: MIKE-DELL-E4CE3931A24E4C1395B3C81457B300CC
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2018-10-25'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2018-10-25'
      required:
      - qualificationTestDate
      - parameterCode
      - qualificationTestType
      - potentialAnnualHgMassEmissions
      - applicableEmissionStandard
      - unitsOfStandard
      - percentageOfEmissionStandard
      - id
      - qualificationId
      - userId
      - addDate
      - updateDate
    MonitorQualificationDTO:
      type: object
      properties:
        qualificationTypeCode:
          type: string
          description: Code used to identify the qualification type.
          example: LMES
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2018-05-01'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring qualification record.
          example: NJCHQLAPA3-82CD1A0A9D2A48BFB5203F82D390183E
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '4168'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2018-07-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2018-07-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
        monitoringQualificationLEEData:
          type: array
          items:
            $ref: '#/components/schemas/LEEQualificationDTO'
          example:
          - string
        monitoringQualificationLMEData:
          type: array
          items:
            $ref: '#/components/schemas/LMEQualificationDTO'
          example:
          - string
        monitoringQualificationPercentData:
          type: array
          items:
            $ref: '#/components/schemas/PCTQualificationDTO'
          example:
          - string
      required:
      - qualificationTypeCode
      - beginDate
      - endDate
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
      - monitoringQualificationLEEData
      - monitoringQualificationLMEData
      - monitoringQualificationPercentData
    LMEQualificationDTO:
      type: object
      properties:
        qualificationDataYear:
          type: number
          description: Year corresponding to the qualification data.
          example: '2015'
        operatingHours:
          type: number
          description: Annual number of operating hours used to determine qualification.
          example: 105
        so2Tons:
          type: number
          description: Annual SO2 value used to determine qualification.
          example: 0.9
        noxTons:
          type: number
          description: Annual NOX emissions to determine qualification.
          example: 6.4
        id:
          type: string
          description: Unique identifier of a monitoring qualification LME record.
          example: NJCHQLAPA3-C89F6E1CE9D447A298B7D5E428ADD1AC
        qualificationId:
          type: string
          description: Unique identifier of a monitoring qualification record.
          example: NJCHQLAPA3-82CD1A0A9D2A48BFB5203F82D390183E
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2015-07-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2015-07-20'
      required:
      - qualificationDataYear
      - operatingHours
      - so2Tons
      - noxTons
      - id
      - qualificationId
      - userId
      - addDate
      - updateDate
    PCTQualificationDTO:
      type: object
      properties:
        qualificationYear:
          type: number
          description: The calendar year during which activity occurred.
          example: 2020
        averagePercentValue:
          type: number
          description: The average percent capacity or heat input usage.
          example: 100
        yr1QualificationDataYear:
          type: number
          description: The first year corresponding to the qualification data.
          example: 2018
        yr1QualificationDataTypeCode:
          type: string
          description: Code used to identify the type qualification in the first year.
          example: A
        yr1PercentageValue:
          type: number
          description: The percent capacity or heat input usage in the first year.
          example: 100
        yr2QualificationDataYear:
          type: number
          description: The second year corresponding to the qualification data.
          example: 2019
        yr2QualificationDataTypeCode:
          type: string
          description: Code used to identify the type qualification in the second year.
          example: A
        yr2PercentageValue:
          type: number
          description: The percent capacity or heat input usage in the second year.
          example: 100
        yr3QualificationDataYear:
          type: number
          description: The third year corresponding to the qualification data.
          example: 2020
        yr3QualificationDataTypeCode:
          type: string
          description: Code used to indicate type of data for year (actual or projected) used to determine peaking or gas-fired qualification.
          example: A
        yr3PercentageValue:
          type: number
          description: The percent capacity or heat input usage in the third year.
          example: 100
        id:
          type: string
          description: Unique identifier of a monitoring qualification percentage record.
          example: 02227-BSGR-56EB0D4D400642A4860D6402698BBE16
        qualificationId:
          type: string
          description: Unique identifier of a monitoring qualification record.
          example: 02022-614W-608B84AEDB8148C7B3935EE935AB835F
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2021-04-01'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2021-04-01'
      required:
      - qualificationYear
      - averagePercentValue
      - yr1QualificationDataYear
      - yr1QualificationDataTypeCode
      - yr1PercentageValue
      - yr2QualificationDataYear
      - yr2QualificationDataTypeCode
      - yr2PercentageValue
      - yr3QualificationDataYear
      - yr3QualificationDataTypeCode
      - yr3PercentageValue
      - id
      - qualificationId
      - userId
      - addDate
      - updateDate
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
