openapi: 3.2.0
info:
  title: Monitor Plan Management OpenAPI Specification System Components API
  description: Monitor Plan management API endpoints for all monitor plan data & operations
  version: 'v2.0.118 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: System Components
paths:
  /monitor-plan-mgmt/locations/{locId}/systems/{sysId}/components:
    get:
      operationId: SystemComponentController_getComponents
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: sysId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official component records for a monitor system
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SystemComponentDTO'
              examples:
                SystemComponentController_getComponents200Example:
                  summary: Default SystemComponentController_getComponents 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - System Components
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SystemComponentDTO:
      type: object
      properties:
        componentId:
          type: string
          description: The three digit code assigned by the source to identify the component.
          example: '044'
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2008-12-31'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 23
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a Monitoring System Component record.
          example: MELISSARHO-3F31E53DE9B14764936BFB0AC7225847
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        monitoringSystemRecordId:
          type: string
          description: Unique identifier of a monitoring system record.
          example: CAMD-4B0DC37051224A7AA9D8CA1E5BE6B4D4
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - componentId
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - monitoringSystemRecordId
      - userId
      - addDate
      - updateDate
      - active
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
