openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Linearity Summary API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Linearity Summary
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/linearities:
    get:
      operationId: LinearitySummaryController_getLinearitySummaries
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Linearity Summary records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LinearitySummaryRecordDTO'
              examples:
                LinearitySummaryController_getLinearitySummaries200Example:
                  summary: Default LinearitySummaryController_getLinearitySummaries 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Linearity Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/linearities/{id}:
    get:
      operationId: LinearitySummaryController_getLinearitySummary
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Linearity Summary record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinearitySummaryRecordDTO'
              examples:
                LinearitySummaryController_getLinearitySummary200Example:
                  summary: Default LinearitySummaryController_getLinearitySummary 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Linearity Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    LinearitySummaryRecordDTO:
      type: object
      properties:
        gasLevelCode:
          type: string
          description: gasLevelCode. ADD TO PROPERTY METADATA
          example: string
        meanMeasuredValue:
          type: number
          description: meanMeasuredValue. ADD TO PROPERTY METADATA
          example: 0.0
        meanReferenceValue:
          type: number
          description: meanReferenceValue. ADD TO PROPERTY METADATA
          example: 0.0
        percentError:
          type: number
          description: percentError. ADD TO PROPERTY METADATA
          example: 0.0
        apsIndicator:
          type: number
          description: Used to indicate if the alternative performance specification (APS) is used.
          example: 0
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedMeanReferenceValue:
          type: number
          example: 35.5
        calculatedMeanMeasuredValue:
          type: number
          example: 35.5
        calculatedPercentError:
          type: number
          example: 35.5
        calculatedAPSIndicator:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
      required:
      - gasLevelCode
      - id
      - testSumId
      - calculatedMeanReferenceValue
      - calculatedMeanMeasuredValue
      - calculatedPercentError
      - calculatedAPSIndicator
      - userId
      - addDate
      - updateDate
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
