openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Test Qualification API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Test Qualification
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/test-qualifications:
    get:
      operationId: TestQualificationController_getTestQualifications
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Test Qualification records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TestQualificationDTO'
              examples:
                TestQualificationController_getTestQualifications200Example:
                  summary: Default TestQualificationController_getTestQualifications 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Test Qualification
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/test-qualifications/{id}:
    get:
      operationId: TestQualificationController_getTestQualification
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Test Qualification record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestQualificationRecordDTO'
              examples:
                TestQualificationController_getTestQualification200Example:
                  summary: Default TestQualificationController_getTestQualification 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Test Qualification
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TestQualificationDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        testClaimCode:
          type: string
          example: string
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        highLoadPercentage:
          type: number
          example: 0.0
        midLoadPercentage:
          type: number
          example: 0.0
        lowLoadPercentage:
          type: number
          example: 0.0
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
      - testClaimCode
    TestQualificationRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        testClaimCode:
          type: string
          example: string
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        highLoadPercentage:
          type: number
          example: 0.0
        midLoadPercentage:
          type: number
          example: 0.0
        lowLoadPercentage:
          type: number
          example: 0.0
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
      - testClaimCode
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
