openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Rata API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Rata
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/rata:
    get:
      operationId: RataController_getRatas
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves workspace RATA records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/RataRecordDTO'
              examples:
                RataController_getRatas200Example:
                  summary: Default RataController_getRatas 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Rata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/rata/{id}:
    get:
      operationId: RataController_getRata
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves workspace RATA record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RataRecordDTO'
              examples:
                RataController_getRata200Example:
                  summary: Default RataController_getRata 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Rata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RataRecordDTO:
      type: object
      properties:
        numberOfLoadLevels:
          type: number
          description: NumberOfLoadLevels. ADD TO PROPERTY METADATA
          example: 0.0
        relativeAccuracy:
          type: number
          description: relativeAccuracy. ADD TO PROPERTY METADATA
          example: 35.5
        rataFrequencyCode:
          type: string
          description: rataFrequencyCode. ADD TO PROPERTY METADATA
          example: string
        overallBiasAdjustmentFactor:
          type: number
          description: overallBiasAdjustmentFactor. ADD TO PROPERTY METADATA
          example: 0.0
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedRataFrequencyCode:
          type: string
          example: string
        calculatedRelativeAccuracy:
          type: number
          example: 35.5
        calculatedOverallBiasAdjustmentFactor:
          type: number
          example: 35.5
        calculatedNumberOfLoadLevel:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
      required:
      - id
      - testSumId
      - calculatedRataFrequencyCode
      - calculatedRelativeAccuracy
      - calculatedOverallBiasAdjustmentFactor
      - calculatedNumberOfLoadLevel
      - userId
      - addDate
      - updateDate
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
