openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Calibration Injection API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Calibration Injection
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/calibration-injections:
    get:
      operationId: CalibrationInjectionController_getCalibrationInjections
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves workspace Calibration Injection records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CalibrationInjectionDTO'
              examples:
                CalibrationInjectionController_getCalibrationInjections200Example:
                  summary: Default CalibrationInjectionController_getCalibrationInjections 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Calibration Injection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/calibration-injections/{id}:
    get:
      operationId: CalibrationInjectionController_getCalibrationInjection
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves workspace Calibration Injection record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalibrationInjectionDTO'
              examples:
                CalibrationInjectionController_getCalibrationInjection200Example:
                  summary: Default CalibrationInjectionController_getCalibrationInjection 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Calibration Injection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CalibrationInjectionDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedZeroCalibrationError:
          type: number
          example: 35.5
        calculatedZeroAPSIndicator:
          type: number
          example: 35.5
        calculatedUpscaleCalibrationError:
          type: number
          example: 35.5
        calculatedUpscaleAPSIndicator:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        onlineOfflineIndicator:
          type: number
          example: 0.0
        upscaleGasLevelCode:
          type: string
          example: string
        zeroInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        zeroInjectionHour:
          type: number
          example: 0.0
        zeroInjectionMinute:
          type: number
          example: 0.0
        upscaleInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        upscaleInjectionHour:
          type: number
          example: 0.0
        upscaleInjectionMinute:
          type: number
          example: 0.0
        zeroMeasuredValue:
          type: number
          example: 0.0
        upscaleMeasuredValue:
          type: number
          example: 0.0
        zeroAPSIndicator:
          type: number
          example: 0.0
        upscaleAPSIndicator:
          type: number
          example: 0.0
        zeroCalibrationError:
          type: number
          example: 0.0
        upscaleCalibrationError:
          type: number
          example: 0.0
        zeroReferenceValue:
          type: number
          example: 0.0
        upscaleReferenceValue:
          type: number
          example: 0.0
      required:
      - id
      - testSumId
      - calculatedZeroCalibrationError
      - calculatedZeroAPSIndicator
      - calculatedUpscaleCalibrationError
      - calculatedUpscaleAPSIndicator
      - userId
      - addDate
      - updateDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
