openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Unit Capacities API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Unit Capacities
paths:
  /monitor-plan-mgmt/units/{unitId}/unit-capacities:
    get:
      operationId: UnitCapacityController_getUnitCapacities
      parameters:
      - name: unitId
        required: true
        in: path
        schema:
          type: number
        example: 0.0
      responses:
        '200':
          description: Retrieves workspace unit capacity records from a specific unit ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitCapacityDTO'
              examples:
                UnitCapacityController_getUnitCapacities200Example:
                  summary: Default UnitCapacityController_getUnitCapacities 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Unit Capacities
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UnitCapacityDTO:
      type: object
      properties:
        maximumHourlyHeatInputCapacity:
          type: number
          description: The design heat input capacity (in mmBtu/hr) for the unit or the highest hourly heat input rate observed in the past five years, whichever is greater.
          example: 2322.1
        beginDate:
          format: date-time
          type: string
          description: Date on which a relationship or an activity began.
          example: '2009-01-01'
        endDate:
          format: date-time
          type: string
          description: Date on which a relationship or an activity ended. This value will be null for active records.
          example: null
        id:
          type: string
          description: Identity key for UNIT_CAPACITY table.
          example: '50233'
        unitId:
          type: number
          description: Identity key for UNIT table.
          example: '4705'
        commercialOperationDate:
          format: date-time
          type: string
          description: The date a unit began, or will begin to generate electricity for sale, including the sale of test generation. It is the first date that a unit serves a generator and produces electricity when connected to the grid, even if the owners are not compensated for that electricity.
          example: '1977-04-01'
        date:
          format: date-time
          type: string
          description: Date on which activity occurred.
          example: '2019-01-01'
        boilerTurbineBeginDate:
          format: date-time
          type: string
          description: Date on which monitoring began for a boiler or turbine unit.
          example: '2009-01-01'
        boilerTurbineEndDate:
          format: date-time
          type: string
          description: Date on which monitoring ended for a boiler or turbine unit.
          example: '2009-01-01'
        userId:
          type: string
          description: The user name of the person or process that created the record if the Update Date is empty.  Otherwise this is the user name of the person or process that made the last update.
          example: abcde
        addDate:
          type: string
          description: Date the record was created.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date of the last record update.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
        boilerTurbineType:
          type: string
          example: string
      required:
      - maximumHourlyHeatInputCapacity
      - beginDate
      - endDate
      - id
      - unitId
      - commercialOperationDate
      - date
      - boilerTurbineBeginDate
      - boilerTurbineEndDate
      - userId
      - addDate
      - updateDate
      - active
      - boilerTurbineType
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
