openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Status API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Status
paths:
  /api/status/app:
    get:
      summary: CSB App Health Check.
      parameters: []
      responses:
        '200':
          description: OK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Status
  /api/status/bap/sam:
    get:
      summary: CSB SAM.gov Connection Check.
      parameters: []
      responses:
        '200':
          description: OK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Status
  /api/status/formio/2022/frf:
    get:
      summary: CSB Formio 2022 FRF Schema Check.
      parameters: []
      responses:
        '200':
          description: OK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Status
  /api/status/formio/2022/prf:
    get:
      summary: CSB Formio 2022 PRF Schema Check.
      parameters: []
      responses:
        '200':
          description: OK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Status
  /api/status/formio/2022/crf:
    get:
      summary: CSB Formio 2022 CRF Schema Check.
      parameters: []
      responses:
        '200':
          description: OK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Status
  /api/status/formio/2022/change:
    get:
      summary: CSB Formio 2022 Change Request Form Schema Check.
      parameters: []
      responses:
        '200':
          description: OK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Status
  /api/status/formio/2023/frf:
    get:
      summary: CSB Formio 2023 FRF Schema Check.
      parameters: []
      responses:
        '200':
          description: OK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Status
  /api/status/formio/2023/prf:
    get:
      summary: CSB Formio 2023 PRF Schema Check.
      parameters: []
      responses:
        '200':
          description: OK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Status
  /api/status/formio/2023/crf:
    get:
      summary: CSB Formio 2023 CRF Schema Check.
      parameters: []
      responses:
        '200':
          description: OK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Status
  /api/status/formio/2023/change:
    get:
      summary: CSB Formio 2023 Change Request Form Schema Check.
      parameters: []
      responses:
        '200':
          description: OK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Status
  /api/status/formio/2024/frf:
    get:
      summary: CSB Formio 2024 FRF Schema Check.
      parameters: []
      responses:
        '200':
          description: OK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Status
  /api/status/formio/2024/change:
    get:
      summary: CSB Formio 2024 Change Request Form Schema Check.
      parameters: []
      responses:
        '200':
          description: OK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Status
components:
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
