openapi: 3.2.0
info:
  title: Master Data Management OpenAPI Specification Control Codes API
  description: Provides reference codes, descriptions, & relationship data for CAMD applications
  version: 'v2.0.106 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Control Codes
paths:
  /master-data-mgmt/control-codes:
    get:
      description: Returns list of Control codes & descriptions.
      operationId: ControlTechnologyController_getControlTechnologies
      parameters: []
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ControlTechnologyDTO'
              examples:
                ControlTechnologyController_getControlTechnologies200Example:
                  summary: Default ControlTechnologyController_getControlTechnologies 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: ''
      tags:
      - Control Codes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ControlTechnologyDTO:
      type: object
      properties:
        controlCode:
          type: string
          example: string
        controlDescription:
          type: string
          example: string
        controlEquipParamCode:
          type: string
          example: string
        controlEquipParamDescription:
          type: string
          example: string
      required:
      - controlCode
      - controlDescription
      - controlEquipParamCode
      - controlEquipParamDescription
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
