openapi: 3.2.0
info:
  title: Emissions Management OpenAPI Specification Apportioned Emissions API
  description: Emissions management API endpoints for apportioned emissions data (e.g. hourly, daily, monthly, annual, and ozone season)
  version: 'v2.0.167 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Apportioned Emissions
paths:
  /emissions-mgmt/emissions/apportioned/attributes/applicable:
    get:
      operationId: ApportionedEmissionsController_getApplicableApportionedEmissionsAttributes
      parameters:
      - name: year
        required: true
        in: query
        description: The calendar year during which activity occurred.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 2024
      responses:
        '200':
          description: Retrieves Applicable Emissions Attributes
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicableApportionedEmissionsAttributesDTO'
              examples:
                ApportionedEmissionsController_getApplicableApportionedEmissionsAttributes200Example:
                  summary: Default ApportionedEmissionsController_getApplicableApportionedEmissionsAttributes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Apportioned Emissions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ApplicableApportionedEmissionsAttributesDTO:
      type: object
      properties:
        year:
          type: number
          description: The calendar year during which activity occurred.
          example: 2020
        programCode:
          type: string
          description: Code for statutory or regulatory based options for tracking and reducing air pollution emissions.
          example: CAIRNOX
        facilityId:
          type: number
          description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
          example: 3
        stateCode:
          type: string
          description: Two letter abbreviation for the State.
          example: AK
        unitTypeCode:
          type: string
          description: Code for the unit or boiler type.
          example: AF
        fuelTypeCode:
          type: string
          description: Code for the type of fuel combusted by the unit.
          example: C
        controlCode:
          type: string
          description: Code for the method or equipment used by the combustion unit to minimize emissions for the particular pollutant.
          example: B
      required:
      - year
      - programCode
      - facilityId
      - stateCode
      - unitTypeCode
      - fuelTypeCode
      - controlCode
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
