openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Transmitter Transducer Accuracy API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Transmitter Transducer Accuracy
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/transmitter-transducer-accuracy:
    get:
      operationId: TransmitterTransducerAccuracyController_getTransmitterTransducerAccuracies
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Transmitter Transducer Accuracy records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TransmitterTransducerAccuracyDTO'
              examples:
                TransmitterTransducerAccuracyController_getTransmitterTransducerAccuracies200Example:
                  summary: Default TransmitterTransducerAccuracyController_getTransmitterTransducerAccuracies 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Transmitter Transducer Accuracy
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/transmitter-transducer-accuracy/{id}:
    get:
      operationId: TransmitterTransducerAccuracyController_getTransmitterTransducerAccuracy
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Transmitter Transducer Accuracy record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransmitterTransducerAccuracyDTO'
              examples:
                TransmitterTransducerAccuracyController_getTransmitterTransducerAccuracy200Example:
                  summary: Default TransmitterTransducerAccuracyController_getTransmitterTransducerAccuracy 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Transmitter Transducer Accuracy
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TransmitterTransducerAccuracyDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        lowLevelAccuracy:
          type: number
          example: 0.0
        lowLevelAccuracySpecCode:
          type: string
          example: string
        midLevelAccuracy:
          type: number
          example: 0.0
        midLevelAccuracySpecCode:
          type: string
          example: '12345'
        highLevelAccuracy:
          type: number
          example: 0.0
        highLevelAccuracySpecCode:
          type: string
          example: string
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
