openapi: 3.2.0
info:
  title: Monitor Plan Management OpenAPI Specification Loads API
  description: Monitor Plan management API endpoints for all monitor plan data & operations
  version: 'v2.0.118 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Loads
paths:
  /monitor-plan-mgmt/locations/{locId}/loads:
    get:
      operationId: MonitorLoadController_getLoads
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official load records for a monitor location
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitorLoadDTO'
              examples:
                MonitorLoadController_getLoads200Example:
                  summary: Default MonitorLoadController_getLoads 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Loads
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MonitorLoadDTO:
      type: object
      properties:
        maximumLoadValue:
          type: number
          description: Maximum hourly gross load associated with the unit, stack, or pipe at full capacity.
          example: 353
        maximumLoadUnitsOfMeasureCode:
          type: string
          description: Code used to identify the units of measure for maximum load value
          example: MW
        lowerOperationBoundary:
          type: number
          description: Lower boundary of range of operation.
          example: 145
        upperOperationBoundary:
          type: number
          description: Upper boundary of range of operation.
          example: 301
        normalLevelCode:
          type: string
          description: Code used to identify the normal load or operating level.
          example: L
        secondLevelCode:
          type: string
          description: Code used to identify the second most frequently used load or operating level.
          example: M
        secondNormalIndicator:
          type: number
          description: Used to indicate the reporting of an additional normal load or a second operating level.
          example: '1'
        loadAnalysisDate:
          format: date-time
          type: string
          description: The date in which load analysis was performed.  This date only applies to CEM and Appendix D locations.
          example: '2018-09-31'
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2018-09-31'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 23
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring load record.
          example: MRHODES16-A1EAFB506CA8442D843275B667DD3C53
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2018-10-12'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2018-10-12'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - maximumLoadValue
      - maximumLoadUnitsOfMeasureCode
      - lowerOperationBoundary
      - upperOperationBoundary
      - normalLevelCode
      - secondLevelCode
      - secondNormalIndicator
      - loadAnalysisDate
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
