openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Analyzer Ranges API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Analyzer Ranges
paths:
  /monitor-plan-mgmt/locations/{locId}/components/{compId}/analyzer-ranges:
    get:
      operationId: AnalyzerRangeController_getAnalyzerRanges
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: compId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official analyzer range records for a component
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnalyzerRangeDTO'
              examples:
                AnalyzerRangeController_getAnalyzerRanges200Example:
                  summary: Default AnalyzerRangeController_getAnalyzerRanges 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Analyzer Ranges
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AnalyzerRangeDTO:
      type: object
      properties:
        analyzerRangeCode:
          type: string
          description: Code used to identify the analyzer range.
          example: A
        dualRangeIndicator:
          type: number
          description: Used to indicate whether the component is a dual-range analyzer.
          example: '1'
        beginDate:
          format: date-time
          type: string
          description: Date in which information became effective or activity started.
          example: '2008-05-17'
        beginHour:
          type: number
          description: Hour in which information became effective or activity started.
          example: '14'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective or date in which activity ended. This value will be null if active record.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective or hour in which activity ended. This value will be null if active record.
          example: null
        id:
          type: string
          description: Unique identifier of an analyzer range history record.
          example: MRHODES16-10C1A63683D34BA7A0833475C802CF91
        componentRecordId:
          type: string
          description: Unique identifier of a monitoring component record.
          example: CAMD-646D15E327E1480D814D48286DA7F073
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - analyzerRangeCode
      - dualRangeIndicator
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - componentRecordId
      - userId
      - addDate
      - updateDate
      - active
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
