openapi: 3.2.0
info:
  title: CAMD Administrative & General Services OpenAPI Specification Reports API
  description: Provides administrative & general services for CAMD applications.
  version: 'v2.0.146 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Reports
paths:
  /camd-services/reports/list:
    get:
      description: Retrieves list of official reports available.
      operationId: ReportController_getAvailableReports
      parameters: []
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportDTO'
              examples:
                ReportController_getAvailableReports200Example:
                  summary: Default ReportController_getAvailableReports 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: ''
      tags:
      - Reports
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /camd-services/reports:
    get:
      description: Retrieves official data for various reports based on criteria.
      operationId: ReportController_getReport
      parameters:
      - name: reportCode
        required: true
        in: query
        schema:
          type: string
        example: string
      - name: facilityId
        required: true
        in: query
        schema:
          type: number
        example: 0.0
      - name: monitorPlanId
        required: false
        in: query
        schema:
          type: string
        example: '12345'
      - name: testId
        required: false
        in: query
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: qceId
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: teeId
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      - name: year
        required: false
        in: query
        schema:
          type: number
        example: 2024
      - name: quarter
        required: false
        in: query
        schema:
          type: number
        example: 0.0
      - name: locationId
        required: false
        in: query
        schema:
          type: string
        example: '12345'
      - name: reportingPeriodIds
        required: false
        in: query
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportDTO'
              examples:
                ReportController_getReport200Example:
                  summary: Default ReportController_getReport 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: ''
      tags:
      - Reports
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ReportDTO:
      type: object
      properties:
        displayName:
          type: string
          example: EPA Facility
        columns:
          type: array
          items:
            $ref: '#/components/schemas/ReportColumnDTO'
          example:
          - string
        details:
          type: array
          items:
            $ref: '#/components/schemas/ReportDetailDTO'
          example:
          - string
      required:
      - displayName
      - columns
      - details
    ReportDetailDTO:
      type: object
      properties:
        displayName:
          type: string
          example: EPA Facility
        templateCode:
          type: string
          example: string
        templateType:
          type: string
          example: string
        results:
          type: array
          items:
            type: object
          example:
          - {}
      required:
      - displayName
      - templateCode
      - templateType
      - results
    ReportColumnDTO:
      type: object
      properties:
        code:
          type: string
          example: string
        values:
          type: array
          items:
            type: object
          example:
          - {}
      required:
      - code
      - values
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
    ClientToken:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" client JWT token required for api endpoints
    ClientId:
      type: apiKey
      in: header
      name: x-client-id
      description: ClientId required via "x-client-id" request header
