openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes User API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: User
paths:
  /api/user:
    get:
      summary: Get user data from EPA Gateway/Login.gov.
      parameters: []
      responses:
        '200':
          description: An object with a user's data from EPA Gateway/Login.gov.
          content:
            application/json:
              schema:
                type: object
                properties:
                  mail:
                    type: string
                    example: last.first@epa.gov
                  memberof:
                    type: string
                    example: csb_admin,csb_helpdesk
                  exp:
                    type: number
                    example: 1661376902
              examples:
                get_api_user200Example:
                  summary: Default get_api_user 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - User
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Unauthorized
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
