openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Cycle Time Summary API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Cycle Time Summary
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/cycle-time-summaries:
    get:
      operationId: CycleTimeSummaryController_getCycleTimeSummaries
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Cycle Time Summary records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CycleTimeSummaryDTO'
              examples:
                CycleTimeSummaryController_getCycleTimeSummaries200Example:
                  summary: Default CycleTimeSummaryController_getCycleTimeSummaries 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Cycle Time Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/cycle-time-summaries/{id}:
    get:
      operationId: CycleTimeSummaryController_getCycleTimeSummary
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Cycle Time Summary record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CycleTimeSummaryDTO'
              examples:
                CycleTimeSummaryController_getCycleTimeSummary200Example:
                  summary: Default CycleTimeSummaryController_getCycleTimeSummary 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Cycle Time Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CycleTimeInjectionDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        cycleTimeSumId:
          type: string
          example: '12345'
        calculatedInjectionCycleTime:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        gasLevelCode:
          type: string
          example: string
        calibrationGasValue:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        beginMinute:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        endMinute:
          type: number
          example: 0.0
        injectionCycleTime:
          type: number
          example: 0.0
        beginMonitorValue:
          type: number
          example: 0.0
        endMonitorValue:
          type: number
          example: 0.0
      required:
      - id
      - cycleTimeSumId
      - calculatedInjectionCycleTime
      - userId
      - addDate
      - updateDate
      - gasLevelCode
    CycleTimeSummaryDTO:
      type: object
      properties:
        cycleTimeInjectionData:
          type: array
          items:
            $ref: '#/components/schemas/CycleTimeInjectionDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedTotalTime:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        totalTime:
          type: number
          example: 0.0
      required:
      - cycleTimeInjectionData
      - id
      - testSumId
      - calculatedTotalTime
      - userId
      - addDate
      - updateDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
