openapi: 3.2.0
info:
  title: Epa Allowance Transactions API
  contact: {}
  version: '1.0'
  description: 'Operations tagged Allowance Transactions across 2 of this provider''s published API definitions: cam-account-openapi.json, cam-streaming-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.epa.gov/easey
tags:
- name: Allowance Transactions
paths:
  /account-mgmt/allowance-transactions:
    get:
      operationId: AllowanceTransactionsController_getAllowanceTransactions
      parameters:
      - name: accountType
        required: false
        in: query
        description: Type of allowance account (Facility, General, etc.).
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Compliance Assurance Surrender Account
            - Enforcement Surrender Account
            - Facility Account
            - General Account
            - Overdraft Account
            - EPA Reserve Account
            - State Early Reduction Reserve Account
            - State General Reserve Account
            - State Holding Account
            - New Unit Set Aside Reserve Account
            - State Opt-In Reserve Account
            - State Other Reserve Account
            - State Primary Reserve Account
            - State Retirement Account
            - Surrender Account
            - Unit Account
            - Voluntary Surrender Account
        example:
        - Compliance Assurance Surrender Account
      - name: accountNumber
        required: false
        in: query
        description: The unique identification number of an account.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: facilityId
        required: false
        in: query
        description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 0.0
      - name: stateCode
        required: false
        in: query
        description: Two letter abbreviation for the State.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AL
            - AK
            - AS
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FM
            - FL
            - GA
            - GU
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MH
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - MP
            - OH
            - OK
            - OR
            - PW
            - PA
            - PR
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VI
            - VA
            - WA
            - WV
            - WI
            - WY
        example:
        - AL
      - name: programCodeInfo
        required: false
        in: query
        description: Statutory or regulatory based options for tracking and reducing air pollution emissions.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - ARP
            - CAIRNOX
            - CAIROS
            - CAIRSO2
            - CSNOX
            - CSNOXOS
            - CSOSG1
            - CSOSG2
            - CSOSG2E
            - CSOSG3
            - CSSO2G1
            - CSSO2G2
            - NBP
            - OTC
            - TXSO2
        example:
        - ARP
      - name: ownerOperator
        required: false
        in: query
        description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: transactionBeginDate
        required: true
        in: query
        description: Begin date for a given period of an account's allowance transaction history.
        schema:
          format: date-time
          type: string
        example: '2024-01-15T12:00:00Z'
      - name: transactionEndDate
        required: true
        in: query
        description: End date for a given period of an account's allowance transaction history.
        schema:
          format: date-time
          type: string
        example: '2024-01-15T12:00:00Z'
      - name: transactionType
        required: false
        in: query
        description: The type of allowance transaction (e.g. initial allocation, private transaction, etc.).
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Activate Conditional Allowances
            - CAIROS Transfer from NBP
            - Compliance Assurance Surrender
            - Conservation Issuance
            - Contribute to Auction
            - Conversion of NBP allowances into CAIROS
            - CSAPR Ozone Season Emissions Adjustment Deduction
            - CSAPR Ozone Season Offset/Penalty Deduction
            - Deduction of Loaned Allowances
            - Distribute Allowances for New Program
            - Distribute Allowances for Revised CSAPR Update
            - Distribute Revintaged Allowances
            - Distribute Revintaged Allowances for Revised CSAPR Update
            - Early Reduction Issuance
            - Emissions Adjustment Deduction
            - Emissions Deduction
            - Energy Biomass Issuance
            - Energy Geothermal Issuance
            - Energy Solar Issuance
            - Energy Wind Issuance
            - Enforcement Surrender
            - Error Correction
            - Error Reversal
            - Initial Allocation
            - Internal Transfer to Reduce Offset
            - July Confirmation Credit
            - July Confirmation Deduction
            - NBP Additional Emissions Deduction from CAIROS Account
            - NBP Penalty Deduction From CAIROS Account
            - New Unit Set Aside Allocation
            - Offset/Penalty Deduction
            - Opt-In Allocation
            - Opt-in Transfer to Replacement Unit
            - Other Reserve Allocation
            - Phase 1 Extension Control Failure Deduction
            - Phase 1 Extension Issuance
            - Phase 1 Extension Projected Emission Deduction
            - Phase 2 Early Reduction Payback
            - Private Transfer
            - Purchase at EPA Auction
            - Purchase at Private Auction
            - Reallocation Surrender
            - Reallocation Transfer
            - Recall State Program Allowances
            - Reduced Utilization Issuance
            - Reduced Utilization Payback
            - Reduced Utilization Termination
            - Remove for Reissuance
            - Remove for Revised CSAPR Update Reissuance
            - Return Contributed Allowances
            - Return of CAIR Allowances
            - Return of Unsold Allowances from EPA Auction Reserve
            - Return of unused allowances from the Conservation and Renewable Energy Reserve
            - Reverse Reduced Utilization Payback
            - Reverse Substitution Payback
            - Small Diesel Issuance
            - State Cap Deduction
            - State Cap Issuance
            - State Cap Payback
            - State Reallocation
            - Substitution Control by Contract Deduction
            - Substitution Distribution
            - Substitution Issuance
            - Substitution Payback
            - Substitution Termination
            - Takeback for Underutilization
            - Terminate NOx Budget Programs Allowances
            - Terminate State Program Allowances
            - Terminate to CAIROS
            - Termination of NBP allowances into CAIROS
            - Transfer Due to Corrected Energy Conservation
            - Transfer from Direct Sale to Auction
            - Transfer from Legacy System
            - Underutilization Deduction
            - Voluntary Surrender
        example:
        - Activate Conditional Allowances
      - name: vintageYear
        required: false
        in: query
        description: Year allowance becomes eligible for use in compliance.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 2024
      - name: page
        required: true
        in: query
        description: Page number of data being requested.
        schema:
          type: number
        example: 0.0
      - name: perPage
        required: true
        in: query
        description: Number of results per page.
        schema:
          type: number
        example: 0.0
      responses:
        '200':
          description: Retrieves Allowance Transactions per filter criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AllowanceTransactionsDTO'
              examples:
                AllowanceTransactionsController_getAllowanceTransactions200Example:
                  summary: Default AllowanceTransactionsController_getAllowanceTransactions 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
            text/csv:
              schema:
                type: string
                example: Program Code,Transaction ID,Transaction Total,Transaction Type,Account Number (Transferor),Account Name (Transferor),Account Type (Transferor),Facility Name (Transferor),Facility ID (Transferor),State (Transferor),EPA Region (Transferor),Source Category (Transferor),Owner (Transferor),Account Number (Transferee),Account Name (Transferee),Account Type (Transferee),Facility Name (Transferee),Facility ID (Transferee),State (Transferee),EPA Region (Transferee),Source Category (Transferee),Owner (Transferee),Transaction Date,Allowance Vintage Year,Serial Number Start,Serial Number End,Allowance Block Total
              examples:
                AllowanceTransactionsController_getAllowanceTransactions200Example:
                  summary: Default AllowanceTransactionsController_getAllowanceTransactions 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Allowance Transactions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.epa.gov/easey
  /account-mgmt/allowance-transactions/attributes/applicable:
    get:
      operationId: AllowanceTransactionsController_getAllApplicableAllowanceTransactionsAttributes
      parameters:
      - name: transactionBeginDate
        required: true
        in: query
        description: Begin date for a given period of an account's allowance transaction history.
        schema:
          format: date-time
          type: string
        example: '2024-01-15T12:00:00Z'
      - name: transactionEndDate
        required: true
        in: query
        description: End date for a given period of an account's allowance transaction history.
        schema:
          format: date-time
          type: string
        example: '2024-01-15T12:00:00Z'
      responses:
        '200':
          description: Retrieved All Applicable Allowance Transactions Attributes
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicableAllowanceTransactionsAttributesDTO'
              examples:
                AllowanceTransactionsController_getAllApplicableAllowanceTransactionsAttributes200Example:
                  summary: Default AllowanceTransactionsController_getAllApplicableAllowanceTransactionsAttributes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Allowance Transactions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.epa.gov/easey
  /account-mgmt/allowance-transactions/owner-operators:
    get:
      operationId: AllowanceTransactionsController_getAllOwnerOperators
      parameters: []
      responses:
        '200':
          description: Retrieved All Valid Owner Operators
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/OwnerOperatorsDTO'
              examples:
                AllowanceTransactionsController_getAllOwnerOperators200Example:
                  summary: Default AllowanceTransactionsController_getAllOwnerOperators 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Allowance Transactions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.epa.gov/easey
  /streaming-services/allowance-transactions:
    get:
      operationId: AllowanceTransactionsController_streamAllowanceTransactions
      parameters:
      - name: accountType
        required: false
        in: query
        description: Type of allowance account (Facility, General, etc.).
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Compliance Assurance Surrender Account
            - Enforcement Surrender Account
            - Facility Account
            - General Account
            - Overdraft Account
            - EPA Reserve Account
            - State Early Reduction Reserve Account
            - State General Reserve Account
            - State Holding Account
            - New Unit Set Aside Reserve Account
            - State Opt-In Reserve Account
            - State Other Reserve Account
            - State Primary Reserve Account
            - State Retirement Account
            - Surrender Account
            - Unit Account
            - Voluntary Surrender Account
        example:
        - Compliance Assurance Surrender Account
      - name: accountNumber
        required: false
        in: query
        description: The unique identification number of an account.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: facilityId
        required: false
        in: query
        description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 0.0
      - name: stateCode
        required: false
        in: query
        description: Two letter abbreviation for the State.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AL
            - AK
            - AS
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FM
            - FL
            - GA
            - GU
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MH
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - MP
            - OH
            - OK
            - OR
            - PW
            - PA
            - PR
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VI
            - VA
            - WA
            - WV
            - WI
            - WY
        example:
        - AL
      - name: programCodeInfo
        required: false
        in: query
        description: Statutory or regulatory based options for tracking and reducing air pollution emissions.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - ARP
            - CAIRNOX
            - CAIROS
            - CAIRSO2
            - CSNOX
            - CSNOXOS
            - CSOSG1
            - CSOSG2
            - CSOSG2E
            - CSOSG3
            - CSSO2G1
            - CSSO2G2
            - NBP
            - OTC
            - TXSO2
        example:
        - ARP
      - name: ownerOperator
        required: false
        in: query
        description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: transactionBeginDate
        required: true
        in: query
        description: Begin date for a given period of an account's allowance transaction history.
        schema:
          format: date-time
          type: string
        example: '2024-01-15T12:00:00Z'
      - name: transactionEndDate
        required: true
        in: query
        description: End date for a given period of an account's allowance transaction history.
        schema:
          format: date-time
          type: string
        example: '2024-01-15T12:00:00Z'
      - name: transactionType
        required: false
        in: query
        description: The type of allowance transaction (e.g. initial allocation, private transaction, etc.).
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Activate Conditional Allowances
            - CAIROS Transfer from NBP
            - Compliance Assurance Surrender
            - Conservation Issuance
            - Contribute to Auction
            - Conversion of NBP allowances into CAIROS
            - CSAPR Ozone Season Emissions Adjustment Deduction
            - CSAPR Ozone Season Offset/Penalty Deduction
            - Deduction of Loaned Allowances
            - Distribute Allowances for New Program
            - Distribute Allowances for Revised CSAPR Update
            - Distribute Revintaged Allowances
            - Distribute Revintaged Allowances for Revised CSAPR Update
            - Early Reduction Issuance
            - Emissions Adjustment Deduction
            - Emissions Deduction
            - Energy Biomass Issuance
            - Energy Geothermal Issuance
            - Energy Solar Issuance
            - Energy Wind Issuance
            - Enforcement Surrender
            - Error Correction
            - Error Reversal
            - Initial Allocation
            - Internal Transfer to Reduce Offset
            - July Confirmation Credit
            - July Confirmation Deduction
            - NBP Additional Emissions Deduction from CAIROS Account
            - NBP Penalty Deduction From CAIROS Account
            - New Unit Set Aside Allocation
            - Offset/Penalty Deduction
            - Opt-In Allocation
            - Opt-in Transfer to Replacement Unit
            - Other Reserve Allocation
            - Phase 1 Extension Control Failure Deduction
            - Phase 1 Extension Issuance
            - Phase 1 Extension Projected Emission Deduction
            - Phase 2 Early Reduction Payback
            - Private Transfer
            - Purchase at EPA Auction
            - Purchase at Private Auction
            - Reallocation Surrender
            - Reallocation Transfer
            - Recall State Program Allowances
            - Reduced Utilization Issuance
            - Reduced Utilization Payback
            - Reduced Utilization Termination
            - Remove for Reissuance
            - Remove for Revised CSAPR Update Reissuance
            - Return Contributed Allowances
            - Return of CAIR Allowances
            - Return of Unsold Allowances from EPA Auction Reserve
            - Return of unused allowances from the Conservation and Renewable Energy Reserve
            - Reverse Reduced Utilization Payback
            - Reverse Substitution Payback
            - Small Diesel Issuance
            - State Cap Deduction
            - State Cap Issuance
            - State Cap Payback
            - State Reallocation
            - Substitution Control by Contract Deduction
            - Substitution Distribution
            - Substitution Issuance
            - Substitution Payback
            - Substitution Termination
            - Takeback for Underutilization
            - Terminate NOx Budget Programs Allowances
            - Terminate State Program Allowances
            - Terminate to CAIROS
            - Termination of NBP allowances into CAIROS
            - Transfer Due to Corrected Energy Conservation
            - Transfer from Direct Sale to Auction
            - Transfer from Legacy System
            - Underutilization Deduction
            - Voluntary Surrender
        example:
        - Activate Conditional Allowances
      - name: vintageYear
        required: false
        in: query
        description: Year allowance becomes eligible for use in compliance.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 2024
      - name: exclude
        required: false
        in: query
        description: Selected items will be excluded from the response
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - buyAccountType
            - buyEpaRegion
            - buyOwner
            - buySourceCategory
            - buyState
            - sellAccountType
            - sellEpaRegion
            - sellOwner
            - sellSourceCategory
            - sellState
            - unit_id
        example:
        - buyAccountType
      responses:
        '200':
          description: Streams Allowance Transactions per filter criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowanceTransactionsDTO'
              examples:
                AllowanceTransactionsController_streamAllowanceTransactions200Example:
                  summary: Default AllowanceTransactionsController_streamAllowanceTransactions 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
            text/csv:
              schema:
                type: string
                example: Program Code,Transaction ID,Transaction Total,Transaction Type,Account Number (Transferor),Account Name (Transferor),Account Type (Transferor),Facility Name (Transferor),Facility ID (Transferor),State (Transferor),EPA Region (Transferor),Source Category (Transferor),Owner (Transferor),Account Number (Transferee),Account Name (Transferee),Account Type (Transferee),Facility Name (Transferee),Facility ID (Transferee),State (Transferee),EPA Region (Transferee),Source Category (Transferee),Owner (Transferee),Transaction Date,Allowance Vintage Year,Serial Number Start,Serial Number End,Allowance Block Total
              examples:
                AllowanceTransactionsController_streamAllowanceTransactions200Example:
                  summary: Default AllowanceTransactionsController_streamAllowanceTransactions 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Allowance Transactions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.epa.gov/easey
components:
  schemas:
    ApplicableAllowanceTransactionsAttributesDTO:
      type: object
      properties:
        transactionDate:
          type: string
          description: The date the allowance transaction was confirmed.
          example: '2014-11-24'
        vintageYear:
          type: number
          description: Year allowance becomes eligible for use in compliance.
          example: 2016
        programCode:
          type: string
          description: Code for statutory or regulatory based options for tracking and reducing air pollution emissions.
          example: CAIRNOX
        buyAccountNumber:
          type: string
          description: The number of the account receiving allowances in an allowance transaction.
          example: 055247FACLTY
        sellAccountNumber:
          type: string
          description: The number of the account transferring allowances in an allowance transaction.
          example: 002828FACLTY
        buyAccountTypeCode:
          type: string
          description: Code for the type of account purchasing allowances.
          example: GENERAL
        sellAccountTypeCode:
          type: string
          description: Code for the type of account selling allowances.
          example: GENERAL
        buyFacilityId:
          type: number
          description: For facility and unit accounts, the Facility ID of the account receiving allowances in an allowance transaction.
          example: 55247
        sellFacilityId:
          type: number
          description: For facility and unit accounts, the Facility ID of the account transferring allowances in an allowance transaction.
          example: 2828
        buyState:
          type: string
          description: For facility and unit accounts, the state of the account receiving allowances in an allowance transaction.
          example: OH
        sellState:
          type: string
          description: For facility and unit accounts, the state of the account transferring allowances in an allowance transaction.
          example: OH
        transactionTypeCode:
          type: string
          description: Code for the transaction type.
          example: INITIAL
        ownerOperator:
          type: string
          description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
          example: Alabama Power Company
      required:
      - transactionDate
      - vintageYear
      - programCode
      - buyAccountNumber
      - sellAccountNumber
      - buyAccountTypeCode
      - sellAccountTypeCode
      - buyState
      - sellState
      - transactionTypeCode
      - ownerOperator
    OwnerOperatorsDTO:
      type: object
      properties:
        ownerOperator:
          type: string
          description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
          example: Alabama Power Company
        ownType:
          type: string
          description: Owner/Operator type. Either Owner, Operator, or Both.
          example: OPR
      required:
      - ownerOperator
      - ownType
    AllowanceTransactionsDTO:
      type: object
      properties:
        programCodeInfo:
          type: string
          description: Statutory or regulatory based options for tracking and reducing air pollution emissions.
          example: ARP,CSNOX,CSSO2G2,MATS
        transactionId:
          type: number
          description: The number used to identify a specific allowance transaction.
          example: 9883
        transactionTotal:
          type: number
          description: The total number of allowances involved in a transaction.
          example: 6
        transactionType:
          type: string
          description: The type of allowance transaction (e.g. initial allocation, private transaction, etc.).
          example: Private Transfer
        sellAccountNumber:
          type: string
          description: The number of the account transferring allowances in an allowance transaction.
          example: 002828FACLTY
        sellAccountName:
          type: string
          description: The name of the account transferring allowances in an allowance transaction.
          example: Cardinal
        sellAccountType:
          type: string
          description: Type of seller's allowance account (Facility, General, etc.).
          example: Facility Account
        sellFacilityName:
          type: string
          description: For facility and unit accounts, the facility name of the account transferring allowances in an allowance transaction.
          example: Cardinal
        sellFacilityId:
          type: number
          description: For facility and unit accounts, the Facility ID of the account transferring allowances in an allowance transaction.
          example: 2828
        sellState:
          type: string
          description: For facility and unit accounts, the state of the account transferring allowances in an allowance transaction.
          example: OH
        sellEpaRegion:
          type: number
          description: For facility and unit accounts, the EPA Region of the account transferring allowances in an allowance transaction.
          example: 5
        sellSourceCategory:
          type: string
          description: For unit accounts, the source category of the account transferring allowances in an allowance transaction.
          example: Electric Utility
        sellOwner:
          type: string
          description: The owner of the account transferring allowances in an allowance transaction.
          example: AEP Generation Resources, Inc.|Buckeye Power, Inc.
        buyAccountNumber:
          type: string
          description: The number of the account receiving allowances in an allowance transaction.
          example: 055247FACLTY
        buyAccountName:
          type: string
          description: The name of the account receiving allowances in an allowance transaction.
          example: Darby Electric Generating Station
        buyAccountType:
          type: string
          description: Type of buyer's allowance account (Facility, General, etc.).
          example: Facility Account
        buyFacilityName:
          type: string
          description: For facility and unit accounts, the facility name of the account receiving allowances in an allowance transaction.
          example: Darby Electric Generating Station
        buyFacilityId:
          type: number
          description: For facility and unit accounts, the Facility ID of the account receiving allowances in an allowance transaction.
          example: 55247
        buyState:
          type: string
          description: For facility and unit accounts, the state of the account receiving allowances in an allowance transaction.
          example: OH
        buyEpaRegion:
          type: number
          description: For facility and unit accounts, the EPA Region of the account receiving allowances in an allowance transaction.
          example: 5
        buySourceCategory:
          type: string
          description: For unit accounts, the source category of the account receiving allowances in an allowance transaction.
          example: Electric Utility
        buyOwner:
          type: string
          description: The owner of the account receiving allowances in an allowance transaction.
          example: AEP Generation Resources, Inc.
        transactionDate:
          type: string
          description: The date the allowance transaction was confirmed.
          example: '2014-11-24'
        vintageYear:
          type: number
          description: Year allowance becomes eligible for use in compliance.
          example: 2016
        startBlock:
          type: number
          description: The starting serial number of an allowance block.
          example: 266955
        endBlock:
          type: number
          description: The ending serial number of an allowance block.
          example: 276987
        totalBlock:
          type: number
          description: The quantity of allowances as identified by the Start Serial Number through End Serial Number.
          example: 10033
      required:
      - programCodeInfo
      - transactionType
      - sellAccountNumber
      - sellAccountName
      - sellAccountType
      - sellFacilityName
      - sellState
      - sellSourceCategory
      - sellOwner
      - buyAccountNumber
      - buyAccountName
      - buyAccountType
      - buyFacilityName
      - buyState
      - buySourceCategory
      - buyOwner
      - transactionDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
x-refined-from:
- cam-account-openapi.json
- cam-streaming-openapi.json
