openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Hg Summary API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Hg Summary
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/hg-summaries:
    get:
      operationId: HgSummaryController_getHgSummaries
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves workspace Hg Summary records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/HgSummaryDTO'
              examples:
                HgSummaryController_getHgSummaries200Example:
                  summary: Default HgSummaryController_getHgSummaries 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Hg Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/hg-summaries/{id}:
    get:
      operationId: HgSummaryController_getHgSummary
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves workspace Hg Summary record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HgSummaryDTO'
              examples:
                HgSummaryController_getHgSummary200Example:
                  summary: Default HgSummaryController_getHgSummary 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Hg Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    HgInjectionDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        hgTestSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        injectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        injectionHour:
          type: number
          example: 0.0
        injectionMinute:
          type: number
          example: 0.0
        measuredValue:
          type: number
          example: 0.0
        referenceValue:
          type: number
          example: 0.0
      required:
      - id
      - hgTestSumId
      - userId
      - addDate
      - updateDate
      - injectionDate
      - injectionHour
      - injectionMinute
    HgSummaryDTO:
      type: object
      properties:
        hgInjectionData:
          type: array
          items:
            $ref: '#/components/schemas/HgInjectionDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedMeanMeasuredValue:
          type: number
          example: 35.5
        calculatedMeanReferenceValue:
          type: number
          example: 35.5
        calculatedPercentError:
          type: number
          example: 35.5
        calculatedAPSIndicator:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        gasLevelCode:
          type: string
          example: string
        meanMeasuredValue:
          type: number
          example: 0.0
        meanReferenceValue:
          type: number
          example: 0.0
        percentError:
          type: number
          example: 0.0
        apsIndicator:
          type: number
          example: 0.0
      required:
      - hgInjectionData
      - id
      - testSumId
      - calculatedMeanMeasuredValue
      - calculatedMeanReferenceValue
      - calculatedPercentError
      - calculatedAPSIndicator
      - userId
      - addDate
      - updateDate
      - gasLevelCode
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
