openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Unit Default Test API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Unit Default Test
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/unit-default-tests:
    get:
      operationId: UnitDefaultTestController_getUnitDefaultTests
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Unit Default Test records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitDefaultTestRecordDTO'
              examples:
                UnitDefaultTestController_getUnitDefaultTests200Example:
                  summary: Default UnitDefaultTestController_getUnitDefaultTests 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Unit Default Test
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/unit-default-tests/{id}:
    get:
      operationId: UnitDefaultTestController_getUnitDefaultTest
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Unit Default Test record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitDefaultTestRecordDTO'
              examples:
                UnitDefaultTestController_getUnitDefaultTest200Example:
                  summary: Default UnitDefaultTestController_getUnitDefaultTest 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Unit Default Test
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UnitDefaultTestRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedNoxDefaultRate:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        fuelCode:
          type: string
          example: string
        noxDefaultRate:
          type: number
          example: 0.0
        operatingConditionCode:
          type: string
          example: string
        groupId:
          type: string
          maxLength: 10
          example: '12345'
        numberOfUnitsInGroup:
          type: number
          example: 0.0
        numberOfTestsForGroup:
          type: number
          example: 0.0
      required:
      - id
      - testSumId
      - calculatedNoxDefaultRate
      - userId
      - addDate
      - updateDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
