openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification QA Certification Event API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: QA Certification Event
paths:
  /qa-certification-mgmt/locations/{locId}/qa-certification-events:
    get:
      operationId: QaCertificationEventController_getQACertEvents
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official QA Certification Event records by Location Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/QACertificationEventDTO'
              examples:
                QaCertificationEventController_getQACertEvents200Example:
                  summary: Default QaCertificationEventController_getQACertEvents 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - QA Certification Event
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/qa-certification-events/{id}:
    get:
      operationId: QaCertificationEventController_getQACertEvent
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves QA Certification Event record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QACertificationEventDTO'
              examples:
                QaCertificationEventController_getQACertEvent200Example:
                  summary: Default QaCertificationEventController_getQACertEvent 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - QA Certification Event
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    QACertificationEventDTO:
      type: object
      properties:
        stackPipeId:
          type: string
          description: Stack Pipe Identifier. ADD TO PROPERTY METADATA
          example: '12345'
        unitId:
          type: string
          description: Unique identifier for each unit at a facility.
          example: '12345'
        monitoringSystemId:
          type: string
          description: Unique identifier of a monitoring system record.
          example: '12345'
        componentId:
          type: string
          description: The three digit code assigned by the source to identify the component.
          example: '12345'
        id:
          type: string
          example: '12345'
        locationId:
          type: string
          example: '12345'
        lastUpdated:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updatedStatusFlag:
          type: string
          example: active
        needsEvalFlag:
          type: string
          example: string
        checkSessionId:
          type: string
          example: '12345'
        submissionId:
          type: number
          example: 0.0
        submissionAvailabilityCode:
          type: string
          example: string
        pendingStatusCode:
          type: string
          example: active
        evalStatusCode:
          type: string
          example: active
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        isSubmitted:
          type: boolean
          example: true
        isSavedNotSubmitted:
          type: boolean
          example: true
        certificationEventCode:
          type: string
          example: string
        certificationEventDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        certificationEventHour:
          type: number
          example: 0.0
        requiredTestCode:
          type: string
          example: string
        conditionalBeginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        conditionalBeginHour:
          type: number
          example: 0.0
        completionTestDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        completionTestHour:
          type: number
          example: 0.0
        version:
          type: string
          example: string
      required:
      - stackPipeId
      - unitId
      - id
      - locationId
      - lastUpdated
      - updatedStatusFlag
      - needsEvalFlag
      - checkSessionId
      - submissionId
      - submissionAvailabilityCode
      - pendingStatusCode
      - evalStatusCode
      - userId
      - addDate
      - updateDate
      - certificationEventCode
      - certificationEventDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
