openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Appendix E Correlation Test Run API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Appendix E Correlation Test Run
paths:
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/appendix-e-correlation-test-summaries/{appECorrTestSumId}/appendix-e-correlation-test-runs
  : get:
      operationId: AppECorrelationTestRunController_getAppECorrelationTestRuns
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves an official Appendix E Correlation Test Run records by Appendix E Correlation Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppECorrelationTestRunBaseDTO'
              examples:
                AppECorrelationTestRunController_getAppECorrelationTestRuns200Example:
                  summary: Default AppECorrelationTestRunController_getAppECorrelationTestRuns 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Appendix E Correlation Test Run
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/appendix-e-correlation-test-summaries/{appECorrTestSumId}/appendix-e-correlation-test-runs/{id}
  : get:
      operationId: AppECorrelationTestRunController_getAppECorrelationTestRun
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves an official Appendix E Correlation Test Run record by its unique Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppECorrelationTestRunRecordDTO'
              examples:
                AppECorrelationTestRunController_getAppECorrelationTestRun200Example:
                  summary: Default AppECorrelationTestRunController_getAppECorrelationTestRun 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Appendix E Correlation Test Run
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AppECorrelationTestRunBaseDTO:
      type: object
      properties:
        runNumber:
          type: number
          example: 0.0
        referenceValue:
          type: number
          example: 0.0
        hourlyHeatInputRate:
          type: number
          example: 0.0
        totalHeatInput:
          type: number
          example: 0.0
        responseTime:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        beginMinute:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        endMinute:
          type: number
          example: 0.0
      required:
      - runNumber
      - beginDate
      - beginHour
      - beginMinute
      - endDate
      - endHour
      - endMinute
    AppECorrelationTestRunRecordDTO:
      type: object
      properties:
        runNumber:
          type: number
          example: 0.0
        referenceValue:
          type: number
          example: 0.0
        hourlyHeatInputRate:
          type: number
          example: 0.0
        totalHeatInput:
          type: number
          example: 0.0
        responseTime:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        beginMinute:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        endMinute:
          type: number
          example: 0.0
        id:
          type: string
          example: '12345'
        appECorrTestSumId:
          type: string
          example: '12345'
        calculatedHourlyHeatInputRate:
          type: number
          example: 35.5
        calculatedTotalHeatInput:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
      required:
      - runNumber
      - beginDate
      - beginHour
      - beginMinute
      - endDate
      - endHour
      - endMinute
      - id
      - appECorrTestSumId
      - calculatedHourlyHeatInputRate
      - calculatedTotalHeatInput
      - userId
      - addDate
      - updateDate
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
