openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes MATS Methods API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: MATS Methods
paths:
  /monitor-plan-mgmt/locations/{locId}/mats-methods:
    get:
      operationId: MatsMethodController_getMethods
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official MATS Method records for a monitor location
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MatsMethodDTO'
              examples:
                MatsMethodController_getMethods200Example:
                  summary: Default MatsMethodController_getMethods 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - MATS Methods
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MatsMethodDTO:
      type: object
      properties:
        supplementalMATSParameterCode:
          type: string
          description: Code used to identify the MATS parameter.
          example: QST
        supplementalMATSMonitoringMethodCode:
          type: string
          description: Code used to identify the MATS compliance methodology.
          example: TNHGM
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2016-04-28'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 1
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective. This date will be null for active records.
          example: '2020-04-28'
        endHour:
          type: number
          description: Last hour in which information was effective. This value will be null for active records.
          example: 23
        id:
          type: string
          description: Unique identifier of a MATS compliance method record.
          example: MELISSARHO-FD768B60E4D343158F7AD52EFD704D0E
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2016-02-23'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2016-02-23'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - supplementalMATSParameterCode
      - supplementalMATSMonitoringMethodCode
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
