openapi: 3.2.0
info:
  title: CAMD Administrative & General Services OpenAPI Specification Bulk Files API
  description: Provides administrative & general services for CAMD applications.
  version: 'v2.0.146 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Bulk Files
paths:
  /camd-services/bulk-files:
    get:
      description: Retrieves a list of bulk data files and their metadata from S3.
      operationId: BulkFileController_getBulkFiles
      parameters: []
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BulkFileDTO'
              examples:
                BulkFileController_getBulkFiles200Example:
                  summary: Default BulkFileController_getBulkFiles 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: ''
      tags:
      - Bulk Files
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    BulkFileDTO:
      type: object
      properties:
        filename:
          type: string
          example: EPA Facility
        s3Path:
          type: string
          example: string
        bytes:
          type: number
          example: 0.0
        kiloBytes:
          type: number
          example: 0.0
        megaBytes:
          type: number
          example: 0.0
        gigaBytes:
          type: number
          example: 0.0
        lastUpdated:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        metadata:
          type: object
          example: {}
      required:
      - filename
      - s3Path
      - bytes
      - kiloBytes
      - megaBytes
      - gigaBytes
      - lastUpdated
      - metadata
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
    ClientToken:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" client JWT token required for api endpoints
    ClientId:
      type: apiKey
      in: header
      name: x-client-id
      description: ClientId required via "x-client-id" request header
