openapi: 3.2.0
info:
  title: Master Data Management OpenAPI Specification Unit Type Codes API
  description: Provides reference codes, descriptions, & relationship data for CAMD applications
  version: 'v2.0.106 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Unit Type Codes
paths:
  /master-data-mgmt/unit-type-codes:
    get:
      description: Returns a list of Unit Type codes & descriptions.
      operationId: UnitTypeController_getUnitTypeCodes
      parameters: []
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitTypeDTO'
              examples:
                UnitTypeController_getUnitTypeCodes200Example:
                  summary: Default UnitTypeController_getUnitTypeCodes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: ''
      tags:
      - Unit Type Codes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UnitTypeDTO:
      type: object
      properties:
        unitTypeCode:
          type: string
          example: string
        unitTypeDescription:
          type: string
          example: string
        unitTypeGroupCode:
          type: string
          example: string
        unitTypeGroupDescription:
          type: string
          example: string
        sortOrder:
          type: string
          example: string
      required:
      - unitTypeCode
      - unitTypeDescription
      - unitTypeGroupCode
      - unitTypeGroupDescription
      - sortOrder
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
