openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Emissions Compliance API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Emissions Compliance
paths:
  /account-mgmt/emissions-compliance:
    get:
      operationId: EmissionsComplianceController_getEmissionsCompliance
      parameters:
      - name: stateCode
        required: false
        in: query
        description: Two letter abbreviation for the State.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AL
            - AK
            - AS
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FM
            - FL
            - GA
            - GU
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MH
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - MP
            - OH
            - OK
            - OR
            - PW
            - PA
            - PR
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VI
            - VA
            - WA
            - WV
            - WI
            - WY
        example:
        - AL
      - name: facilityId
        required: false
        in: query
        description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 0.0
      - name: ownerOperator
        required: false
        in: query
        description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: year
        required: false
        in: query
        description: The calendar year during which activity occurred.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 2024
      - name: page
        required: true
        in: query
        description: Page number of data being requested.
        schema:
          type: number
        example: 0.0
      - name: perPage
        required: true
        in: query
        description: Number of results per page.
        schema:
          type: number
        example: 0.0
      responses:
        '200':
          description: Retrieves Emissions Compliance Data per filter criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmissionsComplianceDTO'
              examples:
                EmissionsComplianceController_getEmissionsCompliance200Example:
                  summary: Default EmissionsComplianceController_getEmissionsCompliance 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
            text/csv:
              schema:
                type: string
                example: Year,Facility Name,Facility ID,Unit ID,Owner/Operator,State,Compliance Approach,Averaging Plan ID,Emissions Limit (lb/mmBtu),Actual Emissions Rate (lb/mmBtu),Averaging Plan Actual Rate (lb/mmBtu),In Compliance?
              examples:
                EmissionsComplianceController_getEmissionsCompliance200Example:
                  summary: Default EmissionsComplianceController_getEmissionsCompliance 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Emissions Compliance
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /account-mgmt/emissions-compliance/attributes/applicable:
    get:
      operationId: EmissionsComplianceController_getAllApplicableEmissionsComplianceAttributes
      parameters: []
      responses:
        '200':
          description: Retrieved All Applicable Emissions Compliance Attributes
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicableComplianceAttributesDTO'
              examples:
                EmissionsComplianceController_getAllApplicableEmissionsComplianceAttributes200Example:
                  summary: Default EmissionsComplianceController_getAllApplicableEmissionsComplianceAttributes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Emissions Compliance
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /account-mgmt/emissions-compliance/owner-operators:
    get:
      operationId: EmissionsComplianceController_getAllOwnerOperators
      parameters: []
      responses:
        '200':
          description: Retrieved All Valid Owner Operators
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/OwnerOperatorsDTO'
              examples:
                EmissionsComplianceController_getAllOwnerOperators200Example:
                  summary: Default EmissionsComplianceController_getAllOwnerOperators 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Emissions Compliance
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /streaming-services/emissions-compliance:
    get:
      operationId: EmissionsComplianceController_streamEmissionsCompliance
      parameters:
      - name: stateCode
        required: false
        in: query
        description: Two letter abbreviation for the State.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AL
            - AK
            - AS
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FM
            - FL
            - GA
            - GU
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MH
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - MP
            - OH
            - OK
            - OR
            - PW
            - PA
            - PR
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VI
            - VA
            - WA
            - WV
            - WI
            - WY
        example:
        - AL
      - name: facilityId
        required: false
        in: query
        description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 0.0
      - name: ownerOperator
        required: false
        in: query
        description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: year
        required: false
        in: query
        description: The calendar year during which activity occurred.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 2024
      - name: exclude
        required: false
        in: query
        description: Selected items will be excluded from the response
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - ownerOperator
            - unit_id
        example:
        - ownerOperator
      responses:
        '200':
          description: Streams Emission-Compliance Data per filter criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmissionsComplianceDTO'
              examples:
                EmissionsComplianceController_streamEmissionsCompliance200Example:
                  summary: Default EmissionsComplianceController_streamEmissionsCompliance 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
            text/csv:
              schema:
                type: string
                example: Year,Facility Name,Facility ID,Unit ID,Owner/Operator,State,Compliance Approach,Averaging Plan ID,Emissions Limit (lb/mmBtu),Actual Emissions Rate (lb/mmBtu),Averaging Plan Actual Rate (lb/mmBtu),In Compliance?
              examples:
                EmissionsComplianceController_streamEmissionsCompliance200Example:
                  summary: Default EmissionsComplianceController_streamEmissionsCompliance 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Emissions Compliance
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OwnerOperatorsDTO:
      type: object
      properties:
        ownerOperator:
          type: string
          description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
          example: Alabama Power Company
        ownType:
          type: string
          description: Owner/Operator type. Either Owner, Operator, or Both.
          example: OPR
      required:
      - ownerOperator
      - ownType
    ApplicableComplianceAttributesDTO:
      type: object
      properties:
        year:
          type: number
          description: The calendar year during which activity occurred.
          example: 2020
        facilityId:
          type: number
          description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
          example: 3
        stateCode:
          type: string
          description: Two letter abbreviation for the State.
          example: AK
        ownerOperator:
          type: string
          description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
          example: Alabama Power Company
      required:
      - stateCode
      - ownerOperator
    EmissionsComplianceDTO:
      type: object
      properties:
        year:
          type: number
          description: The calendar year during which activity occurred.
          example: 2020
        facilityName:
          type: string
          description: The name given by the owners and operators to a facility
          example: Barry
        facilityId:
          type: number
          description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
          example: 3
        unitId:
          type: string
          description: Unique identifier for each unit at a facility.
          example: 5
        ownerOperator:
          type: string
          description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
          example: Alabama Power Company (Operator)|Alabama Power Company (Owner)
        stateCode:
          type: string
          description: Two letter abbreviation for the State.
          example: AK
        complianceApproach:
          type: string
          description: For ARP NOx, approach used to meet compliance requirements (averaging plan, standard limit, or alternative limit).
          example: Averaging Plan
        avgPlanId:
          type: number
          description: For ARP NOx, the unique identification number that associates a group of units with a single averaging plan.
          example: 492
        emissionsLimitDisplay:
          type: number
          description: For ARP NOx, the applicable emissions limit based on compliance plan. May either be unit-specific or part of an averaging plan. (lb/mmBtu)
          example: 0.55
        actualEmissionsRate:
          type: number
          description: For ARP NOx, the actual rate at which a pollutant was emitted during a given time period for a single unit. (lb/mmBtu)
          example: 0.5
        avgPlanActual:
          type: number
          description: For ARP NOx, the average actual rate at which a pollutant was emitted during a given time period for the group of units in the averaging plan. (lb/mmBtu)
          example: 0.55
        inCompliance:
          type: string
          description: A facility is in compliance if, at the end of the compliance period, the facility owns enough allowances to cover the amount of pollutant emitted (or for ARP NOx, the actual emissions rate of the pollutant was below the emissions limit).
          example: 'YES'
      required:
      - facilityName
      - unitId
      - ownerOperator
      - stateCode
      - complianceApproach
      - inCompliance
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
