openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Protocol Gas API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Protocol Gas
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/protocol-gases:
    get:
      operationId: ProtocolGasController_getProtocolGases
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Protocol Gas records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProtocolGasDTO'
              examples:
                ProtocolGasController_getProtocolGases200Example:
                  summary: Default ProtocolGasController_getProtocolGases 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Protocol Gas
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/protocol-gases/{id}:
    get:
      operationId: ProtocolGasController_getProtocolGas
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Protocol Gas record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtocolGasRecordDTO'
              examples:
                ProtocolGasController_getProtocolGas200Example:
                  summary: Default ProtocolGasController_getProtocolGas 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Protocol Gas
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ProtocolGasRecordDTO:
      type: object
      properties:
        gasTypeCode:
          type: string
          description: gasTypeCode. ADD TO PROPERTY METADATA
          example: string
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        gasLevelCode:
          type: string
          example: string
        cylinderIdentifier:
          type: string
          maxLength: 25
          example: '12345'
        vendorIdentifier:
          type: string
          example: '12345'
        expirationDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
      required:
      - gasTypeCode
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
      - gasLevelCode
    ProtocolGasDTO:
      type: object
      properties:
        gasTypeCode:
          type: string
          description: gasTypeCode. ADD TO PROPERTY METADATA
          example: string
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        gasLevelCode:
          type: string
          example: string
        cylinderIdentifier:
          type: string
          maxLength: 25
          example: '12345'
        vendorIdentifier:
          type: string
          example: '12345'
        expirationDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
      required:
      - gasTypeCode
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
      - gasLevelCode
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
