openapi: 3.2.0
info:
  title: Monitor Plan Management OpenAPI Specification MATS Methods API
  description: Monitor Plan management API endpoints for all monitor plan data & operations
  version: 'v2.0.118 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: MATS Methods
paths:
  /monitor-plan-mgmt/locations/{locId}/mats-methods:
    get:
      operationId: MatsMethodController_getMethods
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official MATS Method records for a monitor location
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MatsMethodDTO'
              examples:
                MatsMethodController_getMethods200Example:
                  summary: Default MatsMethodController_getMethods 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - MATS Methods
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MatsMethodDTO:
      type: object
      properties:
        supplementalMATSParameterCode:
          type: string
          description: Code used to identify the MATS parameter.
          example: QST
        supplementalMATSMonitoringMethodCode:
          type: string
          description: Code used to identify the MATS compliance methodology.
          example: TNHGM
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2016-04-28'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 1
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective. This date will be null for active records.
          example: '2020-04-28'
        endHour:
          type: number
          description: Last hour in which information was effective. This value will be null for active records.
          example: 23
        id:
          type: string
          description: Unique identifier of a MATS compliance method record.
          example: MELISSARHO-FD768B60E4D343158F7AD52EFD704D0E
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2016-02-23'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2016-02-23'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - supplementalMATSParameterCode
      - supplementalMATSMonitoringMethodCode
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
