openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Online Offline Calibration API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Online Offline Calibration
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/online-offline-calibration:
    get:
      operationId: OnlineOfflineCalibrationController_getOnlineOfflineCalibrations
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Online Offline Calibration records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/OnlineOfflineCalibrationDTO'
              examples:
                OnlineOfflineCalibrationController_getOnlineOfflineCalibrations200Example:
                  summary: Default OnlineOfflineCalibrationController_getOnlineOfflineCalibrations 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Online Offline Calibration
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/online-offline-calibration/{id}:
    get:
      operationId: OnlineOfflineCalibrationController_getOnlineOfflineCalibration
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Online Offline Calibration record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnlineOfflineCalibrationRecordDTO'
              examples:
                OnlineOfflineCalibrationController_getOnlineOfflineCalibration200Example:
                  summary: Default OnlineOfflineCalibrationController_getOnlineOfflineCalibration 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Online Offline Calibration
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OnlineOfflineCalibrationRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        onlineZeroInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        onlineZeroInjectionHour:
          type: number
          example: 0.0
        onlineZeroCalibrationError:
          type: number
          example: 0.0
        onlineZeroAPSIndicator:
          type: number
          example: 0.0
        onlineZeroMeasuredValue:
          type: number
          example: 0.0
        onlineZeroReferenceValue:
          type: number
          example: 0.0
        onlineUpscaleCalibrationError:
          type: number
          example: 0.0
        onlineUpscaleAPSIndicator:
          type: number
          example: 0.0
        onlineUpscaleInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        onlineUpscaleInjectionHour:
          type: number
          example: 0.0
        onlineUpscaleMeasuredValue:
          type: number
          example: 0.0
        onlineUpscaleReferenceValue:
          type: number
          example: 0.0
        offlineZeroCalibrationError:
          type: number
          example: 0.0
        offlineZeroAPSIndicator:
          type: number
          example: 0.0
        offlineZeroInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        offlineZeroInjectionHour:
          type: number
          example: 0.0
        offlineZeroMeasuredValue:
          type: number
          example: 0.0
        offlineZeroReferenceValue:
          type: number
          example: 0.0
        offlineUpscaleCalibrationError:
          type: number
          example: 0.0
        offlineUpscaleAPSIndicator:
          type: number
          example: 0.0
        offlineUpscaleInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        offlineUpscaleInjectionHour:
          type: number
          example: 0.0
        offlineUpscaleMeasuredValue:
          type: number
          example: 0.0
        offlineUpscaleReferenceValue:
          type: number
          example: 0.0
        upscaleGasLevelCode:
          type: string
          example: string
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
    OnlineOfflineCalibrationDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        onlineZeroInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        onlineZeroInjectionHour:
          type: number
          example: 0.0
        onlineZeroCalibrationError:
          type: number
          example: 0.0
        onlineZeroAPSIndicator:
          type: number
          example: 0.0
        onlineZeroMeasuredValue:
          type: number
          example: 0.0
        onlineZeroReferenceValue:
          type: number
          example: 0.0
        onlineUpscaleCalibrationError:
          type: number
          example: 0.0
        onlineUpscaleAPSIndicator:
          type: number
          example: 0.0
        onlineUpscaleInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        onlineUpscaleInjectionHour:
          type: number
          example: 0.0
        onlineUpscaleMeasuredValue:
          type: number
          example: 0.0
        onlineUpscaleReferenceValue:
          type: number
          example: 0.0
        offlineZeroCalibrationError:
          type: number
          example: 0.0
        offlineZeroAPSIndicator:
          type: number
          example: 0.0
        offlineZeroInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        offlineZeroInjectionHour:
          type: number
          example: 0.0
        offlineZeroMeasuredValue:
          type: number
          example: 0.0
        offlineZeroReferenceValue:
          type: number
          example: 0.0
        offlineUpscaleCalibrationError:
          type: number
          example: 0.0
        offlineUpscaleAPSIndicator:
          type: number
          example: 0.0
        offlineUpscaleInjectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        offlineUpscaleInjectionHour:
          type: number
          example: 0.0
        offlineUpscaleMeasuredValue:
          type: number
          example: 0.0
        offlineUpscaleReferenceValue:
          type: number
          example: 0.0
        upscaleGasLevelCode:
          type: string
          example: string
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
