openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Defaults API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Defaults
paths:
  /monitor-plan-mgmt/locations/{locId}/defaults:
    get:
      operationId: MonitorDefaultController_getDefaults
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official default records for a monitor location
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitorDefaultDTO'
              examples:
                MonitorDefaultController_getDefaults200Example:
                  summary: Default MonitorDefaultController_getDefaults 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Defaults
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MonitorDefaultDTO:
      type: object
      properties:
        parameterCode:
          type: string
          description: Code used to identify the parameter.
          example: CO2N
        defaultValue:
          type: number
          description: Value of default, maximum, minimum or constant.
          example: 5
        defaultUnitsOfMeasureCode:
          type: string
          description: Code used to identify the hourly parameter units of measure.
          example: PCT
        defaultPurposeCode:
          type: string
          description: Code used to identify the purpose or intended use of defaults, maximums and constants.
          example: DC
        fuelCode:
          type: string
          description: Code used to identify the type of fuel.
          example: NFS
        operatingConditionCode:
          type: string
          description: Code used to identify the operating condition.
          example: A
        defaultSourceCode:
          type: string
          description: Code used to identify the source of the default value.
          example: DEF
        groupId:
          type: string
          maxLength: 10
          description: For a group of identical LME units using testing to determine default NOx rate, this ID identifies the group.
          example: GP2249
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2008-01-01'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 1
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring default record.
          example: MELISSAMAT-65FB5323A47A459B8FF3E2996EA4EB78
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: 'true'
      required:
      - parameterCode
      - defaultValue
      - defaultUnitsOfMeasureCode
      - defaultPurposeCode
      - fuelCode
      - operatingConditionCode
      - defaultSourceCode
      - groupId
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
