openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Rata API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Rata
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/rata:
    get:
      operationId: RataController_getRatas
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves workspace RATA records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/RataRecordDTO'
              examples:
                RataController_getRatas200Example:
                  summary: Default RataController_getRatas 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Rata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/rata/{id}:
    get:
      operationId: RataController_getRata
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves workspace RATA record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RataRecordDTO'
              examples:
                RataController_getRata200Example:
                  summary: Default RataController_getRata 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Rata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RataRecordDTO:
      type: object
      properties:
        numberOfLoadLevels:
          type: number
          description: NumberOfLoadLevels. ADD TO PROPERTY METADATA
          example: 0.0
        relativeAccuracy:
          type: number
          description: relativeAccuracy. ADD TO PROPERTY METADATA
          example: 35.5
        rataFrequencyCode:
          type: string
          description: rataFrequencyCode. ADD TO PROPERTY METADATA
          example: string
        overallBiasAdjustmentFactor:
          type: number
          description: overallBiasAdjustmentFactor. ADD TO PROPERTY METADATA
          example: 0.0
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedRataFrequencyCode:
          type: string
          example: string
        calculatedRelativeAccuracy:
          type: number
          example: 35.5
        calculatedOverallBiasAdjustmentFactor:
          type: number
          example: 35.5
        calculatedNumberOfLoadLevel:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
      required:
      - id
      - testSumId
      - calculatedRataFrequencyCode
      - calculatedRelativeAccuracy
      - calculatedOverallBiasAdjustmentFactor
      - calculatedNumberOfLoadLevel
      - userId
      - addDate
      - updateDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
