openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Bulk Files API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Bulk Files
paths:
  /camd-services/bulk-files:
    get:
      description: Retrieves a list of bulk data files and their metadata from S3.
      operationId: BulkFileController_getBulkFiles
      parameters: []
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BulkFileDTO'
              examples:
                BulkFileController_getBulkFiles200Example:
                  summary: Default BulkFileController_getBulkFiles 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: ''
      tags:
      - Bulk Files
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    BulkFileDTO:
      type: object
      properties:
        filename:
          type: string
          example: EPA Facility
        s3Path:
          type: string
          example: string
        bytes:
          type: number
          example: 0.0
        kiloBytes:
          type: number
          example: 0.0
        megaBytes:
          type: number
          example: 0.0
        gigaBytes:
          type: number
          example: 0.0
        lastUpdated:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        metadata:
          type: object
          example: {}
      required:
      - filename
      - s3Path
      - bytes
      - kiloBytes
      - megaBytes
      - gigaBytes
      - lastUpdated
      - metadata
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
