openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Cycle Time Injection API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Cycle Time Injection
paths:
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/cycle-time-summaries/{cycleTimeSumId}/cycle-time-injections
  : get:
      operationId: CycleTimeInjectionController_getCycleTimeInjections
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: cycleTimeSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retreives official Cycle Time Injection records by Cycle Time Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CycleTimeInjectionRecordDTO'
              examples:
                CycleTimeInjectionController_getCycleTimeInjections200Example:
                  summary: Default CycleTimeInjectionController_getCycleTimeInjections 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Cycle Time Injection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/cycle-time-summaries/{cycleTimeSumId}/cycle-time-injections/{id}
  : get:
      operationId: CycleTimeInjectionController_getCycleTimeInjection
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: cycleTimeSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves workspace Cycle Time Injection record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CycleTimeInjectionRecordDTO'
              examples:
                CycleTimeInjectionController_getCycleTimeInjection200Example:
                  summary: Default CycleTimeInjectionController_getCycleTimeInjection 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Cycle Time Injection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CycleTimeInjectionRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        cycleTimeSumId:
          type: string
          example: '12345'
        calculatedInjectionCycleTime:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        gasLevelCode:
          type: string
          example: string
        calibrationGasValue:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        beginMinute:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        endMinute:
          type: number
          example: 0.0
        injectionCycleTime:
          type: number
          example: 0.0
        beginMonitorValue:
          type: number
          example: 0.0
        endMonitorValue:
          type: number
          example: 0.0
      required:
      - id
      - cycleTimeSumId
      - calculatedInjectionCycleTime
      - userId
      - addDate
      - updateDate
      - gasLevelCode
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
