openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Linearity Summary API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Linearity Summary
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/linearities:
    get:
      operationId: LinearitySummaryController_getLinearitySummaries
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Linearity Summary records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LinearitySummaryRecordDTO'
              examples:
                LinearitySummaryController_getLinearitySummaries200Example:
                  summary: Default LinearitySummaryController_getLinearitySummaries 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Linearity Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/linearities/{id}:
    get:
      operationId: LinearitySummaryController_getLinearitySummary
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Linearity Summary record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinearitySummaryRecordDTO'
              examples:
                LinearitySummaryController_getLinearitySummary200Example:
                  summary: Default LinearitySummaryController_getLinearitySummary 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Linearity Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    LinearitySummaryRecordDTO:
      type: object
      properties:
        gasLevelCode:
          type: string
          description: gasLevelCode. ADD TO PROPERTY METADATA
          example: string
        meanMeasuredValue:
          type: number
          description: meanMeasuredValue. ADD TO PROPERTY METADATA
          example: 0.0
        meanReferenceValue:
          type: number
          description: meanReferenceValue. ADD TO PROPERTY METADATA
          example: 0.0
        percentError:
          type: number
          description: percentError. ADD TO PROPERTY METADATA
          example: 0.0
        apsIndicator:
          type: number
          description: Used to indicate if the alternative performance specification (APS) is used.
          example: 0
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedMeanReferenceValue:
          type: number
          example: 35.5
        calculatedMeanMeasuredValue:
          type: number
          example: 35.5
        calculatedPercentError:
          type: number
          example: 35.5
        calculatedAPSIndicator:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
      required:
      - gasLevelCode
      - id
      - testSumId
      - calculatedMeanReferenceValue
      - calculatedMeanMeasuredValue
      - calculatedPercentError
      - calculatedAPSIndicator
      - userId
      - addDate
      - updateDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
