openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Appendix E Correlation Test Run API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Appendix E Correlation Test Run
paths:
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/appendix-e-correlation-test-summaries/{appECorrTestSumId}/appendix-e-correlation-test-runs
  : get:
      operationId: AppECorrelationTestRunController_getAppECorrelationTestRuns
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves an official Appendix E Correlation Test Run records by Appendix E Correlation Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppECorrelationTestRunBaseDTO'
              examples:
                AppECorrelationTestRunController_getAppECorrelationTestRuns200Example:
                  summary: Default AppECorrelationTestRunController_getAppECorrelationTestRuns 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Appendix E Correlation Test Run
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/appendix-e-correlation-test-summaries/{appECorrTestSumId}/appendix-e-correlation-test-runs/{id}
  : get:
      operationId: AppECorrelationTestRunController_getAppECorrelationTestRun
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves an official Appendix E Correlation Test Run record by its unique Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppECorrelationTestRunRecordDTO'
              examples:
                AppECorrelationTestRunController_getAppECorrelationTestRun200Example:
                  summary: Default AppECorrelationTestRunController_getAppECorrelationTestRun 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Appendix E Correlation Test Run
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AppECorrelationTestRunRecordDTO:
      type: object
      properties:
        runNumber:
          type: number
          example: 0.0
        referenceValue:
          type: number
          example: 0.0
        hourlyHeatInputRate:
          type: number
          example: 0.0
        totalHeatInput:
          type: number
          example: 0.0
        responseTime:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        beginMinute:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        endMinute:
          type: number
          example: 0.0
        id:
          type: string
          example: '12345'
        appECorrTestSumId:
          type: string
          example: '12345'
        calculatedHourlyHeatInputRate:
          type: number
          example: 35.5
        calculatedTotalHeatInput:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
      required:
      - runNumber
      - beginDate
      - beginHour
      - beginMinute
      - endDate
      - endHour
      - endMinute
      - id
      - appECorrTestSumId
      - calculatedHourlyHeatInputRate
      - calculatedTotalHeatInput
      - userId
      - addDate
      - updateDate
    AppECorrelationTestRunBaseDTO:
      type: object
      properties:
        runNumber:
          type: number
          example: 0.0
        referenceValue:
          type: number
          example: 0.0
        hourlyHeatInputRate:
          type: number
          example: 0.0
        totalHeatInput:
          type: number
          example: 0.0
        responseTime:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        beginMinute:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        endMinute:
          type: number
          example: 0.0
      required:
      - runNumber
      - beginDate
      - beginHour
      - beginMinute
      - endDate
      - endHour
      - endMinute
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
