openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Attributes API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Attributes
paths:
  /monitor-plan-mgmt/locations/{locId}/attributes:
    get:
      operationId: MonitorAttributeController_getAttributes
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official attribute records for a monitor location
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitorAttributeDTO'
              examples:
                MonitorAttributeController_getAttributes200Example:
                  summary: Default MonitorAttributeController_getAttributes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Attributes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MonitorAttributeDTO:
      type: object
      properties:
        ductIndicator:
          type: number
          description: Used to indicate that this location is a duct.
          example: '1'
        bypassIndicator:
          type: number
          description: Used to indicate that the stack is used for bypass.
          example: '1'
        groundElevation:
          type: number
          description: The number of feet above sea level at ground level of the stack or unit.
          example: 40
        stackHeight:
          type: number
          description: The height in feet of a stack exit above ground level.
          example: 400
        materialCode:
          type: string
          description: Code used to identify the material that is used in the monitoring location.
          example: OTHER
        shapeCode:
          type: string
          description: Code identifying the shape of a monitor location.
          example: ROUND
        crossAreaFlow:
          type: number
          description: The reported inside cross-sectional area in square feet of the stack or duct at the flow monitoring location.
          example: 306
        crossAreaStackExit:
          type: number
          description: The inside cross-sectional area in square feet of the stack at the exit.
          example: 306
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2008-01-01'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        id:
          type: string
          description: Unique combination of DB_Token and identity key generated by sequence generator.
          example: MELISSAMAT-E496678DE19E4827ADE4D541B18B5756
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - ductIndicator
      - bypassIndicator
      - groundElevation
      - stackHeight
      - materialCode
      - shapeCode
      - crossAreaFlow
      - crossAreaStackExit
      - beginDate
      - endDate
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
