openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Appendix E Correlation Test Summary API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Appendix E Correlation Test Summary
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/appendix-e-correlation-test-summaries:
    get:
      operationId: AppendixETestSummaryController_getAppECorrelations
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves Appendix E Correlation Test Summary records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppECorrelationTestSummaryRecordDTO'
              examples:
                AppendixETestSummaryController_getAppECorrelations200Example:
                  summary: Default AppendixETestSummaryController_getAppECorrelations 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Appendix E Correlation Test Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/appendix-e-correlation-test-summaries/{id}:
    get:
      operationId: AppendixETestSummaryController_getAppECorrelation
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves an Appendix E Correlation Test Summary record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppECorrelationTestSummaryRecordDTO'
              examples:
                AppendixETestSummaryController_getAppECorrelation200Example:
                  summary: Default AppendixETestSummaryController_getAppECorrelation 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Appendix E Correlation Test Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AppECorrelationTestSummaryRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedMeanReferenceValue:
          type: number
          example: 35.5
        calculatedAverageHourlyHeatInputRate:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        operatingLevelForRun:
          type: number
          example: 0.0
        meanReferenceValue:
          type: number
          example: 0.0
        averageHourlyHeatInputRate:
          type: number
          example: 0.0
        fFactor:
          type: number
          example: 0.0
      required:
      - id
      - testSumId
      - calculatedMeanReferenceValue
      - calculatedAverageHourlyHeatInputRate
      - userId
      - addDate
      - updateDate
      - operatingLevelForRun
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
