openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Sign Up API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Sign Up
  description: Account registration.
paths:
  /signup:
    get:
      tags:
      - Sign Up
      summary: Register for API Key
      operationId: signup
      security: []
      parameters:
      - $ref: '#/components/parameters/Email'
      responses:
        '200':
          description: Verification email sent.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    Email:
      name: email
      in: query
      required: true
      schema:
        type: string
        format: email
      description: Registered email address.
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
