openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Flow Rata Run API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Flow Rata Run
paths:
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/rata/{rataId}/rata-summaries/{rataSumId}/rata-runs/{rataRunId}/flow-rata-runs
  : get:
      operationId: FlowRataRunController_getFlowRataRuns
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: rataId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: rataSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: rataRunId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Flow Rata Run records by Flow Rata Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FlowRataRunDTO'
              examples:
                FlowRataRunController_getFlowRataRuns200Example:
                  summary: Default FlowRataRunController_getFlowRataRuns 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Flow Rata Run
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/rata/{rataId}/rata-summaries/{rataSumId}/rata-runs/{rataRunId}/flow-rata-runs/{id}
  : get:
      operationId: FlowRataRunController_getFlowRataRun
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: rataId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: rataSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: rataRunId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Flow Rata Run record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowRataRunDTO'
              examples:
                FlowRataRunController_getFlowRataRun200Example:
                  summary: Default FlowRataRunController_getFlowRataRun 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Flow Rata Run
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RataTraverseDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        flowRataRunId:
          type: string
          example: '12345'
        calculatedCalculatedVelocity:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        probeId:
          type: string
          maxLength: 11
          example: '12345'
        probeTypeCode:
          type: string
          example: string
        pressureMeasureCode:
          type: string
          example: string
        methodTraversePointId:
          type: string
          minLength: 1
          maxLength: 3
          example: '12345'
        velocityCalibrationCoefficient:
          type: number
          example: 0.0
        lastProbeDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        averageVelocityDifferencePressure:
          type: number
          example: 0.0
        averageSquareVelocityDifferencePressure:
          type: number
          example: 0.0
        tStackTemperature:
          type: number
          example: 0.0
        pointUsedIndicator:
          type: number
          example: 0.0
        numberWallEffectsPoints:
          type: number
          example: 0.0
        yawAngle:
          type: number
          example: 0.0
        pitchAngle:
          type: number
          example: 0.0
        calculatedVelocity:
          type: number
          example: 35.5
        replacementVelocity:
          type: number
          example: 0.0
      required:
      - id
      - flowRataRunId
      - calculatedCalculatedVelocity
      - userId
      - addDate
      - updateDate
      - probeId
      - probeTypeCode
      - pressureMeasureCode
      - methodTraversePointId
      - velocityCalibrationCoefficient
      - lastProbeDate
      - tStackTemperature
    FlowRataRunDTO:
      type: object
      properties:
        rataTraverseData:
          type: array
          items:
            $ref: '#/components/schemas/RataTraverseDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        rataRunId:
          type: string
          example: '12345'
        calculatedDryMolecularWeight:
          type: number
          example: 35.5
        calculatedWetMolecularWeight:
          type: number
          example: 35.5
        calculatedAverageVelocityWithoutWallEffects:
          type: number
          example: 35.5
        calculatedAverageVelocityWithWallEffects:
          type: number
          example: 35.5
        calculatedCalculatedWAF:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        numberOfTraversePoints:
          type: number
          minimum: 12
          maximum: 99
          example: 0.0
        barometricPressure:
          type: number
          example: 0.0
        staticStackPressure:
          type: number
          example: 0.0
        percentCO2:
          type: number
          example: 0.0
        percentO2:
          type: number
          example: 0.0
        percentMoisture:
          type: number
          example: 0.0
        dryMolecularWeight:
          type: number
          example: 0.0
        wetMolecularWeight:
          type: number
          example: 0.0
        averageVelocityWithoutWallEffects:
          type: number
          maximum: 9999.99
          example: 0.0
        averageVelocityWithWallEffects:
          type: number
          example: 0.0
        calculatedWAF:
          type: number
          example: 35.5
        averageStackFlowRate:
          type: number
          maximum: 9999999999
          example: 0.0
      required:
      - rataTraverseData
      - id
      - rataRunId
      - calculatedDryMolecularWeight
      - calculatedWetMolecularWeight
      - calculatedAverageVelocityWithoutWallEffects
      - calculatedAverageVelocityWithWallEffects
      - calculatedCalculatedWAF
      - userId
      - addDate
      - updateDate
      - numberOfTraversePoints
      - barometricPressure
      - staticStackPressure
      - percentCO2
      - percentO2
      - percentMoisture
      - wetMolecularWeight
      - averageVelocityWithoutWallEffects
      - averageStackFlowRate
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
