openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Apportioned Hourly MATS Emissions API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Apportioned Hourly MATS Emissions
paths:
  /emissions-mgmt/emissions/apportioned/mats/hourly:
    get:
      operationId: HourlyMatsApportionedEmissionsController_getEmissions
      parameters:
      - name: stateCode
        required: false
        in: query
        description: Two letter abbreviation for the State.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AL
            - AK
            - AS
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FM
            - FL
            - GA
            - GU
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MH
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - MP
            - OH
            - OK
            - OR
            - PW
            - PA
            - PR
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VI
            - VA
            - WA
            - WV
            - WI
            - WY
        example:
        - AL
      - name: facilityId
        required: false
        in: query
        description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 0.0
      - name: unitType
        required: false
        in: query
        description: Type of unit or boiler.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Arch-fired boiler
            - Bubbling fluidized bed boiler
            - Cyclone boiler
            - Cell burner boiler
            - Combined cycle
            - Circulating fluidized bed boiler
            - Combustion turbine
            - Dry bottom wall-fired boiler
            - Dry bottom turbo-fired boiler
            - Dry bottom vertically-fired boiler
            - Internal combustion engine
            - Integrated gasification combined cycle
            - Cement Kiln
            - Other boiler
            - Other turbine
            - Pressurized fluidized bed boiler
            - Process Heater
            - Stoker
            - Tangentially-fired
            - Wet bottom wall-fired boiler
            - Wet bottom turbo-fired boiler
            - Wet bottom vertically-fired boiler
        example:
        - Arch-fired boiler
      - name: unitFuelType
        required: false
        in: query
        description: Primary or Secondary fuel types combusted by the unit.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Coal
            - Coal Refuse
            - Diesel Oil
            - Liquified Petroleum Gas
            - Natural Gas
            - Other Gas
            - Other Oil
            - Other Solid Fuel
            - Petroleum Coke
            - Pipeline Natural Gas
            - Process Gas
            - Process Sludge
            - Refuse
            - Residual Oil
            - Tire Derived Fuel
            - Waste Liquid
            - Wood
        example:
        - Coal
      - name: controlTechnologies
        required: false
        in: query
        description: Method or equipment used by the combustion unit to minimize Hg, NOx, PM, or SO2 emissions.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Additives to Enhance PAC and Existing Equipment Performance
            - Ammonia Injection
            - Baghouse
            - Catalyst (gold, palladium, or other) used to oxidize mercury
            - Combustion Modification/Fuel Reburning
            - Cyclone
            - Dry Lime FGD
            - Dry Low NOx Burners
            - Dry Sorbent Injection
            - Dual Alkali
            - Electrostatic Precipitator
            - Fluidized Bed Limestone Injection
            - Halogenated PAC Sorbent Injection
            - Hybrid ESP
            - Low NOx Burner Technology (Dry Bottom only)
            - Low NOx Burner Technology w/ Closed-coupled OFA
            - Low NOx Burner Technology w/ Closed-coupled/Separated OFA
            - Low NOx Burner Technology w/ Overfire Air
            - Low NOx Burner Technology w/ Separated OFA
            - Low NOx Cell Burner
            - Magnesium Oxide
            - Other
            - Other (Non PAC) Sorbent Injection
            - Overfire Air
            - Regenerative Activated Coke Technology
            - Selective Catalytic Reduction
            - Selective Non-catalytic Reduction
            - Sodium Based
            - Steam Injection
            - Untreated PAC Sorbent Injection
            - Water Injection
            - Wet ESP
            - Wet Lime FGD
            - Wet Limestone
            - Wet Scrubber
        example:
        - Additives to Enhance PAC and Existing Equipment Performance
      - name: beginDate
        required: true
        in: query
        description: Begin date for a given period of a unit's emissions.
        schema:
          format: date-time
          type: string
        example: '2024-01-15T12:00:00Z'
      - name: endDate
        required: true
        in: query
        description: End date for a given period of a unit's emissions.
        schema:
          format: date-time
          type: string
        example: '2024-01-15T12:00:00Z'
      - name: operatingHoursOnly
        required: false
        in: query
        description: Indicator of whether or not a request should return only data for hours where a unit operated.
        schema:
          type: boolean
        example: true
      - name: page
        required: true
        in: query
        description: Page number of data being requested.
        schema:
          type: number
        example: 0.0
      - name: perPage
        required: true
        in: query
        description: Number of results per page.
        schema:
          type: number
        example: 0.0
      responses:
        '200':
          description: Retrieves Hourly MATS Apportioned Emissions per filter criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/HourlyMatsApportionedEmissionsDTO'
              examples:
                HourlyMatsApportionedEmissionsController_getEmissions200Example:
                  summary: Default HourlyMatsApportionedEmissionsController_getEmissions 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
            text/csv:
              schema:
                type: string
                example: State,Facility Name,Facility ID,Unit ID,Date,Hour,Operating Time,MATS Gross Load (MW),MATS Heat Input (mmBtu),Hg Output Rate (lb/GWh),Hg Input Rate (lb/TBtu),Hg Mass (lbs),Hg Mass Measure Indicator,HCl Output Rate (lb/MWh),HCL Input Rate (lb/mmBtu),HCl Mass (lbs),HCl Mass Measure Indicator,HF Output Rate (lb/MWh),HF Input Rate (lb/mmBtu),HF Mass (lbs),HF Mass Measure Indicator,Associated Stacks,Steam Load (1000 lb/hr),Primary Fuel Type,Secondary Fuel Type,Unit Type,SO2 Controls,NOx Controls,PM Controls,Hg Controls
              examples:
                HourlyMatsApportionedEmissionsController_getEmissions200Example:
                  summary: Default HourlyMatsApportionedEmissionsController_getEmissions 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Apportioned Hourly MATS Emissions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /streaming-services/emissions/apportioned/mats/hourly:
    get:
      operationId: HourlyMatsApportionedEmissionsController_streamEmissions
      parameters:
      - name: stateCode
        required: false
        in: query
        description: Two letter abbreviation for the State.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AL
            - AK
            - AS
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FM
            - FL
            - GA
            - GU
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MH
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - MP
            - OH
            - OK
            - OR
            - PW
            - PA
            - PR
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VI
            - VA
            - WA
            - WV
            - WI
            - WY
        example:
        - AL
      - name: facilityId
        required: false
        in: query
        description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 0.0
      - name: unitType
        required: false
        in: query
        description: Type of unit or boiler.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Arch-fired boiler
            - Bubbling fluidized bed boiler
            - Cyclone boiler
            - Cell burner boiler
            - Combined cycle
            - Circulating fluidized bed boiler
            - Combustion turbine
            - Dry bottom wall-fired boiler
            - Dry bottom turbo-fired boiler
            - Dry bottom vertically-fired boiler
            - Internal combustion engine
            - Integrated gasification combined cycle
            - Cement Kiln
            - Other boiler
            - Other turbine
            - Pressurized fluidized bed boiler
            - Process Heater
            - Stoker
            - Tangentially-fired
            - Wet bottom wall-fired boiler
            - Wet bottom turbo-fired boiler
            - Wet bottom vertically-fired boiler
        example:
        - Arch-fired boiler
      - name: unitFuelType
        required: false
        in: query
        description: Primary or Secondary fuel types combusted by the unit.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Coal
            - Coal Refuse
            - Diesel Oil
            - Liquified Petroleum Gas
            - Natural Gas
            - Other Gas
            - Other Oil
            - Other Solid Fuel
            - Petroleum Coke
            - Pipeline Natural Gas
            - Process Gas
            - Process Sludge
            - Refuse
            - Residual Oil
            - Tire Derived Fuel
            - Waste Liquid
            - Wood
        example:
        - Coal
      - name: controlTechnologies
        required: false
        in: query
        description: Method or equipment used by the combustion unit to minimize Hg, NOx, PM, or SO2 emissions.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Additives to Enhance PAC and Existing Equipment Performance
            - Ammonia Injection
            - Baghouse
            - Catalyst (gold, palladium, or other) used to oxidize mercury
            - Combustion Modification/Fuel Reburning
            - Cyclone
            - Dry Lime FGD
            - Dry Low NOx Burners
            - Dry Sorbent Injection
            - Dual Alkali
            - Electrostatic Precipitator
            - Fluidized Bed Limestone Injection
            - Halogenated PAC Sorbent Injection
            - Hybrid ESP
            - Low NOx Burner Technology (Dry Bottom only)
            - Low NOx Burner Technology w/ Closed-coupled OFA
            - Low NOx Burner Technology w/ Closed-coupled/Separated OFA
            - Low NOx Burner Technology w/ Overfire Air
            - Low NOx Burner Technology w/ Separated OFA
            - Low NOx Cell Burner
            - Magnesium Oxide
            - Other
            - Other (Non PAC) Sorbent Injection
            - Overfire Air
            - Regenerative Activated Coke Technology
            - Selective Catalytic Reduction
            - Selective Non-catalytic Reduction
            - Sodium Based
            - Steam Injection
            - Untreated PAC Sorbent Injection
            - Water Injection
            - Wet ESP
            - Wet Lime FGD
            - Wet Limestone
            - Wet Scrubber
        example:
        - Additives to Enhance PAC and Existing Equipment Performance
      - name: beginDate
        required: true
        in: query
        description: Begin date for a given period of a unit's emissions.
        schema:
          format: date-time
          type: string
        example: '2024-01-15T12:00:00Z'
      - name: endDate
        required: true
        in: query
        description: End date for a given period of a unit's emissions.
        schema:
          format: date-time
          type: string
        example: '2024-01-15T12:00:00Z'
      - name: operatingHoursOnly
        required: false
        in: query
        description: Indicator of whether or not a request should return only data for hours where a unit operated.
        schema:
          type: boolean
        example: true
      - name: exclude
        required: false
        in: query
        description: Selected items will be excluded from the response
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - hclInputRate
            - hclMassMeasureFlg
            - hclOutputRate
            - hfInputRate
            - hfMassMeasureFlg
            - hfOutputRate
            - hgControlInfo
            - hgInputRate
            - hgMassMeasureFlg
            - hgOutputRate
            - matsGrossLoad
            - noxControlInfo
            - opTime
            - pmControlInfo
            - primaryFuelInfo
            - secondaryFuelInfo
            - so2ControlInfo
            - steamLoad
            - unitType
            - unit_id
        example:
        - hclInputRate
      responses:
        '200':
          description: Streams Hourly MATS Apportioned Emissions per filter criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyMatsApportionedEmissionsDTO_2'
              examples:
                HourlyMatsApportionedEmissionsController_streamEmissions200Example:
                  summary: Default HourlyMatsApportionedEmissionsController_streamEmissions 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
            text/csv:
              schema:
                type: string
                example: State,Facility Name,Facility ID,Unit ID,Date,Hour,Operating Time,MATS Gross Load (MW),MATS Heat Input (mmBtu),Hg Output Rate (lb/GWh),Hg Input Rate (lb/TBtu),Hg Mass (lbs),Hg Mass Measure Indicator,HCl Output Rate (lb/MWh),HCL Input Rate (lb/mmBtu),HCl Mass (lbs),HCl Mass Measure Indicator,HF Output Rate (lb/MWh),HF Input Rate (lb/mmBtu),HF Mass (lbs),HF Mass Measure Indicator,Associated Stacks,Steam Load (1000 lb/hr),Primary Fuel Type,Secondary Fuel Type,Unit Type,SO2 Controls,NOx Controls,PM Controls,Hg Controls
              examples:
                HourlyMatsApportionedEmissionsController_streamEmissions200Example:
                  summary: Default HourlyMatsApportionedEmissionsController_streamEmissions 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Apportioned Hourly MATS Emissions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    HourlyMatsApportionedEmissionsDTO_2:
      type: object
      properties:
        stateCode:
          type: string
          description: Two letter abbreviation for the State.
          example: AK
        facilityName:
          type: string
          description: The name given by the owners and operators to a facility
          example: Barry
        facilityId:
          type: number
          description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
          example: 3
        unitId:
          type: string
          description: Unique identifier for each unit at a facility.
          example: 5
        unit_id:
          type: number
          description: Database id for each unit at a facility.
          example: 5
        unitType:
          type: string
          description: Type of unit or boiler.
          example: Tangentially-fired
        associatedStacks:
          type: string
          description: Stacks associated with the unit.
          example: CS001
        primaryFuelInfo:
          type: string
          description: The primary type of fuel combusted by the unit.
          example: Coal
        secondaryFuelInfo:
          type: string
          description: The secondary type of fuel(s) combusted by the unit.
          example: Diesel Oil
        so2ControlInfo:
          type: string
          description: Method or equipment used by the combustion unit to minimize SO2 emissions.
          example: Wet Limestone
        pmControlInfo:
          type: string
          description: Method or equipment used by the combustion unit to minimize PM emissions.
          example: Electrostatic Precipitator
        noxControlInfo:
          type: string
          description: Method or equipment used by the combustion unit to minimize NOx emissions.
          example: Selective Catalytic Reduction, Low NOx Burner Technology w/ Separated OFA
        hgControlInfo:
          type: string
          description: Method or equipment used by the combustion unit to minimize Hg emissions.
          example: Catalyst (gold, palladium, or other) used to oxidize mercury
        date:
          type: string
          description: Date on which activity occurred.
          example: '2019-01-01'
        hour:
          type: number
          description: Hour in which activity occurred, recorded using local, standard time.
          example: 23
        opTime:
          type: number
          description: Any part of an hour in which a unit combusts any fuel.
          example: 0.95
        matsGrossLoad:
          type: number
          description: Electrical generation in MW produced by combusting a given heat input of fuel.
          example: 146
        matsHeatInput:
          type: number
          description: Quantity of heat in mmBtu calculated by multiplying the quantity of fuel by the fuels heat content.
          example: 1470.2
        hgOutputRate:
          type: number
          description: Average Hg hourly emissions rate per gigawatt hour of output (lbs/GWh)
          example: 0.0102
        hgInputRate:
          type: number
          description: Average Hg hourly emissions rate (lbs/TBtu)
          example: 0.9236604702
        hgMass:
          type: number
          description: Hg mass emissions (lbs)
          example: 0.002703
        hgMassMeasureFlg:
          type: string
          description: Describes how the Hg Mass values were determined.
          example: Measured
        hclOutputRate:
          type: number
          description: Average HCl hourly emissions rate per megawatt hour of output (lbs/MWh)
          example: 0.00452
        hclInputRate:
          type: number
          description: Average HCl hourly emissions rate (lbs/mmBtu)
          example: 407.5244879786
        hclMass:
          type: number
          description: HCl mass emissions (lbs)
          example: 0.36612
        hclMassMeasureFlg:
          type: string
          description: Describes how the HCl Mass values were determined.
          example: Measured
        hfOutputRate:
          type: number
          description: Average HF hourly emissions rate per megawatt hour of output (lbs/MWh)
          example: 0.0
        hfInputRate:
          type: number
          description: Average HF hourly emissions rate (lbs/mmBtu)
          example: 0.0
        hfMass:
          type: number
          description: HF mass emissions (lbs)
          example: 0.0
        hfMassMeasureFlg:
          type: string
          description: Describes how the HF Mass values were determined.
          example: string
        steamLoad:
          type: number
          description: Rate of steam pressure generated by a unit or source produced by combusting a given heat input of fuel. (1000 lb/hr)
          example: 387
      required:
      - stateCode
      - facilityName
      - unitId
      - unit_id
      - unitType
      - associatedStacks
      - primaryFuelInfo
      - secondaryFuelInfo
      - so2ControlInfo
      - pmControlInfo
      - noxControlInfo
      - hgControlInfo
      - date
      - hgMassMeasureFlg
      - hclMassMeasureFlg
      - hfMassMeasureFlg
    HourlyMatsApportionedEmissionsDTO:
      type: object
      properties:
        stateCode:
          type: string
          description: Two letter abbreviation for the State.
          example: AK
        facilityName:
          type: string
          description: The name given by the owners and operators to a facility
          example: Barry
        facilityId:
          type: number
          description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
          example: 3
        unitId:
          type: string
          description: Unique identifier for each unit at a facility.
          example: 5
        unitType:
          type: string
          description: Type of unit or boiler.
          example: Tangentially-fired
        associatedStacks:
          type: string
          description: Stacks associated with the unit.
          example: CS001
        primaryFuelInfo:
          type: string
          description: The primary type of fuel combusted by the unit.
          example: Coal
        secondaryFuelInfo:
          type: string
          description: The secondary type of fuel(s) combusted by the unit.
          example: Diesel Oil
        so2ControlInfo:
          type: string
          description: Method or equipment used by the combustion unit to minimize SO2 emissions.
          example: Wet Limestone
        pmControlInfo:
          type: string
          description: Method or equipment used by the combustion unit to minimize PM emissions.
          example: Electrostatic Precipitator
        noxControlInfo:
          type: string
          description: Method or equipment used by the combustion unit to minimize NOx emissions.
          example: Selective Catalytic Reduction, Low NOx Burner Technology w/ Separated OFA
        hgControlInfo:
          type: string
          description: Method or equipment used by the combustion unit to minimize Hg emissions.
          example: Catalyst (gold, palladium, or other) used to oxidize mercury
        date:
          type: string
          description: Date on which activity occurred.
          example: '2019-01-01'
        hour:
          type: number
          description: Hour in which activity occurred, recorded using local, standard time.
          example: 23
        opTime:
          type: number
          description: Any part of an hour in which a unit combusts any fuel.
          example: 0.95
        matsGrossLoad:
          type: number
          description: Electrical generation in MW produced by combusting a given heat input of fuel.
          example: 146
        matsHeatInput:
          type: number
          description: Quantity of heat in mmBtu calculated by multiplying the quantity of fuel by the fuels heat content.
          example: 1470.2
        hgOutputRate:
          type: number
          description: Average Hg hourly emissions rate per gigawatt hour of output (lbs/GWh)
          example: 0.0102
        hgInputRate:
          type: number
          description: Average Hg hourly emissions rate (lbs/TBtu)
          example: 0.9236604702
        hgMass:
          type: number
          description: Hg mass emissions (lbs)
          example: 0.002703
        hgMassMeasureFlg:
          type: string
          description: Describes how the Hg Mass values were determined.
          example: Measured
        hclOutputRate:
          type: number
          description: Average HCl hourly emissions rate per megawatt hour of output (lbs/MWh)
          example: 0.00452
        hclInputRate:
          type: number
          description: Average HCl hourly emissions rate (lbs/mmBtu)
          example: 407.5244879786
        hclMass:
          type: number
          description: HCl mass emissions (lbs)
          example: 0.36612
        hclMassMeasureFlg:
          type: string
          description: Describes how the HCl Mass values were determined.
          example: Measured
        hfOutputRate:
          type: number
          description: Average HF hourly emissions rate per megawatt hour of output (lbs/MWh)
          example: 0.0
        hfInputRate:
          type: number
          description: Average HF hourly emissions rate (lbs/mmBtu)
          example: 0.0
        hfMass:
          type: number
          description: HF mass emissions (lbs)
          example: 0.0
        hfMassMeasureFlg:
          type: string
          description: Describes how the HF Mass values were determined.
          example: string
        steamLoad:
          type: number
          description: Rate of steam pressure generated by a unit or source produced by combusting a given heat input of fuel. (1000 lb/hr)
          example: 387
      required:
      - stateCode
      - facilityName
      - unitId
      - unitType
      - associatedStacks
      - primaryFuelInfo
      - secondaryFuelInfo
      - so2ControlInfo
      - pmControlInfo
      - noxControlInfo
      - hgControlInfo
      - date
      - hgMassMeasureFlg
      - hclMassMeasureFlg
      - hfMassMeasureFlg
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
