openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Unit Default Test Run API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Unit Default Test Run
paths:
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/unit-default-tests/{unitDefaultTestSumId}/unit-default-test-runs
  : get:
      operationId: UnitDefaultTestRunController_getUnitDefaultTestRuns
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: unitDefaultTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Unit Default Test Run records by Unit Default Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitDefaultTestRunRecordDTO'
              examples:
                UnitDefaultTestRunController_getUnitDefaultTestRuns200Example:
                  summary: Default UnitDefaultTestRunController_getUnitDefaultTestRuns 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Unit Default Test Run
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/unit-default-tests/{unitDefaultTestSumId}/unit-default-test-runs/{id}
  : get:
      operationId: UnitDefaultTestRunController_getUnitDefaultTestRun
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: unitDefaultTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Unit Default Test Run record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitDefaultTestRunRecordDTO'
              examples:
                UnitDefaultTestRunController_getUnitDefaultTestRun200Example:
                  summary: Default UnitDefaultTestRunController_getUnitDefaultTestRun 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Unit Default Test Run
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UnitDefaultTestRunRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        unitDefaultTestSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        operatingLevelForRun:
          type: number
          example: 0.0
        runNumber:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        beginMinute:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        endMinute:
          type: number
          example: 0.0
        responseTime:
          type: number
          example: 0.0
        referenceValue:
          type: number
          example: 0.0
        runUsedIndicator:
          type: number
          example: 0.0
      required:
      - id
      - unitDefaultTestSumId
      - userId
      - addDate
      - updateDate
      - operatingLevelForRun
      - runNumber
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
