openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Configurations API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Configurations
paths:
  /monitor-plan-mgmt/configurations:
    get:
      operationId: MonitorConfigurationsController_getConfigurations
      parameters:
      - name: orisCodes
        required: true
        in: query
        description: Array of oris codes
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 0.0
      - name: monPlanIds
        required: false
        in: query
        description: Array of configurations
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - '12345'
      responses:
        '200':
          description: Retrieves official Monitor Plan configurations
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitorPlanDTO'
              examples:
                MonitorConfigurationsController_getConfigurations200Example:
                  summary: Default MonitorConfigurationsController_getConfigurations 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Configurations
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /monitor-plan-mgmt/configurations/last-updated:
    get:
      operationId: MonitorConfigurationsController_getLastUpdated
      parameters:
      - name: date
        required: true
        in: query
        description: Date on which activity occurred. Must be within the last year from current date and cannot be in the future.
        schema:
          format: date
          example: '2019-01-01'
          type: string
        example: '2019-01-01'
      responses:
        '200':
          description: Retrieves workspace Monitor Plan configurations that have been updated after a certain date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LastUpdatedConfigDTO'
              examples:
                MonitorConfigurationsController_getLastUpdated200Example:
                  summary: Default MonitorConfigurationsController_getLastUpdated 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Configurations
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MonitorFormulaDTO:
      type: object
      properties:
        formulaId:
          type: string
          description: The three character formula ID assigned by the source.
          example: '140'
        parameterCode:
          type: string
          description: Code used to identify the parameter.
          example: SO2
        formulaCode:
          type: string
          description: Code used to identify the equation as defined in Part 75.
          example: F-1
        formulaText:
          type: string
          maxLength: 200
          description: The equation used to calculate the parameter.
          example: 1.667 * 10**-7 * S#(027-C40) * S#(029-C42)
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2007-11-08'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 17
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring formula record.
          example: CAMD-1CDAA10B7D6A41BBA6BCFF5534F5C5CA
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - formulaId
      - parameterCode
      - formulaCode
      - formulaText
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
    EmissionEvaluation:
      type: object
      properties:
        checkSessionId:
          type: string
          example: '12345'
        lastUpdated:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        monitorPlanId:
          type: string
          example: '12345'
        needsEvalFlag:
          type: string
          example: string
        reportingPeriodId:
          type: number
          example: 0.0
        submissionAvailabilityCode:
          type: string
          example: string
        submissionId:
          type: number
          example: 0.0
        updatedStatusFlag:
          type: string
          example: active
        monitorPlan:
          $ref: '#/components/schemas/MonitorPlan'
        reportingPeriod:
          $ref: '#/components/schemas/ReportingPeriod'
      required:
      - checkSessionId
      - lastUpdated
      - monitorPlanId
      - needsEvalFlag
      - reportingPeriodId
      - submissionAvailabilityCode
      - submissionId
      - updatedStatusFlag
      - monitorPlan
      - reportingPeriod
    MonitorAttribute:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        locationId:
          type: string
          example: '12345'
        ductIndicator:
          type: number
          example: 0.0
        bypassIndicator:
          type: number
          example: 0.0
        groundElevation:
          type: number
          example: 0.0
        stackHeight:
          type: number
          example: 0.0
        materialCode:
          type: string
          example: string
        shapeCode:
          type: string
          example: string
        crossAreaFlow:
          type: number
          example: 0.0
        crossAreaStackExit:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        location:
          $ref: '#/components/schemas/MonitorLocation'
      required:
      - id
      - locationId
      - ductIndicator
      - bypassIndicator
      - groundElevation
      - stackHeight
      - materialCode
      - shapeCode
      - crossAreaFlow
      - crossAreaStackExit
      - beginDate
      - endDate
      - userId
      - addDate
      - updateDate
      - location
    SystemComponent:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        monitoringSystemRecordId:
          type: string
          example: '12345'
        componentRecordId:
          type: string
          example: '12345'
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        component:
          $ref: '#/components/schemas/Component'
        system:
          $ref: '#/components/schemas/MonitorSystem'
      required:
      - id
      - monitoringSystemRecordId
      - componentRecordId
      - beginDate
      - beginHour
      - endDate
      - endHour
      - userId
      - addDate
      - updateDate
      - component
      - system
    MonitorMethod:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        locationId:
          type: string
          example: '12345'
        parameterCode:
          type: string
          example: string
        substituteDataCode:
          type: string
          example: string
        bypassApproachCode:
          type: string
          example: string
        monitoringMethodCode:
          type: string
          example: string
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        location:
          $ref: '#/components/schemas/MonitorLocation'
      required:
      - id
      - locationId
      - parameterCode
      - substituteDataCode
      - bypassApproachCode
      - monitoringMethodCode
      - beginDate
      - beginHour
      - endDate
      - endHour
      - userId
      - addDate
      - updateDate
      - location
    MonitorLoad:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        locationId:
          type: string
          example: '12345'
        loadAnalysisDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        maximumLoadValue:
          type: number
          example: 0.0
        secondNormalIndicator:
          type: number
          example: 0.0
        upperOperationBoundary:
          type: number
          example: 0.0
        lowerOperationBoundary:
          type: number
          example: 0.0
        normalLevelCode:
          type: string
          example: string
        secondLevelCode:
          type: string
          example: string
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        maximumLoadUnitsOfMeasureCode:
          type: string
          example: string
        location:
          $ref: '#/components/schemas/MonitorLocation'
      required:
      - id
      - locationId
      - loadAnalysisDate
      - beginDate
      - beginHour
      - endDate
      - endHour
      - maximumLoadValue
      - secondNormalIndicator
      - upperOperationBoundary
      - lowerOperationBoundary
      - normalLevelCode
      - secondLevelCode
      - userId
      - addDate
      - updateDate
      - maximumLoadUnitsOfMeasureCode
      - location
    ReportingPeriod:
      type: object
      properties:
        id:
          type: number
          example: 0.0
        year:
          type: number
          example: 2024
        quarter:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        periodDescription:
          type: string
          example: string
        periodAbbreviation:
          type: string
          example: string
        archiveInd:
          type: number
          example: 0.0
      required:
      - id
      - year
      - quarter
      - beginDate
      - endDate
      - periodDescription
      - periodAbbreviation
      - archiveInd
    MonitorQualificationDTO:
      type: object
      properties:
        qualificationTypeCode:
          type: string
          description: Code used to identify the qualification type.
          example: LMES
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2018-05-01'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring qualification record.
          example: NJCHQLAPA3-82CD1A0A9D2A48BFB5203F82D390183E
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '4168'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2018-07-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2018-07-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
        monitoringQualificationLEEData:
          type: array
          items:
            $ref: '#/components/schemas/LEEQualificationDTO'
          example:
          - string
        monitoringQualificationLMEData:
          type: array
          items:
            $ref: '#/components/schemas/LMEQualificationDTO'
          example:
          - string
        monitoringQualificationPercentData:
          type: array
          items:
            $ref: '#/components/schemas/PCTQualificationDTO'
          example:
          - string
      required:
      - qualificationTypeCode
      - beginDate
      - endDate
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
      - monitoringQualificationLEEData
      - monitoringQualificationLMEData
      - monitoringQualificationPercentData
    DuctWafDTO:
      type: object
      properties:
        wafDeterminationDate:
          format: date-time
          type: string
          description: The date the WAF applied in column 20 was determined.
          example: '2020-11-18'
        wafBeginDate:
          format: date-time
          type: string
          description: The date on which the WAF was first applied to the flow rate data.
          example: '2020-11-28'
        wafBeginHour:
          type: number
          description: The hour in which the WAF was first applied to the flow rate data.
          example: 12
        wafMethodCode:
          type: string
          description: Code used to identify the WAF determination method.
          example: FT
        wafValue:
          type: number
          description: The WAF applied to the flow rate data, to four decimal places.
          example: 1.0454
        numberOfTestRuns:
          type: number
          description: The number of runs in the WAF test (must be one for default WAF and at least three for a measured WAF)
          example: 3
        numberOfTraversePointsWAF:
          type: number
          description: The number of Method 1 traverse points in the WAF test runs.
          example: 48
        numberOfTestPorts:
          type: number
          description: The number of test ports at which measurements were made during the WAF test runs.
          example: 4
        numberOfTraversePointsRef:
          type: number
          description: The number of Method 1 traverse points in the reference flow RATA test runs.
          example: 48
        ductWidth:
          type: number
          description: The width of the rectangular duct at the test location.
          example: 12
        ductDepth:
          type: number
          description: The depth of the rectangular duct at the test location.
          example: 18.5
        wafEndDate:
          format: date-time
          type: string
          description: The date on which the WAF was last applied to the flow rate data.
          example: '2021-09-18'
        wafEndHour:
          type: number
          description: The hour in which the WAF was last applied to the flow rate data.
          example: 9
        id:
          type: string
          description: Unique identifier of a rectangular duct WAF data record.
          example: CAMD-6847FB7858174AD0ADF87FFBAF85EF9C
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          example: true
      required:
      - wafDeterminationDate
      - wafBeginDate
      - wafBeginHour
      - wafMethodCode
      - wafValue
      - numberOfTestRuns
      - numberOfTraversePointsWAF
      - numberOfTestPorts
      - numberOfTraversePointsRef
      - ductWidth
      - ductDepth
      - wafEndDate
      - wafEndHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
    MonitorPlanReportingFreqDTO:
      type: object
      properties:
        reportFrequencyCode:
          type: string
          description: Report Frequency Code on a monitoring plan
          example: OS
        endReportPeriodId:
          type: number
          description: Unique identifier of a reporting period record. This value will be null for active records.
          example: null
        beginReportPeriodId:
          type: number
          description: Unique identifier of a reporting period record.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring plan Reporting Frequency record.
          example: MDC-7A8D8E101C484732954BE84D49D9249A
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2020-10-28'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2020-10-28'
        endReportPeriodDescription:
          type: string
          example: string
        beginReportPeriodDescription:
          type: string
          example: string
      required:
      - reportFrequencyCode
      - id
      - userId
      - addDate
    UnitStackConfiguration:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        unitId:
          type: number
          example: 0.0
        stackPipeId:
          type: string
          example: '12345'
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        stackPipe:
          $ref: '#/components/schemas/StackPipe'
        unit:
          $ref: '#/components/schemas/Unit'
      required:
      - id
      - unitId
      - stackPipeId
      - beginDate
      - endDate
      - userId
      - addDate
      - updateDate
      - stackPipe
      - unit
    UnitBoilerType:
      type: object
      properties:
        id:
          type: number
          example: 0.0
        unitRecordId:
          type: number
          example: 0.0
        unitTypeCode:
          type: string
          example: string
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        userId:
          type: string
          example: '12345'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        unit:
          $ref: '#/components/schemas/Unit'
      required:
      - id
      - unitRecordId
      - unitTypeCode
      - beginDate
      - endDate
      - userId
      - updateDate
      - unit
    MonitorDefaultDTO:
      type: object
      properties:
        parameterCode:
          type: string
          description: Code used to identify the parameter.
          example: CO2N
        defaultValue:
          type: number
          description: Value of default, maximum, minimum or constant.
          example: 5
        defaultUnitsOfMeasureCode:
          type: string
          description: Code used to identify the hourly parameter units of measure.
          example: PCT
        defaultPurposeCode:
          type: string
          description: Code used to identify the purpose or intended use of defaults, maximums and constants.
          example: DC
        fuelCode:
          type: string
          description: Code used to identify the type of fuel.
          example: NFS
        operatingConditionCode:
          type: string
          description: Code used to identify the operating condition.
          example: A
        defaultSourceCode:
          type: string
          description: Code used to identify the source of the default value.
          example: DEF
        groupId:
          type: string
          maxLength: 10
          description: For a group of identical LME units using testing to determine default NOx rate, this ID identifies the group.
          example: GP2249
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2008-01-01'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 1
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring default record.
          example: MELISSAMAT-65FB5323A47A459B8FF3E2996EA4EB78
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: 'true'
      required:
      - parameterCode
      - defaultValue
      - defaultUnitsOfMeasureCode
      - defaultPurposeCode
      - fuelCode
      - operatingConditionCode
      - defaultSourceCode
      - groupId
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
    AnalyzerRange:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        componentRecordId:
          type: string
          example: '12345'
        analyzerRangeCode:
          type: string
          example: string
        dualRangeIndicator:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        endHour:
          type: number
          example: 0.0
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        component:
          $ref: '#/components/schemas/Component'
      required:
      - id
      - componentRecordId
      - analyzerRangeCode
      - dualRangeIndicator
      - beginDate
      - endDate
      - beginHour
      - endHour
      - userId
      - addDate
      - updateDate
      - component
    MonitorAttributeDTO:
      type: object
      properties:
        ductIndicator:
          type: number
          description: Used to indicate that this location is a duct.
          example: '1'
        bypassIndicator:
          type: number
          description: Used to indicate that the stack is used for bypass.
          example: '1'
        groundElevation:
          type: number
          description: The number of feet above sea level at ground level of the stack or unit.
          example: 40
        stackHeight:
          type: number
          description: The height in feet of a stack exit above ground level.
          example: 400
        materialCode:
          type: string
          description: Code used to identify the material that is used in the monitoring location.
          example: OTHER
        shapeCode:
          type: string
          description: Code identifying the shape of a monitor location.
          example: ROUND
        crossAreaFlow:
          type: number
          description: The reported inside cross-sectional area in square feet of the stack or duct at the flow monitoring location.
          example: 306
        crossAreaStackExit:
          type: number
          description: The inside cross-sectional area in square feet of the stack at the exit.
          example: 306
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2008-01-01'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        id:
          type: string
          description: Unique combination of DB_Token and identity key generated by sequence generator.
          example: MELISSAMAT-E496678DE19E4827ADE4D541B18B5756
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - ductIndicator
      - bypassIndicator
      - groundElevation
      - stackHeight
      - materialCode
      - shapeCode
      - crossAreaFlow
      - crossAreaStackExit
      - beginDate
      - endDate
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
    Unit:
      type: object
      properties:
        id:
          type: number
          example: 0.0
        name:
          type: string
          example: EPA Facility
        description:
          type: string
          example: string
        commercialOperationDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        operationDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        nonLoadBasedIndicator:
          type: number
          example: 0.0
        facId:
          type: number
          example: 0.0
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        plant:
          $ref: '#/components/schemas/Plant'
        location:
          $ref: '#/components/schemas/MonitorLocation'
        unitBoilerType:
          $ref: '#/components/schemas/UnitBoilerType'
        opStatuses:
          type: array
          items:
            $ref: '#/components/schemas/UnitOpStatus'
          example:
          - active
        unitFuels:
          type: array
          items:
            $ref: '#/components/schemas/UnitFuel'
          example:
          - string
        unitControls:
          type: array
          items:
            $ref: '#/components/schemas/UnitControl'
          example:
          - string
        unitCapacities:
          type: array
          items:
            $ref: '#/components/schemas/UnitCapacity'
          example:
          - string
        unitPrograms:
          type: array
          items:
            $ref: '#/components/schemas/UnitProgram'
          example:
          - string
        unitStackConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/UnitStackConfiguration'
          example:
          - string
      required:
      - id
      - name
      - description
      - operationDate
      - nonLoadBasedIndicator
      - facId
      - userId
      - addDate
      - updateDate
      - plant
      - location
      - unitBoilerType
      - opStatuses
      - unitFuels
      - unitControls
      - unitCapacities
      - unitPrograms
      - unitStackConfigurations
    UnitOpStatus:
      type: object
      properties:
        id:
          type: number
          example: 0.0
        unitId:
          type: number
          example: 0.0
        opStatusCode:
          type: string
          example: active
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        unit:
          $ref: '#/components/schemas/Unit'
      required:
      - id
      - unitId
      - opStatusCode
      - beginDate
      - endDate
      - unit
    MonitorLocation:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        stackPipeId:
          type: string
          example: '12345'
        unitId:
          type: number
          example: 0.0
        stackPipe:
          $ref: '#/components/schemas/StackPipe'
        unit:
          $ref: '#/components/schemas/Unit'
        plans:
          type: array
          items:
            $ref: '#/components/schemas/MonitorPlan'
          example:
          - string
        components:
          type: array
          items:
            $ref: '#/components/schemas/Component'
          example:
          - string
        methods:
          type: array
          items:
            $ref: '#/components/schemas/MonitorMethod'
          example:
          - string
        matsMethods:
          type: array
          items:
            $ref: '#/components/schemas/MatsMethod'
          example:
          - string
        formulas:
          type: array
          items:
            $ref: '#/components/schemas/MonitorFormula'
          example:
          - string
        loads:
          type: array
          items:
            $ref: '#/components/schemas/MonitorLoad'
          example:
          - string
        spans:
          type: array
          items:
            $ref: '#/components/schemas/MonitorSpan'
          example:
          - string
        systems:
          type: array
          items:
            $ref: '#/components/schemas/MonitorSystem'
          example:
          - string
        ductWafs:
          type: array
          items:
            $ref: '#/components/schemas/DuctWaf'
          example:
          - string
        defaults:
          type: array
          items:
            $ref: '#/components/schemas/MonitorDefault'
          example:
          - string
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/MonitorAttribute'
          example:
          - string
        qualifications:
          type: array
          items:
            $ref: '#/components/schemas/MonitorQualification'
          example:
          - string
      required:
      - id
      - stackPipe
      - unit
      - plans
      - components
      - methods
      - matsMethods
      - formulas
      - loads
      - spans
      - systems
      - ductWafs
      - defaults
      - attributes
      - qualifications
    MonitorPlanReportingFrequency:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        monitorPlanId:
          type: string
          example: '12345'
        reportFrequencyCode:
          type: string
          example: string
        beginReportPeriodId:
          type: number
          example: 0.0
        endReportPeriodId:
          type: number
          example: 0.0
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        plan:
          $ref: '#/components/schemas/MonitorPlan'
        beginReportingPeriod:
          $ref: '#/components/schemas/ReportingPeriod'
        endReportingPeriod:
          $ref: '#/components/schemas/ReportingPeriod'
      required:
      - id
      - monitorPlanId
      - reportFrequencyCode
      - beginReportPeriodId
      - endReportPeriodId
      - userId
      - addDate
      - updateDate
      - plan
      - beginReportingPeriod
      - endReportingPeriod
    SystemFuelFlow:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        monitoringSystemRecordId:
          type: string
          example: '12345'
        maximumFuelFlowRate:
          type: number
          example: 0.0
        maximumFuelFlowRateSourceCode:
          type: string
          example: string
        systemFuelFlowUOMCode:
          type: string
          example: string
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        system:
          $ref: '#/components/schemas/MonitorSystem'
      required:
      - id
      - monitoringSystemRecordId
      - maximumFuelFlowRate
      - maximumFuelFlowRateSourceCode
      - systemFuelFlowUOMCode
      - beginDate
      - beginHour
      - endDate
      - endHour
      - userId
      - addDate
      - updateDate
      - system
    MonitorFormula:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        locationId:
          type: string
          example: '12345'
        parameterCode:
          type: string
          example: string
        formulaCode:
          type: string
          example: string
        formulaId:
          type: string
          example: '12345'
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        formulaText:
          type: string
          example: string
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        location:
          $ref: '#/components/schemas/MonitorLocation'
      required:
      - id
      - locationId
      - parameterCode
      - formulaCode
      - formulaId
      - beginDate
      - beginHour
      - endDate
      - endHour
      - formulaText
      - userId
      - addDate
      - updateDate
      - location
    UnitCapacity:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        unitId:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        maximumHourlyHeatInputCapacity:
          type: number
          example: 0.0
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        unit:
          $ref: '#/components/schemas/Unit'
      required:
      - id
      - unitId
      - beginDate
      - endDate
      - maximumHourlyHeatInputCapacity
      - userId
      - addDate
      - updateDate
      - unit
    MonitorQualification:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        locationId:
          type: string
          example: '12345'
        qualificationTypeCode:
          type: string
          example: string
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        location:
          $ref: '#/components/schemas/MonitorLocation'
        leeQualifications:
          type: array
          items:
            $ref: '#/components/schemas/LEEQualification'
          example:
          - string
        lmeQualifications:
          type: array
          items:
            $ref: '#/components/schemas/LMEQualification'
          example:
          - string
        pctQualifications:
          type: array
          items:
            $ref: '#/components/schemas/PCTQualification'
          example:
          - string
      required:
      - id
      - locationId
      - qualificationTypeCode
      - beginDate
      - endDate
      - userId
      - addDate
      - updateDate
      - location
      - leeQualifications
      - lmeQualifications
      - pctQualifications
    LEEQualificationDTO:
      type: object
      properties:
        qualificationTestDate:
          format: date-time
          type: string
          description: End date of the initial LEE qualifying test or a retest.
          example: '2018-07-15'
        parameterCode:
          type: string
          description: Parameter code associated with the LEE qualification.
          example: HG
        qualificationTestType:
          type: string
          description: Indication of whether the qualifying test was an initial test or retest.
          example: INITIAL
        potentialAnnualHgMassEmissions:
          type: number
          description: Potential annual Hg mass emissions used for LEE qualification.
          example: 10.2
        applicableEmissionStandard:
          type: number
          description: Applicable Emission Standard used for LEE qualification.
          example: 29
        unitsOfStandard:
          type: string
          description: units of the Applicable Emission Standard.
          example: LBGWH
        percentageOfEmissionStandard:
          type: number
          description: Result of initial test or retest as a percentage of the Applicable Emission Standard.
          example: 72.8
        id:
          type: string
          description: Unique identifier of a monitoring qualification LEE record.
          example: MIKE-DELL-CFEDE4EB21124391BE13E7FB5A56081C
        qualificationId:
          type: string
          description: Unique identifier of a monitoring qualification record.
          example: MIKE-DELL-E4CE3931A24E4C1395B3C81457B300CC
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2018-10-25'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2018-10-25'
      required:
      - qualificationTestDate
      - parameterCode
      - qualificationTestType
      - potentialAnnualHgMassEmissions
      - applicableEmissionStandard
      - unitsOfStandard
      - percentageOfEmissionStandard
      - id
      - qualificationId
      - userId
      - addDate
      - updateDate
    MatsMethod:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        locationId:
          type: string
          example: '12345'
        supplementalMATSParameterCode:
          type: string
          example: string
        supplementalMATSMonitoringMethodCode:
          type: string
          example: string
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        location:
          $ref: '#/components/schemas/MonitorLocation'
      required:
      - id
      - locationId
      - supplementalMATSParameterCode
      - supplementalMATSMonitoringMethodCode
      - beginDate
      - beginHour
      - endDate
      - endHour
      - userId
      - addDate
      - updateDate
      - location
    AnalyzerRangeDTO:
      type: object
      properties:
        analyzerRangeCode:
          type: string
          description: Code used to identify the analyzer range.
          example: A
        dualRangeIndicator:
          type: number
          description: Used to indicate whether the component is a dual-range analyzer.
          example: '1'
        beginDate:
          format: date-time
          type: string
          description: Date in which information became effective or activity started.
          example: '2008-05-17'
        beginHour:
          type: number
          description: Hour in which information became effective or activity started.
          example: '14'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective or date in which activity ended. This value will be null if active record.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective or hour in which activity ended. This value will be null if active record.
          example: null
        id:
          type: string
          description: Unique identifier of an analyzer range history record.
          example: MRHODES16-10C1A63683D34BA7A0833475C802CF91
        componentRecordId:
          type: string
          description: Unique identifier of a monitoring component record.
          example: CAMD-646D15E327E1480D814D48286DA7F073
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - analyzerRangeCode
      - dualRangeIndicator
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - componentRecordId
      - userId
      - addDate
      - updateDate
      - active
    MonitorPlanDTO:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of a monitoring plan record.
          example: TWCORNEL5-C0E3879920A14159BAA98E03F1980A7A
        orisCode:
          type: number
          description: EIA-assigned identifier or facility ID assigned by CAMD (if EIA number is not applicable).
          example: 3
        facilityId:
          type: number
          description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
          example: 3
        name:
          type: string
          description: Character codes source assigned to identify a stack, pipe and/or unit.
          example: 1,2,CSA00N
        endReportPeriodId:
          type: number
          description: Unique identifier of a reporting period record. This value will be null for active records.
          example: null
        beginReportPeriodId:
          type: number
          description: Unique identifier of a reporting period record.
          example: null
        facilityName:
          type: string
          example: EPA Facility
        facilityRegistrySystemId:
          type: string
          example: '12345'
        configTypeCode:
          type: string
          example: string
        lastUpdated:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updatedStatusFlag:
          type: string
          example: active
        needsEvalFlag:
          type: string
          example: string
        checkSessionId:
          type: string
          example: '12345'
        endReportPeriodDescription:
          type: string
          example: string
        beginReportPeriodDescription:
          type: string
          example: string
        active:
          type: boolean
          example: true
        monitoringPlanCommentData:
          type: array
          items:
            $ref: '#/components/schemas/MonitorPlanCommentDTO'
          example:
          - string
        unitStackConfigurationData:
          type: array
          items:
            $ref: '#/components/schemas/UnitStackConfigurationDTO'
          example:
          - string
        reportingFrequencies:
          type: array
          items:
            $ref: '#/components/schemas/MonitorPlanReportingFreqDTO'
          example:
          - string
        monitoringLocationData:
          type: array
          items:
            $ref: '#/components/schemas/MonitorLocationDTO'
          example:
          - string
        pendingStatusCode:
          type: string
          example: active
        evalStatusCode:
          type: string
          example: active
        evalStatusCodeDescription:
          type: string
          example: active
        severityCode:
          type: string
          example: string
        severityDescription:
          type: string
          example: string
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        submissionId:
          type: number
          example: 0.0
        submissionAvailabilityCode:
          type: string
          example: string
        submissionAvailabilityCodeDescription:
          type: string
          example: string
        lastEvaluatedDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        version:
          type: string
          example: string
      required:
      - id
      - orisCode
      - facilityId
      - name
      - endReportPeriodId
      - beginReportPeriodId
      - facilityName
      - facilityRegistrySystemId
      - configTypeCode
      - lastUpdated
      - updatedStatusFlag
      - needsEvalFlag
      - checkSessionId
      - active
      - monitoringPlanCommentData
      - unitStackConfigurationData
      - reportingFrequencies
      - monitoringLocationData
      - pendingStatusCode
      - evalStatusCode
      - evalStatusCodeDescription
      - severityCode
      - severityDescription
      - userId
      - addDate
      - updateDate
      - submissionId
      - submissionAvailabilityCode
      - submissionAvailabilityCodeDescription
      - lastEvaluatedDate
    MonitorPlan:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        facId:
          type: number
          example: 0.0
        configTypeCode:
          type: string
          example: string
        lastUpdated:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updatedStatusFlag:
          type: string
          example: active
        needsEvalFlag:
          type: string
          example: string
        checkSessionId:
          type: string
          example: '12345'
        endReportPeriodId:
          type: number
          example: 0.0
        beginReportPeriodId:
          type: number
          example: 0.0
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        submissionId:
          type: number
          example: 0.0
        submissionAvailabilityCode:
          type: string
          example: string
        plant:
          $ref: '#/components/schemas/Plant'
        locations:
          type: array
          items:
            $ref: '#/components/schemas/MonitorLocation'
          example:
          - string
        comments:
          type: array
          items:
            $ref: '#/components/schemas/MonitorPlanComment'
          example:
          - string
        reportingFrequencies:
          type: array
          items:
            $ref: '#/components/schemas/MonitorPlanReportingFrequency'
          example:
          - string
        unitStackConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/UnitStackConfiguration'
          example:
          - string
        unitCapacities:
          type: array
          items:
            $ref: '#/components/schemas/UnitCapacity'
          example:
          - string
        unitControls:
          type: array
          items:
            $ref: '#/components/schemas/UnitControl'
          example:
          - string
        unitFuels:
          type: array
          items:
            $ref: '#/components/schemas/UnitFuel'
          example:
          - string
        lastEvaluatedDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        emissionEvaluations:
          type: array
          items:
            $ref: '#/components/schemas/EmissionEvaluation'
          example:
          - string
        beginReportingPeriod:
          $ref: '#/components/schemas/ReportingPeriod'
        endReportingPeriod:
          $ref: '#/components/schemas/ReportingPeriod'
      required:
      - id
      - facId
      - configTypeCode
      - lastUpdated
      - updatedStatusFlag
      - needsEvalFlag
      - checkSessionId
      - endReportPeriodId
      - beginReportPeriodId
      - userId
      - addDate
      - updateDate
      - submissionId
      - submissionAvailabilityCode
      - plant
      - locations
      - comments
      - reportingFrequencies
      - unitStackConfigurations
      - lastEvaluatedDate
      - emissionEvaluations
      - beginReportingPeriod
      - endReportingPeriod
    UnitFuel:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        unitId:
          type: number
          example: 0.0
        fuelCode:
          type: string
          example: string
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        indicatorCode:
          type: string
          example: string
        actualOrProjectedCode:
          type: string
          example: string
        ozoneSeasonIndicator:
          type: number
          example: 0.0
        demSO2:
          type: string
          example: string
        demGCV:
          type: string
          example: string
        sulfurContent:
          type: number
          example: 0.0
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        unit:
          $ref: '#/components/schemas/Unit'
      required:
      - id
      - unitId
      - fuelCode
      - beginDate
      - endDate
      - indicatorCode
      - actualOrProjectedCode
      - ozoneSeasonIndicator
      - demSO2
      - demGCV
      - sulfurContent
      - userId
      - addDate
      - updateDate
      - unit
    UnitControlDTO:
      type: object
      properties:
        controlCode:
          type: string
          description: Codes used to identify the type of control equipment.
          example: SNCR
        originalCode:
          type: string
          description: Code used to identify that the control equipment was installed and operational as part of the original unit design.
          example: '0'
        installDate:
          format: date-time
          type: string
          description: Approximate date the original control equipment was or will be installed.
          example: '2005-01-01'
        optimizationDate:
          format: date-time
          type: string
          description: The approximate date on which optimization of control equipment was completed and the equipment made fully operational if the control equipment was not part of the original installation.
          example: '2006-06-01'
        seasonalControlsIndicator:
          type: string
          description: Code used to identify if the NOx control equipment was used during the ozone season.
          example: '0'
        retireDate:
          format: date-time
          type: string
          description: Date control equipment was retired. This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a unit control record.
          example: '618'
        unitId:
          type: number
          description: Unique identifier of a unit record.
          example: '734'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
        parameterCode:
          type: string
          example: string
      required:
      - controlCode
      - originalCode
      - installDate
      - optimizationDate
      - seasonalControlsIndicator
      - retireDate
      - id
      - unitId
      - userId
      - addDate
      - updateDate
      - active
      - parameterCode
    UnitStackConfigurationDTO:
      type: object
      properties:
        beginDate:
          format: date-time
          type: string
          description: Date in which information became effective or activity started.
          example: '1995-01-01'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective or date in which activity ended. This value will be null for active records.
          example: '2020-12-31'
        id:
          type: string
          description: Unique identifier of a monitoring configuration record.
          example: CAMD-18DD175CE7EF4256B78469865D84F576
        unitRecordId:
          type: number
          description: Unique identifier of a unit record which is generated by the EPA Host System.
          example: '2'
        stackPipeRecordId:
          type: string
          description: Unique identifier of a stack or pipe record.
          example: MDC-CCB8D6D0D4E34D24A99C01DCD14078DF
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
        unitId:
          type: string
          example: '12345'
        stackPipeId:
          type: string
          example: '12345'
      required:
      - beginDate
      - endDate
      - id
      - unitRecordId
      - stackPipeRecordId
      - userId
      - addDate
      - updateDate
      - active
      - unitId
      - stackPipeId
    DuctWaf:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        locationId:
          type: string
          example: '12345'
        wafDeterminationDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        wafBeginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        wafBeginHour:
          type: number
          example: 0.0
        wafMethodCode:
          type: string
          example: string
        wafValue:
          type: number
          example: 0.0
        numberOfTestRuns:
          type: number
          example: 0.0
        numberOfTraversePointsWaf:
          type: number
          example: 0.0
        numberOfTestPorts:
          type: number
          example: 0.0
        numberOfTraversePointsRef:
          type: number
          example: 0.0
        ductWidth:
          type: number
          example: 0.0
        ductDepth:
          type: number
          example: 0.0
        wafEndDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        wafEndHour:
          type: number
          example: 0.0
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        location:
          $ref: '#/components/schemas/MonitorLocation'
      required:
      - id
      - locationId
      - wafDeterminationDate
      - wafBeginDate
      - wafBeginHour
      - wafMethodCode
      - wafValue
      - numberOfTestRuns
      - numberOfTraversePointsWaf
      - numberOfTestPorts
      - numberOfTraversePointsRef
      - ductWidth
      - ductDepth
      - wafEndDate
      - wafEndHour
      - userId
      - addDate
      - updateDate
      - location
    MonitorMethodDTO:
      type: object
      properties:
        parameterCode:
          type: string
          description: Code used to identify the parameter.
          example: SO2
        monitoringMethodCode:
          type: string
          description: Code used to identify the monitoring methodology.
          example: CEM
        substituteDataCode:
          type: string
          description: Code used to identify the substitute data approach type.
          example: SPTS
        bypassApproachCode:
          type: string
          description: Code used to identify the value to be used for an unmonitored bypass stack.
          example: BYMAX
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2007-11-27'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 17
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring method record.
          example: MELISSAMAT-7BA7D94FDB4F4D4A8E1161E4B46150F6
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - parameterCode
      - monitoringMethodCode
      - substituteDataCode
      - bypassApproachCode
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
    ComponentDTO:
      type: object
      properties:
        componentId:
          type: string
          description: The three digit code assigned by the source to identify the component.
          example: '027'
        componentTypeCode:
          type: string
          description: Code used to identify the component type.
          example: SO2
        sampleAcquisitionMethodCode:
          type: string
          description: Code used to identify the sample acquisition method.
          example: DOU
        basisCode:
          type: string
          description: Code used to identify the moisture basis.
          example: W
        manufacturer:
          type: string
          maxLength: 25
          description: Name of the manufacturer or developer of the component.
          example: TECO
        modelVersion:
          type: string
          maxLength: 15
          description: The model of any hardware component or the version number of the software component.
          example: 43I
        serialNumber:
          type: string
          maxLength: 20
          description: Serial number of the component.
          example: '631819420'
        hgConverterIndicator:
          type: number
          description: For an Hg component, indicates whether the analyzer has a converter.
          example: '1'
        id:
          type: string
          description: Unique identifier of a monitoring component record.
          example: CAMD-646D15E327E1480D814D48286DA7F073
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        analyzerRangeData:
          type: array
          items:
            $ref: '#/components/schemas/AnalyzerRangeDTO'
          example:
          - string
      required:
      - componentId
      - componentTypeCode
      - sampleAcquisitionMethodCode
      - basisCode
      - manufacturer
      - modelVersion
      - serialNumber
      - hgConverterIndicator
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - analyzerRangeData
    LMEQualification:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        qualificationId:
          type: string
          example: '12345'
        qualificationDataYear:
          type: number
          example: 2024
        so2Tons:
          type: number
          example: 0.0
        noxTons:
          type: number
          example: 0.0
        operatingHours:
          type: number
          example: 0.0
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        qualification:
          $ref: '#/components/schemas/MonitorQualification'
      required:
      - id
      - qualificationId
      - qualificationDataYear
      - so2Tons
      - noxTons
      - operatingHours
      - userId
      - addDate
      - updateDate
      - qualification
    Plant:
      type: object
      properties:
        id:
          type: number
          example: 0.0
        orisCode:
          type: number
          example: 0.0
        name:
          type: string
          example: EPA Facility
        state:
          type: string
          example: NC
        countyCode:
          type: string
          example: '037'
        region:
          type: number
          example: 0.0
        facilityRegistrySystemId:
          type: string
          example: '12345'
        units:
          type: array
          items:
            $ref: '#/components/schemas/Unit'
          example:
          - string
        stackPipes:
          type: array
          items:
            $ref: '#/components/schemas/StackPipe'
          example:
          - string
        plans:
          type: array
          items:
            $ref: '#/components/schemas/MonitorPlan'
          example:
          - string
      required:
      - id
      - orisCode
      - name
      - state
      - countyCode
      - region
      - facilityRegistrySystemId
      - units
      - stackPipes
      - plans
    LEEQualification:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        qualificationId:
          type: string
          example: '12345'
        qualificationTestDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        parameterCode:
          type: string
          example: string
        qualificationTestType:
          type: string
          example: string
        potentialAnnualHgMassEmissions:
          type: number
          example: 0.0
        applicableEmissionStandard:
          type: number
          example: 0.0
        unitsOfStandard:
          type: string
          example: string
        percentageOfEmissionStandard:
          type: number
          example: 0.0
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        qualification:
          $ref: '#/components/schemas/MonitorQualification'
      required:
      - id
      - qualificationId
      - qualificationTestDate
      - parameterCode
      - qualificationTestType
      - potentialAnnualHgMassEmissions
      - applicableEmissionStandard
      - unitsOfStandard
      - percentageOfEmissionStandard
      - userId
      - addDate
      - updateDate
      - qualification
    SystemFuelFlowDTO:
      type: object
      properties:
        maximumFuelFlowRate:
          type: number
          description: Maximum fuel flow rate.
          example: 30667
        systemFuelFlowUOMCode:
          type: string
          description: Code used to identify the fuel flow units of measure.
          example: HSCF
        maximumFuelFlowRateSourceCode:
          type: string
          description: Code used to identify the source of maximum fuel flow.
          example: URV
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2010-08-01'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 12
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective or hour in which activity ended. This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a system fuel flow record.
          example: WS150071-0C5A8F50F7F24DB8B73E65C18C2063E3
        monitoringSystemRecordId:
          type: string
          description: Unique identifier of a monitoring system record.
          example: WS150071-1BCDEDC4D2944376ACA55FCABE9D60A1
        fuelCode:
          type: string
          description: The type of fuel measured by the system.
          example: PNG
        systemTypeCode:
          type: string
          description: Code used to identify the type (parameter) of the system.
          example: GAS
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2010-09-01'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - maximumFuelFlowRate
      - systemFuelFlowUOMCode
      - maximumFuelFlowRateSourceCode
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - monitoringSystemRecordId
      - fuelCode
      - systemTypeCode
      - userId
      - addDate
      - updateDate
      - active
    MonitorPlanCommentDTO:
      type: object
      properties:
        monitoringPlanComment:
          type: string
          minLength: 1
          maxLength: 4000
          description: Comment on a monitoring plan
          example: DAHS was updated for GT-1 on 11/10/2016 by a previous owner, but the component ID was not updated on the gas system. This was corrected on 9/8/2020.
        beginDate:
          format: date-time
          type: string
          description: Date and time in which an activity started or ended.
          example: '2020-09-28'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring plan comment record.
          example: V-APPWORK--66020554D3C844E78730052AC3808151
        planId:
          type: string
          description: Unique identifier of a monitoring plan record.
          example: MDC-2483BA898490441B97B7D7CFB1BE6D9A
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2020-10-28'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2020-10-28'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - monitoringPlanComment
      - beginDate
      - endDate
      - id
      - planId
      - userId
      - addDate
      - updateDate
      - active
    MonitorSystemDTO:
      type: object
      properties:
        monitoringSystemId:
          type: string
          description: The three digit code used by the source to identify the monitoring system.
          example: C42
        systemTypeCode:
          type: string
          description: Code used to identify the type (parameter) of the system.
          example: FLOW
        systemDesignationCode:
          type: string
          description: Code used to indicate designation of monitoring system as primary, backup etc.
          example: P
        fuelCode:
          type: string
          description: Code used to identify the type of fuel.
          example: NFS
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2007-11-28'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        beginHour:
          type: number
          description: Hour in which information became effective or activity started.
          example: 17
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring system record.
          example: CAMD-4B0DC37051224A7AA9D8CA1E5BE6B4D4
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
        monitoringSystemComponentData:
          type: array
          items:
            $ref: '#/components/schemas/SystemComponentDTO'
          example:
          - string
        monitoringSystemFuelFlowData:
          type: array
          items:
            $ref: '#/components/schemas/SystemFuelFlowDTO'
          example:
          - string
      required:
      - monitoringSystemId
      - systemTypeCode
      - systemDesignationCode
      - fuelCode
      - beginDate
      - endDate
      - beginHour
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
      - monitoringSystemComponentData
      - monitoringSystemFuelFlowData
    Program:
      type: object
      properties:
        programId:
          type: number
          example: 0.0
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        federalIndicator:
          type: number
          example: 0.0
        firstSipYear:
          type: number
          example: 2024
        indianCountryIndicator:
          type: number
          example: 100
        overdraftIndicator:
          type: number
          example: 0.0
        programCode:
          type: string
          example: string
        stateCode:
          type: string
          example: NC
        stateRegulation:
          type: string
          example: NC
        tradingIndicator:
          type: number
          example: 0.0
        tribalLandCode:
          type: string
          example: string
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        userId:
          type: string
          example: '12345'
        unitPrograms:
          type: array
          items:
            $ref: '#/components/schemas/UnitProgram'
          example:
          - string
        code:
          $ref: '#/components/schemas/ProgramCode'
      required:
      - programId
      - addDate
      - federalIndicator
      - indianCountryIndicator
      - overdraftIndicator
      - programCode
      - tradingIndicator
      - userId
      - unitPrograms
      - code
    StackPipe:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        name:
          type: string
          example: EPA Facility
        activeDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        retireDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        facId:
          type: number
          example: 0.0
        plant:
          $ref: '#/components/schemas/Plant'
        location:
          $ref: '#/components/schemas/MonitorLocation'
        unitStackConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/UnitStackConfiguration'
          example:
          - string
      required:
      - id
      - name
      - activeDate
      - retireDate
      - facId
      - plant
      - location
      - unitStackConfigurations
    UnitControl:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        unitId:
          type: number
          example: 0.0
        controlCode:
          type: string
          example: string
        parameterCode:
          type: string
          example: string
        installDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        optimizationDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        originalCode:
          type: string
          example: string
        retireDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        seasonalControlsIndicator:
          type: string
          example: string
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        fuelIndicatorCode:
          type: string
          example: string
        unit:
          $ref: '#/components/schemas/Unit'
      required:
      - id
      - unitId
      - controlCode
      - parameterCode
      - installDate
      - optimizationDate
      - originalCode
      - retireDate
      - seasonalControlsIndicator
      - userId
      - addDate
      - updateDate
      - unit
    MonitorSpan:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        locationId:
          type: string
          example: '12345'
        mpcValue:
          type: number
          example: 0.0
        mecValue:
          type: number
          example: 0.0
        mpfValue:
          type: number
          example: 0.0
        scaleTransitionPoint:
          type: number
          example: 0.0
        spanValue:
          type: number
          example: 0.0
        fullScaleRange:
          type: number
          example: 0.0
        spanUnitsOfMeasureCode:
          type: string
          example: string
        defaultHighRange:
          type: number
          example: 0.0
        flowSpanValue:
          type: number
          example: 0.0
        flowFullScaleRange:
          type: number
          example: 0.0
        componentTypeCode:
          type: string
          example: string
        spanScaleCode:
          type: string
          example: string
        spanMethodCode:
          type: string
          example: string
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        userId:
          type: string
          example: '12345'
        addDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updateDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        location:
          $ref: '#/components/schemas/MonitorLocation'
      required:
      - id
      - locationId
      - mpcValue
      - mecValue
      - mpfValue
      - scaleTransitionPoint
      - spanValue
      - fullScaleRange
      - spanUnitsOfMeasureCode
      - defaultHighRange
      - flowSpanValue
      - flowFullScaleRange
      - componentTypeCode
      - spanScaleCode
      - spanMethodCode
      - beginDate
      - beginHour
      - endDate
      - endHour
      - userId
      - addDate
      - updateDate
      - location
    UnitCapacityDTO:
      type: object
      properties:
        maximumHourlyHeatInputCapacity:
          type: number
          description: The design heat input capacity (in mmBtu/hr) for the unit or the highest hourly heat input rate observed in the past five years, whichever is greater.
          example: 2322.1
        beginDate:
          format: date-time
          type: string
          description: Date on which a relationship or an activity began.
          example: '2009-01-01'
        endDate:
          format: date-time
          type: string
          description: Date on which a relationship or an activity ended. This value will be null for active records.
          example: null
        id:
          type: string
          description: Identity key for UNIT_CAPACITY table.
          example: '50233'
        unitId:
          type: number
          description: Identity key for UNIT table.
          example: '4705'
        commercialOperationDate:
          format: date-time
          type: string
          description: The date a unit began, or will begin to generate electricity for sale, including the sale of test generation. It is the first date that a unit serves a generator and produces electricity when connected to the grid, even if the owners are not compensated for that electricity.
          example: '1977-04-01'
        date:
          format: date-time
          type: string
          description: Date on which activity occurred.
          example: '2019-01-01'
        boilerTurbineBeginDate:
          format: date-time
          type: string
          description: Date on which monitoring began for a boiler or turbine unit.
          example: '2009-01-01'
        boilerTurbineEndDate:
          format: date-time
          type: string
          description: Date on which monitoring ended for a boiler or turbine unit.
          example: '2009-01-01'
        userId:
          type: string
          description: The user name of the person or process that created the record if the Update Date is empty.  Otherwise this is the user name of the person or process that made the last update.
          example: abcde
        addDate:
          type: string
          description: Date the record was created.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date of the last record update.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
        boilerTurbineType:
          type: string
          example: string
      required:
      - maximumHourlyHeatInputCapacity
      - beginDate
      - endDate
      - id
      - unitId
      - commercialOperationDate
      - date
      - boilerTurbineBeginDate
      - boilerTurbineEndDate
      - userId
      - addDate
      - updateDate
      - active
      - boilerTurbineType
    UnitFuelDTO:
      type: object
      properties:
        fuelCode:
          type: string
          description: The type of fuel which a UNIT is capable or will be capable of combusting.
          example: C
        indicatorCode:
          type: string
          description: Code that indicates fuel or control type.
          example: P
        ozoneSeasonIndicator:
          type: number
          description: Indicator that FUEL is used during ozone season.
          example: '0'
        demGCV:
          type: string
          description: Demonstration method to qualify for monthly GCV fuel sampling.
          example: GGC
        demSO2:
          type: string
          description: Demonstration method to qualify for daily fuel sampling for percent sulfur.
          example: SGC
        beginDate:
          format: date-time
          type: string
          description: Date on which a relationship or an activity began.
          example: '1995-01-01'
        endDate:
          format: date-time
          type: string
          description: Date on which a relationship or an activity ended.
          example: '2015-03-30'
        id:
          type: string
          description: Identity key for UNIT_FUEL table.
          example: EXPCH0876-C97319A3E96540BF92077C58DB9E2A17
        unitId:
          type: number
          description: Identity key for UNIT table.
          example: '91233'
        actualOrProjectCode:
          type: string
          description: Indicator of whether the begin date for the fuel type is an actual date or a projected date.
          example: ''
        sulfurContent:
          type: number
          description: The percent sulfur content of the fuel, by weight.
          example: ''
        userId:
          type: string
          description: The user name of the person or process that created the record if the Update Date is empty.  Otherwise this is the user name of the person or process that made the last update.
          example: abcde
        addDate:
          type: string
          description: Date the record was created.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date of the last record update.
          example: '2015-04-16'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - fuelCode
      - indicatorCode
      - ozoneSeasonIndicator
      - demGCV
      - demSO2
      - beginDate
      - endDate
      - id
      - unitId
      - actualOrProjectCode
      - sulfurContent
      - userId
      - addDate
      - updateDate
      - active
    ProgramCode:
      type: object
      properties:
        programCode:
          type: string
          example: string
        allocationCheckYear:
          type: number
          example: 2024
        allowanceComplianceIndicator:
          type: number
          example: 0.0
        allowanceUiFilter:
          type: number
          example: 0.0
        bulkFileActive:
          type: number
          example: 0.0
        complianceParameterCode:
          type: string
          example: string
        complianceUiFilter:
          type: number
          example: 0.0
        electricGeneratingUnitOnlyIndicator:
          type: number
          example: 0.0
        emissionsUiFilter:
          type: number
          example: 0.0
        federalIndicator:
          type: number
          example: 0.0
        firstComplianceYear:
          type: number
          example: 2024
        generatorIndicator:
          type: number
          example: 0.0
        indianCountryIndicator:
          type: number
          example: 100
        notes:
          type: string
          example: string
        noxCertificationIndicator:
          type: number
          example: 0.0
        noxcCertificationIndicator:
          type: number
          example: 0.0
        ozoneSeasonIndicator:
          type: number
          example: 0.0
        penaltyFactor:
          type: number
          example: 0.0
        programDescription:
          type: string
          example: string
        programGroupCode:
          type: string
          example: string
        repRequiredIndicator:
          type: number
          example: 0.0
        rueIndicator:
          type: number
          example: 0.0
        so2CertificationIndicator:
          type: number
          example: 0.0
        tradingEndDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        unitAllocationIndicator:
          type: number
          example: 0.0
        programs:
          type: array
          items:
            $ref: '#/components/schemas/Program'
          example:
          - string
      required:
      - programCode
      - allowanceComplianceIndicator
      - allowanceUiFilter
      - bulkFileActive
      - complianceUiFilter
      - electricGeneratingUnitOnlyIndicator
      - emissionsUiFilter
      - federalIndicator
      - generatorIndicator
      - indianCountryIndicator
      - notes
      - noxCertificationIndicator
      - noxcCertificationIndicator
      - ozoneSeasonIndicator
      - programDescription
      - repRequiredIndicator
      - rueIndicator
      - so2CertificationIndicator
      - unitAllocationIndicator
      - programs
    MonitorSpanDTO:
      type: object
      properties:
        componentTypeCode:
          type: string
          description: Code used to indicate the component type.
          example: SO2
        spanScaleCode:
          type: string
          description: Code used to identify the span scale.
          example: H
        spanMethodCode:
          type: string
          description: Code used to identify the method used to calculate MPC/MEC/MPF.
          example: HD
        mecValue:
          type: number
          description: The Maximum Expected Concentration (MEC) value reported in the SO2 and NOx span records.
          example: 156.9
        mpcValue:
          type: number
          description: The Maximum Potential Concentration (MPC) value reported in the high scale record for NOx, SO2, or CO2.
          example: 177.2
        mpfValue:
          type: number
          description: For parameter FLOW, report the Maximum Potential Flow (MPF) value for the monitoring location in (scfh) on a wet basis.
          example: 8563000
        spanValue:
          type: number
          description: The Span Value determined according to the requirements of Part 75 or (if applicable) 40 CFR Part 63, Subpart UUUUU.
          example: 200
        fullScaleRange:
          type: number
          description: Full scale range in units of daily calibration for SO2, NOx, CO2, O2, HCl, and flow rate, must be greater than or equal to the span value.
          example: 200
        spanUnitsOfMeasureCode:
          type: string
          description: Code used to identify the calibration units of measure.
          example: PPM
        scaleTransitionPoint:
          type: number
          description: If a dual range analyzer is installed for NOx, SO2 or CO2 (see ANALYZER RANGE DATA), report the concentration value at which the DAHS switches from recording on the normal range to recording on the secondary range (usually low to high). Report this value in both the low and high scale records. Scale transition point is not reported for FLOW, HCl, and Hg span.
          example: 200
        defaultHighRange:
          type: number
          description: The default high range value must be 200 percent of the maximum potential concentration, only reported if the high scale record for the parameter.
          example: null
        flowSpanValue:
          type: number
          description: The product of the MPF and a factor no less than 1.00 and no greater than 1.25. Flow rate span value in scfh.
          example: null
        flowFullScaleRange:
          type: number
          description: The actual full-scale range value expressed in units of scfh for the parameter FLOW, must be greater than or equal to the flow rate span value
          example: null
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2018-05-17'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 14
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring span record.
          example: MRHODES16-A5DBB8DF4F1D4D3A95AD2553008EB554
[...]
