openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Control Codes API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Control Codes
paths:
  /master-data-mgmt/control-codes:
    get:
      description: Returns list of Control codes & descriptions.
      operationId: ControlTechnologyController_getControlTechnologies
      parameters: []
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ControlTechnologyDTO'
              examples:
                ControlTechnologyController_getControlTechnologies200Example:
                  summary: Default ControlTechnologyController_getControlTechnologies 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: ''
      tags:
      - Control Codes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ControlTechnologyDTO:
      type: object
      properties:
        controlCode:
          type: string
          example: string
        controlDescription:
          type: string
          example: string
        controlEquipParamCode:
          type: string
          example: string
        controlEquipParamDescription:
          type: string
          example: string
      required:
      - controlCode
      - controlDescription
      - controlEquipParamCode
      - controlEquipParamDescription
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
