openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes UV Index API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: UV Index
  description: UV index hourly and daily forecast endpoints.
paths:
  /dmapservice/getEnvirofactsUVHOURLY/ZIP/{ZIP}/{format}:
    get:
      tags:
      - UV Index
      summary: Get Hourly UV Forecast by ZIP
      operationId: uvHourlyByZip
      parameters:
      - $ref: '#/components/parameters/Zip'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: 24-hour UV index forecast for the ZIP code.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UvHourly'
              examples:
                uvHourlyByZip200Example:
                  summary: Default uvHourlyByZip 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /dmapservice/getEnvirofactsUVHOURLY/CITY/{CITY}/STATE/{STATE}/{format}:
    get:
      tags:
      - UV Index
      summary: Get Hourly UV Forecast by City and State
      operationId: uvHourlyByCity
      parameters:
      - $ref: '#/components/parameters/City'
      - $ref: '#/components/parameters/State'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: 24-hour UV index forecast.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UvHourly'
              examples:
                uvHourlyByCity200Example:
                  summary: Default uvHourlyByCity 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /dmapservice/getEnvirofactsUVDAILY/ZIP/{ZIP}/{format}:
    get:
      tags:
      - UV Index
      summary: Get Daily UV Forecast by ZIP
      operationId: uvDailyByZip
      parameters:
      - $ref: '#/components/parameters/Zip'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Daily peak UV index forecast for the ZIP code.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UvDaily'
              examples:
                uvDailyByZip200Example:
                  summary: Default uvDailyByZip 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /dmapservice/getEnvirofactsUVDAILY/CITY/{CITY}/STATE/{STATE}/{format}:
    get:
      tags:
      - UV Index
      summary: Get Daily UV Forecast by City and State
      operationId: uvDailyByCity
      parameters:
      - $ref: '#/components/parameters/City'
      - $ref: '#/components/parameters/State'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Daily UV index forecast.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UvDaily'
              examples:
                uvDailyByCity200Example:
                  summary: Default uvDailyByCity 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    State:
      name: STATE
      in: path
      required: true
      schema:
        type: string
        pattern: ^[A-Z]{2}$
      description: 2-letter state abbreviation.
    Format:
      name: format
      in: path
      required: false
      schema:
        type: string
        enum:
        - JSON
        - CSV
        - EXCEL
        - HTML
        - JSONP
        - PARQUET
        - PDF
        - XML
      description: Output format (default JSON).
    Zip:
      name: ZIP
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{5}$
      description: 5-digit ZIP code.
    City:
      name: CITY
      in: path
      required: true
      schema:
        type: string
  schemas:
    UvDaily:
      type: object
      properties:
        CITY:
          type: string
          example: Raleigh
        STATE:
          type: string
          example: NC
        ZIP:
          type: string
          example: '20460'
        DATE:
          type: string
          example: string
        UV_INDEX:
          type: integer
          example: 0
    UvHourly:
      type: object
      properties:
        CITY:
          type: string
          example: Raleigh
        STATE:
          type: string
          example: NC
        ZIP:
          type: string
          example: '20460'
        DATE_TIME:
          type: string
          example: string
        UV_VALUE:
          type: integer
          example: 0
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
