openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Formulas API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Formulas
paths:
  /monitor-plan-mgmt/locations/{locId}/formulas:
    get:
      operationId: MonitorFormulaController_getFormulas
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official formula records for a monitor location
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitorFormulaDTO'
              examples:
                MonitorFormulaController_getFormulas200Example:
                  summary: Default MonitorFormulaController_getFormulas 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Formulas
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MonitorFormulaDTO:
      type: object
      properties:
        formulaId:
          type: string
          description: The three character formula ID assigned by the source.
          example: '140'
        parameterCode:
          type: string
          description: Code used to identify the parameter.
          example: SO2
        formulaCode:
          type: string
          description: Code used to identify the equation as defined in Part 75.
          example: F-1
        formulaText:
          type: string
          maxLength: 200
          description: The equation used to calculate the parameter.
          example: 1.667 * 10**-7 * S#(027-C40) * S#(029-C42)
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2007-11-08'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 17
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring formula record.
          example: CAMD-1CDAA10B7D6A41BBA6BCFF5534F5C5CA
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - formulaId
      - parameterCode
      - formulaCode
      - formulaText
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
