openapi: 3.2.0
info:
  title: Master Data Management OpenAPI Specification Fuel Type Codes API
  description: Provides reference codes, descriptions, & relationship data for CAMD applications
  version: 'v2.0.106 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Fuel Type Codes
paths:
  /master-data-mgmt/fuel-type-codes:
    get:
      description: Returns a list of Fuel Type codes & descriptions.
      operationId: FuelTypeController_getFuelTypeCodes
      parameters: []
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FuelTypeDTO'
              examples:
                FuelTypeController_getFuelTypeCodes200Example:
                  summary: Default FuelTypeController_getFuelTypeCodes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: ''
      tags:
      - Fuel Type Codes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    FuelTypeDTO:
      type: object
      properties:
        fuelTypeCode:
          type: string
          example: string
        fuelTypeDescription:
          type: string
          example: string
        fuelGroupCode:
          type: string
          example: string
        fuelGroupDescription:
          type: string
          example: string
      required:
      - fuelTypeCode
      - fuelTypeDescription
      - fuelGroupCode
      - fuelGroupDescription
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
