openapi: 3.2.0
info:
  title: Monitor Plan Management OpenAPI Specification Analyzer Ranges API
  description: Monitor Plan management API endpoints for all monitor plan data & operations
  version: 'v2.0.118 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Analyzer Ranges
paths:
  /monitor-plan-mgmt/locations/{locId}/components/{compId}/analyzer-ranges:
    get:
      operationId: AnalyzerRangeController_getAnalyzerRanges
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: compId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official analyzer range records for a component
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnalyzerRangeDTO'
              examples:
                AnalyzerRangeController_getAnalyzerRanges200Example:
                  summary: Default AnalyzerRangeController_getAnalyzerRanges 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Analyzer Ranges
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AnalyzerRangeDTO:
      type: object
      properties:
        analyzerRangeCode:
          type: string
          description: Code used to identify the analyzer range.
          example: A
        dualRangeIndicator:
          type: number
          description: Used to indicate whether the component is a dual-range analyzer.
          example: '1'
        beginDate:
          format: date-time
          type: string
          description: Date in which information became effective or activity started.
          example: '2008-05-17'
        beginHour:
          type: number
          description: Hour in which information became effective or activity started.
          example: '14'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective or date in which activity ended. This value will be null if active record.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective or hour in which activity ended. This value will be null if active record.
          example: null
        id:
          type: string
          description: Unique identifier of an analyzer range history record.
          example: MRHODES16-10C1A63683D34BA7A0833475C802CF91
        componentRecordId:
          type: string
          description: Unique identifier of a monitoring component record.
          example: CAMD-646D15E327E1480D814D48286DA7F073
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - analyzerRangeCode
      - dualRangeIndicator
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - componentRecordId
      - userId
      - addDate
      - updateDate
      - active
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
