openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Fuel Flow To Load Test API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Fuel Flow To Load Test
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/fuel-flow-to-load-tests:
    get:
      operationId: FuelFlowToLoadTestController_getFuelFlowToLoadTests
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Fuel Flow To Load Test records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FuelFlowToLoadTestDTO'
              examples:
                FuelFlowToLoadTestController_getFuelFlowToLoadTests200Example:
                  summary: Default FuelFlowToLoadTestController_getFuelFlowToLoadTests 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Fuel Flow To Load Test
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/fuel-flow-to-load-tests/{id}:
    get:
      operationId: FuelFlowToLoadTestController_getFuelFlowToLoadTest
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Fuel Flow To Load Test record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FuelFlowToLoadTestDTO'
              examples:
                FuelFlowToLoadTestController_getFuelFlowToLoadTest200Example:
                  summary: Default FuelFlowToLoadTestController_getFuelFlowToLoadTest 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Fuel Flow To Load Test
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    FuelFlowToLoadTestDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        testBasisCode:
          type: string
          example: string
        averageDifference:
          type: number
          example: 0.0
        numberOfHoursUsed:
          type: number
          example: 0.0
        numberOfHoursExcludedCofiring:
          type: number
          example: 0.0
        numberOfHoursExcludedRamping:
          type: number
          example: 0.0
        numberOfHoursExcludedLowRange:
          type: number
          example: 0.0
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
