openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Hg Injection API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Hg Injection
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/hg-summaries/{hgTestSumId}/hg-injections:
    get:
      operationId: HgInjectionController_getHgInjections
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: hgTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves Hg Injection records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/HgInjectionRecordDTO'
              examples:
                HgInjectionController_getHgInjections200Example:
                  summary: Default HgInjectionController_getHgInjections 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Hg Injection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/hg-summaries/{hgTestSumId}/hg-injections/{id}:
    get:
      operationId: HgInjectionController_getHgInjection
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: hgTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves Injection Hg Injection record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HgInjectionRecordDTO'
              examples:
                HgInjectionController_getHgInjection200Example:
                  summary: Default HgInjectionController_getHgInjection 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Hg Injection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    HgInjectionRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        hgTestSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        injectionDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        injectionHour:
          type: number
          example: 0.0
        injectionMinute:
          type: number
          example: 0.0
        measuredValue:
          type: number
          example: 0.0
        referenceValue:
          type: number
          example: 0.0
      required:
      - id
      - hgTestSumId
      - userId
      - addDate
      - updateDate
      - injectionDate
      - injectionHour
      - injectionMinute
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
