openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Program Codes API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Program Codes
paths:
  /master-data-mgmt/program-codes:
    get:
      description: Returns a list of Program codes & descriptions.
      operationId: ProgramController_getProgramCodes
      parameters:
      - name: exclude
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - ARP
            - CAIRNOX
            - CAIROS
            - CAIRSO2
            - CSNOX
            - CSNOXOS
            - CSOSG1
            - CSOSG2
            - CSOSG2E
            - CSOSG3
            - CSSO2G1
            - CSSO2G2
            - NBP
            - NHNOX
            - NSPS4T
            - OTC
            - RGGI
            - SIPNOX
            - TXSO2
        example:
        - ARP
      - name: isActive
        required: false
        in: query
        schema:
          nullable: true
          type: boolean
        example: true
      - name: emissionsUIFilter
        required: false
        in: query
        schema:
          nullable: true
          type: boolean
        example: true
      - name: allowanceUIFilter
        required: false
        in: query
        schema:
          nullable: true
          type: boolean
        example: true
      - name: complianceUIFilter
        required: false
        in: query
        schema:
          nullable: true
          type: boolean
        example: true
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProgramDTO'
              examples:
                ProgramController_getProgramCodes200Example:
                  summary: Default ProgramController_getProgramCodes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: ''
      tags:
      - Program Codes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ProgramDTO:
      type: object
      properties:
        programCode:
          type: string
          example: string
        programDescription:
          type: string
          example: string
        compParameter:
          type: string
          example: string
        programGroupCode:
          type: string
          example: string
        programGroupDescription:
          type: string
          example: string
        ozoneIndicator:
          type: boolean
          example: true
        annualIndicator:
          type: boolean
          example: true
        emissionsUIFilter:
          type: boolean
          example: true
        allowanceUIFilter:
          type: boolean
          example: true
        complianceUIFilter:
          type: boolean
          example: true
        retiredIndicator:
          type: boolean
          example: true
        tradingEndDate:
          type: string
          example: string
      required:
      - programCode
      - programDescription
      - compParameter
      - programGroupCode
      - programGroupDescription
      - ozoneIndicator
      - annualIndicator
      - emissionsUIFilter
      - allowanceUIFilter
      - complianceUIFilter
      - retiredIndicator
      - tradingEndDate
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
