openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Apportioned Emissions API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Apportioned Emissions
paths:
  /emissions-mgmt/emissions/apportioned/attributes/applicable:
    get:
      operationId: ApportionedEmissionsController_getApplicableApportionedEmissionsAttributes
      parameters:
      - name: year
        required: true
        in: query
        description: The calendar year during which activity occurred.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 2024
      responses:
        '200':
          description: Retrieves Applicable Emissions Attributes
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicableApportionedEmissionsAttributesDTO'
              examples:
                ApportionedEmissionsController_getApplicableApportionedEmissionsAttributes200Example:
                  summary: Default ApportionedEmissionsController_getApplicableApportionedEmissionsAttributes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Apportioned Emissions
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ApplicableApportionedEmissionsAttributesDTO:
      type: object
      properties:
        year:
          type: number
          description: The calendar year during which activity occurred.
          example: 2020
        programCode:
          type: string
          description: Code for statutory or regulatory based options for tracking and reducing air pollution emissions.
          example: CAIRNOX
        facilityId:
          type: number
          description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
          example: 3
        stateCode:
          type: string
          description: Two letter abbreviation for the State.
          example: AK
        unitTypeCode:
          type: string
          description: Code for the unit or boiler type.
          example: AF
        fuelTypeCode:
          type: string
          description: Code for the type of fuel combusted by the unit.
          example: C
        controlCode:
          type: string
          description: Code for the method or equipment used by the combustion unit to minimize emissions for the particular pollutant.
          example: B
      required:
      - year
      - programCode
      - facilityId
      - stateCode
      - unitTypeCode
      - fuelTypeCode
      - controlCode
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
