openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Cycle Time Injection API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Cycle Time Injection
paths:
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/cycle-time-summaries/{cycleTimeSumId}/cycle-time-injections
  : get:
      operationId: CycleTimeInjectionController_getCycleTimeInjections
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: cycleTimeSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retreives official Cycle Time Injection records by Cycle Time Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CycleTimeInjectionRecordDTO'
              examples:
                CycleTimeInjectionController_getCycleTimeInjections200Example:
                  summary: Default CycleTimeInjectionController_getCycleTimeInjections 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Cycle Time Injection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/cycle-time-summaries/{cycleTimeSumId}/cycle-time-injections/{id}
  : get:
      operationId: CycleTimeInjectionController_getCycleTimeInjection
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: cycleTimeSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves workspace Cycle Time Injection record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CycleTimeInjectionRecordDTO'
              examples:
                CycleTimeInjectionController_getCycleTimeInjection200Example:
                  summary: Default CycleTimeInjectionController_getCycleTimeInjection 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Cycle Time Injection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CycleTimeInjectionRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        cycleTimeSumId:
          type: string
          example: '12345'
        calculatedInjectionCycleTime:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        gasLevelCode:
          type: string
          example: string
        calibrationGasValue:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        beginMinute:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        endMinute:
          type: number
          example: 0.0
        injectionCycleTime:
          type: number
          example: 0.0
        beginMonitorValue:
          type: number
          example: 0.0
        endMonitorValue:
          type: number
          example: 0.0
      required:
      - id
      - cycleTimeSumId
      - calculatedInjectionCycleTime
      - userId
      - addDate
      - updateDate
      - gasLevelCode
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
