openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Comments API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Comments
paths:
  /monitor-plan-mgmt/plans/{planId}/comments:
    get:
      operationId: MonitorPlanCommentController_getComments
      parameters:
      - name: planId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official comment records for a monitor plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitorPlanCommentDTO'
              examples:
                MonitorPlanCommentController_getComments200Example:
                  summary: Default MonitorPlanCommentController_getComments 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Comments
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MonitorPlanCommentDTO:
      type: object
      properties:
        monitoringPlanComment:
          type: string
          minLength: 1
          maxLength: 4000
          description: Comment on a monitoring plan
          example: DAHS was updated for GT-1 on 11/10/2016 by a previous owner, but the component ID was not updated on the gas system. This was corrected on 9/8/2020.
        beginDate:
          format: date-time
          type: string
          description: Date and time in which an activity started or ended.
          example: '2020-09-28'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring plan comment record.
          example: V-APPWORK--66020554D3C844E78730052AC3808151
        planId:
          type: string
          description: Unique identifier of a monitoring plan record.
          example: MDC-2483BA898490441B97B7D7CFB1BE6D9A
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2020-10-28'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2020-10-28'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - monitoringPlanComment
      - beginDate
      - endDate
      - id
      - planId
      - userId
      - addDate
      - updateDate
      - active
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
