openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Flow To Load Reference API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Flow To Load Reference
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/flow-to-load-references:
    get:
      operationId: FlowToLoadReferenceController_getFlowToLoadReferences
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves Flow To Load Reference records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FlowToLoadReferenceRecordDTO'
              examples:
                FlowToLoadReferenceController_getFlowToLoadReferences200Example:
                  summary: Default FlowToLoadReferenceController_getFlowToLoadReferences 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Flow To Load Reference
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/flow-to-load-references/{id}:
    get:
      operationId: FlowToLoadReferenceController_getFlowToLoadReference
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves a Flow To Load Reference record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowToLoadReferenceRecordDTO'
              examples:
                FlowToLoadReferenceController_getFlowToLoadReference200Example:
                  summary: Default FlowToLoadReferenceController_getFlowToLoadReference 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Flow To Load Reference
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    FlowToLoadReferenceRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedAverageGrossUnitLoad:
          type: number
          example: 35.5
        calculatedAverageReferenceMethodFlow:
          type: number
          example: 35.5
        calculatedReferenceFlowToLoadRatio:
          type: number
          example: 35.5
        calculatedReferenceGrossHeatRate:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        rataTestNumber:
          type: string
          maxLength: 18
          example: string
        operatingLevelCode:
          type: string
          example: string
        averageGrossUnitLoad:
          type: number
          example: 0.0
        averageReferenceMethodFlow:
          type: number
          example: 0.0
        referenceFlowLoadRatio:
          type: number
          example: 0.0
        averageHourlyHeatInputRate:
          type: number
          example: 0.0
        referenceGrossHeatRate:
          type: number
          example: 0.0
        calculatedSeparateReferenceIndicator:
          type: number
          example: 35.5
      required:
      - id
      - testSumId
      - calculatedAverageGrossUnitLoad
      - calculatedAverageReferenceMethodFlow
      - calculatedReferenceFlowToLoadRatio
      - calculatedReferenceGrossHeatRate
      - userId
      - addDate
      - updateDate
      - operatingLevelCode
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
