openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Accounts API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Accounts
paths:
  /account-mgmt/accounts:
    get:
      operationId: AccountController_getAllAccounts
      parameters: []
      responses:
        '200':
          description: Retrieved All Valid Accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountDTO'
              examples:
                AccountController_getAllAccounts200Example:
                  summary: Default AccountController_getAllAccounts 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Accounts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /account-mgmt/accounts/attributes:
    get:
      operationId: AccountController_getAllAccountAttributes
      parameters:
      - name: accountType
        required: false
        in: query
        description: Type of allowance account (Facility, General, etc.).
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Compliance Assurance Surrender Account
            - Enforcement Surrender Account
            - Facility Account
            - General Account
            - Overdraft Account
            - EPA Reserve Account
            - State Early Reduction Reserve Account
            - State General Reserve Account
            - State Holding Account
            - New Unit Set Aside Reserve Account
            - State Opt-In Reserve Account
            - State Other Reserve Account
            - State Primary Reserve Account
            - State Retirement Account
            - Surrender Account
            - Unit Account
            - Voluntary Surrender Account
        example:
        - Compliance Assurance Surrender Account
      - name: accountNumber
        required: false
        in: query
        description: The unique identification number of an account.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: facilityId
        required: false
        in: query
        description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 0.0
      - name: stateCode
        required: false
        in: query
        description: Two letter abbreviation for the State.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AL
            - AK
            - AS
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FM
            - FL
            - GA
            - GU
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MH
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - MP
            - OH
            - OK
            - OR
            - PW
            - PA
            - PR
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VI
            - VA
            - WA
            - WV
            - WI
            - WY
        example:
        - AL
      - name: ownerOperator
        required: false
        in: query
        description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: programCodeInfo
        required: false
        in: query
        description: Statutory or regulatory based options for tracking and reducing air pollution emissions.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - ARP
            - CAIRNOX
            - CAIROS
            - CAIRSO2
            - CSNOX
            - CSNOXOS
            - CSOSG1
            - CSOSG2
            - CSOSG2E
            - CSOSG3
            - CSSO2G1
            - CSSO2G2
            - NBP
            - OTC
            - TXSO2
        example:
        - ARP
      - name: page
        required: true
        in: query
        description: Page number of data being requested.
        schema:
          type: number
        example: 0.0
      - name: perPage
        required: true
        in: query
        description: Number of results per page.
        schema:
          type: number
        example: 0.0
      responses:
        '200':
          description: Retrieved All Valid Account Attributes
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountAttributesDTO'
              examples:
                AccountController_getAllAccountAttributes200Example:
                  summary: Default AccountController_getAllAccountAttributes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
            text/csv:
              schema:
                type: string
                example: Account Number,Account Name,Program Code,Account Type,Facility ID,Unit ID,Owner/Operator,State,EPA Region,NERC Region
              examples:
                AccountController_getAllAccountAttributes200Example:
                  summary: Default AccountController_getAllAccountAttributes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Accounts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /account-mgmt/accounts/attributes/applicable:
    get:
      operationId: AccountController_getAllApplicableAccountAttributes
      parameters: []
      responses:
        '200':
          description: Retrieved All Applicable Account Attributes
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicableAccountAttributesDTO'
              examples:
                AccountController_getAllApplicableAccountAttributes200Example:
                  summary: Default AccountController_getAllApplicableAccountAttributes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Accounts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /account-mgmt/accounts/owner-operators:
    get:
      operationId: AccountController_getAllOwnerOperators
      parameters: []
      responses:
        '200':
          description: Retrieved All Valid Owner Operators
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/OwnerOperatorsDTO'
              examples:
                AccountController_getAllOwnerOperators200Example:
                  summary: Default AccountController_getAllOwnerOperators 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Accounts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /streaming-services/accounts/attributes:
    get:
      operationId: AccountController_streamAllAccountAttributes
      parameters:
      - name: accountType
        required: false
        in: query
        description: Type of allowance account (Facility, General, etc.).
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - Compliance Assurance Surrender Account
            - Enforcement Surrender Account
            - Facility Account
            - General Account
            - Overdraft Account
            - EPA Reserve Account
            - State Early Reduction Reserve Account
            - State General Reserve Account
            - State Holding Account
            - New Unit Set Aside Reserve Account
            - State Opt-In Reserve Account
            - State Other Reserve Account
            - State Primary Reserve Account
            - State Retirement Account
            - Surrender Account
            - Unit Account
            - Voluntary Surrender Account
        example:
        - Compliance Assurance Surrender Account
      - name: accountNumber
        required: false
        in: query
        description: The unique identification number of an account.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: facilityId
        required: false
        in: query
        description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 0.0
      - name: stateCode
        required: false
        in: query
        description: Two letter abbreviation for the State.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AL
            - AK
            - AS
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FM
            - FL
            - GA
            - GU
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MH
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - MP
            - OH
            - OK
            - OR
            - PW
            - PA
            - PR
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VI
            - VA
            - WA
            - WV
            - WI
            - WY
        example:
        - AL
      - name: ownerOperator
        required: false
        in: query
        description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: programCodeInfo
        required: false
        in: query
        description: Statutory or regulatory based options for tracking and reducing air pollution emissions.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - ARP
            - CAIRNOX
            - CAIROS
            - CAIRSO2
            - CSNOX
            - CSNOXOS
            - CSOSG1
            - CSOSG2
            - CSOSG2E
            - CSOSG3
            - CSSO2G1
            - CSSO2G2
            - NBP
            - OTC
            - TXSO2
        example:
        - ARP
      - name: exclude
        required: false
        in: query
        description: Selected items will be excluded from the response
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - accountType
            - epaRegion
            - nercRegion
            - stateCode
            - unitId
            - unit_id
        example:
        - accountType
      responses:
        '200':
          description: Streams All Valid Account Attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountAttributesDTO'
              examples:
                AccountController_streamAllAccountAttributes200Example:
                  summary: Default AccountController_streamAllAccountAttributes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
            text/csv:
              schema:
                type: string
                example: Account Number,Account Name,Program Code,Account Type,Facility ID,Unit ID,Owner/Operator,State,EPA Region,NERC Region
              examples:
                AccountController_streamAllAccountAttributes200Example:
                  summary: Default AccountController_streamAllAccountAttributes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Accounts
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    OwnerOperatorsDTO:
      type: object
      properties:
        ownerOperator:
          type: string
          description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
          example: Alabama Power Company
        ownType:
          type: string
          description: Owner/Operator type. Either Owner, Operator, or Both.
          example: OPR
      required:
      - ownerOperator
      - ownType
    ApplicableAccountAttributesDTO:
      type: object
      properties:
        programCode:
          type: string
          description: Code for statutory or regulatory based options for tracking and reducing air pollution emissions.
          example: CAIRNOX
        facilityId:
          type: number
          description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
          example: 3
        stateCode:
          type: string
          description: Two letter abbreviation for the State.
          example: AK
        accountNumber:
          type: string
          description: The unique identification number of an account.
          example: 000003FACLTY
        accountTypeCode:
          type: string
          description: Code for the type of allowance account.
          example: RESERVE
        ownerOperator:
          type: string
          description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
          example: Alabama Power Company
      required:
      - programCode
      - stateCode
      - accountNumber
      - accountTypeCode
      - ownerOperator
    AccountAttributesDTO:
      type: object
      properties:
        accountNumber:
          type: string
          description: The unique identification number of an account.
          example: 000003FACLTY
        accountName:
          type: string
          description: The name of the account in which allowances are held.
          example: Barry
        programCodeInfo:
          type: string
          description: Statutory or regulatory based options for tracking and reducing air pollution emissions.
          example: ARP,CSNOX,CSSO2G2,MATS
        accountType:
          type: string
          description: Type of allowance account (Facility, General, etc.).
          example: Facility Account
        facilityId:
          type: number
          description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
          example: 3
        unitId:
          type: string
          description: Unique identifier for each unit at a facility.
          example: 5
        ownerOperator:
          type: string
          description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
          example: Alabama Power Company (Operator)|Alabama Power Company (Owner)
        stateCode:
          type: string
          description: Two letter abbreviation for the State.
          example: AK
        epaRegion:
          type: number
          description: An EPA Region is a group of U.S. states. EPA Regions are numbered from 1 to 10 and each state belongs to one and only one EPA Region.
          example: 5
        nercRegion:
          type: string
          description: The North American Electric Reliability Corporation region in which the facility is located.
          example: Mid-Continent Area Power Pool
      required:
      - accountNumber
      - accountName
      - programCodeInfo
      - accountType
      - unitId
      - ownerOperator
      - stateCode
      - nercRegion
    AccountDTO:
      type: object
      properties:
        accountNumber:
          type: string
          description: The unique identification number of an account.
          example: 000003FACLTY
        accountName:
          type: string
          description: The name of the account in which allowances are held.
          example: Barry
      required:
      - accountNumber
      - accountName
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
