openapi: 3.2.0
info:
  title: EPA Envirofacts Data Service UV Index API
  description: 'The Envirofacts Data Service API (DMAP-EF) is a programmatic interface for querying the EPA''s

    Envirofacts warehouse. It exposes data from multiple regulatory programs including

    RCRA (hazardous waste), GHG (greenhouse gases), TRI (toxic release inventory), SEMS (Superfund),

    NEI (National Emissions Inventory), SDWIS (drinking water) and more, plus UV index forecasts.


    The service uses path-encoded queries instead of conventional query strings. The general pattern is:


    ```

    /efservice/{table}/{column}{operator}{value}/{join}/{first}:{last}/{sort}/{format}

    ```


    All components except `{table}` are optional. Queries must complete within 15 minutes.

    '
  version: '1.0'
  contact:
    name: Envirofacts Support
    url: https://www.epa.gov/enviro
servers:
- url: https://data.epa.gov
  description: Envirofacts data service
tags:
- name: UV Index
  description: UV index hourly and daily forecast endpoints.
paths:
  /dmapservice/getEnvirofactsUVHOURLY/ZIP/{ZIP}/{format}:
    get:
      tags:
      - UV Index
      summary: Get Hourly UV Forecast by ZIP
      operationId: uvHourlyByZip
      parameters:
      - $ref: '#/components/parameters/Zip'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: 24-hour UV index forecast for the ZIP code.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UvHourly'
              examples:
                uvHourlyByZip200Example:
                  summary: Default uvHourlyByZip 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /dmapservice/getEnvirofactsUVHOURLY/CITY/{CITY}/STATE/{STATE}/{format}:
    get:
      tags:
      - UV Index
      summary: Get Hourly UV Forecast by City and State
      operationId: uvHourlyByCity
      parameters:
      - $ref: '#/components/parameters/City'
      - $ref: '#/components/parameters/State'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: 24-hour UV index forecast.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UvHourly'
              examples:
                uvHourlyByCity200Example:
                  summary: Default uvHourlyByCity 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /dmapservice/getEnvirofactsUVDAILY/ZIP/{ZIP}/{format}:
    get:
      tags:
      - UV Index
      summary: Get Daily UV Forecast by ZIP
      operationId: uvDailyByZip
      parameters:
      - $ref: '#/components/parameters/Zip'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Daily peak UV index forecast for the ZIP code.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UvDaily'
              examples:
                uvDailyByZip200Example:
                  summary: Default uvDailyByZip 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /dmapservice/getEnvirofactsUVDAILY/CITY/{CITY}/STATE/{STATE}/{format}:
    get:
      tags:
      - UV Index
      summary: Get Daily UV Forecast by City and State
      operationId: uvDailyByCity
      parameters:
      - $ref: '#/components/parameters/City'
      - $ref: '#/components/parameters/State'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Daily UV index forecast.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UvDaily'
              examples:
                uvDailyByCity200Example:
                  summary: Default uvDailyByCity 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UvHourly:
      type: object
      properties:
        CITY:
          type: string
          example: Raleigh
        STATE:
          type: string
          example: NC
        ZIP:
          type: string
          example: '20460'
        DATE_TIME:
          type: string
          example: string
        UV_VALUE:
          type: integer
          example: 0
    UvDaily:
      type: object
      properties:
        CITY:
          type: string
          example: Raleigh
        STATE:
          type: string
          example: NC
        ZIP:
          type: string
          example: '20460'
        DATE:
          type: string
          example: string
        UV_INDEX:
          type: integer
          example: 0
  parameters:
    Format:
      name: format
      in: path
      required: false
      schema:
        type: string
        enum:
        - JSON
        - CSV
        - EXCEL
        - HTML
        - JSONP
        - PARQUET
        - PDF
        - XML
      description: Output format (default JSON).
    State:
      name: STATE
      in: path
      required: true
      schema:
        type: string
        pattern: ^[A-Z]{2}$
      description: 2-letter state abbreviation.
    City:
      name: CITY
      in: path
      required: true
      schema:
        type: string
    Zip:
      name: ZIP
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{5}$
      description: 5-digit ZIP code.
