openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Flow To Load Check API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Flow To Load Check
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/flow-to-load-checks:
    get:
      operationId: FlowToLoadCheckController_getFlowToLoadChecks
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves Flow To Load Check records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FlowToLoadCheckRecordDTO'
              examples:
                FlowToLoadCheckController_getFlowToLoadChecks200Example:
                  summary: Default FlowToLoadCheckController_getFlowToLoadChecks 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Flow To Load Check
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/flow-to-load-checks/{id}:
    get:
      operationId: FlowToLoadCheckController_getFlowToLoadCheck
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves a Flow To Load Check record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowToLoadCheckRecordDTO'
              examples:
                FlowToLoadCheckController_getFlowToLoadCheck200Example:
                  summary: Default FlowToLoadCheckController_getFlowToLoadCheck 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Flow To Load Check
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    FlowToLoadCheckRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        testBasisCode:
          type: string
          example: string
        biasAdjustedIndicator:
          type: number
          example: 0.0
        averageAbsolutePercentDifference:
          type: number
          example: 0.0
        numberOfHours:
          type: number
          example: 0.0
        numberOfHoursExcludedForFuel:
          type: number
          example: 0.0
        numberOfHoursExcludedRamping:
          type: number
          example: 0.0
        numberOfHoursExcludedBypass:
          type: number
          example: 0.0
        numberOfHoursExcludedPreRATA:
          type: number
          example: 0.0
        numberOfHoursExcludedTest:
          type: number
          example: 0.0
        numberOfHoursExcludedMainBypass:
          type: number
          example: 0.0
        operatingLevelCode:
          type: string
          example: string
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
