openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Appendix E Heat Input From Gas API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Appendix E Heat Input From Gas
paths:
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/appendix-e-correlation-test-summaries/{appECorrTestSumId}/appendix-e-correlation-test-runs/{appECorrTestRunId}/appendix-e-heat-input-from-gases
  : get:
      operationId: AppEHeatInputFromGasController_getAppEHeatInputFromGases
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestRunId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves a workspace Appendix E Heat Input From Gas records by Appendix E Correlation Test Run Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppEHeatInputFromGasRecordDTO'
              examples:
                AppEHeatInputFromGasController_getAppEHeatInputFromGases200Example:
                  summary: Default AppEHeatInputFromGasController_getAppEHeatInputFromGases 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Appendix E Heat Input From Gas
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/appendix-e-correlation-test-summaries/{appECorrTestSumId}/appendix-e-correlation-test-runs/{appECorrTestRunId}/appendix-e-heat-input-from-gases/{id}
  : get:
      operationId: AppEHeatInputFromGasController_getAppEHeatInputFromGas
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestRunId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves a workspace Appendix E Heat Input From Gas record by it's Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEHeatInputFromGasRecordDTO'
              examples:
                AppEHeatInputFromGasController_getAppEHeatInputFromGas200Example:
                  summary: Default AppEHeatInputFromGasController_getAppEHeatInputFromGas 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Appendix E Heat Input From Gas
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AppEHeatInputFromGasRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        appECorrTestRunId:
          type: string
          example: '12345'
        calculatedGasHeatInput:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        monitoringSystemId:
          type: string
          example: '12345'
        gasGCV:
          type: number
          example: 0.0
        gasVolume:
          type: number
          example: 0.0
        gasHeatInput:
          type: number
          example: 0.0
      required:
      - id
      - appECorrTestRunId
      - calculatedGasHeatInput
      - userId
      - addDate
      - updateDate
      - monitoringSystemId
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
