openapi: 3.2.0
info:
  title: Monitor Plan Management OpenAPI Specification Formulas API
  description: Monitor Plan management API endpoints for all monitor plan data & operations
  version: 'v2.0.118 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Formulas
paths:
  /monitor-plan-mgmt/locations/{locId}/formulas:
    get:
      operationId: MonitorFormulaController_getFormulas
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official formula records for a monitor location
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitorFormulaDTO'
              examples:
                MonitorFormulaController_getFormulas200Example:
                  summary: Default MonitorFormulaController_getFormulas 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Formulas
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MonitorFormulaDTO:
      type: object
      properties:
        formulaId:
          type: string
          description: The three character formula ID assigned by the source.
          example: '140'
        parameterCode:
          type: string
          description: Code used to identify the parameter.
          example: SO2
        formulaCode:
          type: string
          description: Code used to identify the equation as defined in Part 75.
          example: F-1
        formulaText:
          type: string
          maxLength: 200
          description: The equation used to calculate the parameter.
          example: 1.667 * 10**-7 * S#(027-C40) * S#(029-C42)
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2007-11-08'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 17
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring formula record.
          example: CAMD-1CDAA10B7D6A41BBA6BCFF5534F5C5CA
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - formulaId
      - parameterCode
      - formulaCode
      - formulaText
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
