openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Reporting Periods API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Reporting Periods
paths:
  /master-data-mgmt/reporting-periods:
    get:
      description: Returns a list of Reporting Periods.
      operationId: ReportingPeriodController_getReportingPeriods
      parameters:
      - name: export
        required: false
        in: query
        schema:
          nullable: true
          type: boolean
        example: true
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReportingPeriodDTO'
              examples:
                ReportingPeriodController_getReportingPeriods200Example:
                  summary: Default ReportingPeriodController_getReportingPeriods 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: ''
      tags:
      - Reporting Periods
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ReportingPeriodDTO:
      type: object
      properties:
        id:
          type: number
          example: 0.0
        calendarYear:
          type: number
          example: 2024
        quarter:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        periodDescription:
          type: string
          example: string
        periodAbbreviation:
          type: string
          example: string
        archiveInd:
          type: number
          example: 0.0
      required:
      - id
      - calendarYear
      - quarter
      - beginDate
      - endDate
      - periodDescription
      - periodAbbreviation
      - archiveInd
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
