openapi: 3.2.0
info:
  title: Master Data Management OpenAPI Specification Program Codes API
  description: Provides reference codes, descriptions, & relationship data for CAMD applications
  version: 'v2.0.106 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Program Codes
paths:
  /master-data-mgmt/program-codes:
    get:
      description: Returns a list of Program codes & descriptions.
      operationId: ProgramController_getProgramCodes
      parameters:
      - name: exclude
        required: false
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - ARP
            - CAIRNOX
            - CAIROS
            - CAIRSO2
            - CSNOX
            - CSNOXOS
            - CSOSG1
            - CSOSG2
            - CSOSG2E
            - CSOSG3
            - CSSO2G1
            - CSSO2G2
            - NBP
            - NHNOX
            - NSPS4T
            - OTC
            - RGGI
            - SIPNOX
            - TXSO2
        example:
        - ARP
      - name: isActive
        required: false
        in: query
        schema:
          type:
          - boolean
          - 'null'
        example: true
      - name: emissionsUIFilter
        required: false
        in: query
        schema:
          type:
          - boolean
          - 'null'
        example: true
      - name: allowanceUIFilter
        required: false
        in: query
        schema:
          type:
          - boolean
          - 'null'
        example: true
      - name: complianceUIFilter
        required: false
        in: query
        schema:
          type:
          - boolean
          - 'null'
        example: true
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProgramDTO'
              examples:
                ProgramController_getProgramCodes200Example:
                  summary: Default ProgramController_getProgramCodes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: ''
      tags:
      - Program Codes
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ProgramDTO:
      type: object
      properties:
        programCode:
          type: string
          example: string
        programDescription:
          type: string
          example: string
        compParameter:
          type: string
          example: string
        programGroupCode:
          type: string
          example: string
        programGroupDescription:
          type: string
          example: string
        ozoneIndicator:
          type: boolean
          example: true
        annualIndicator:
          type: boolean
          example: true
        emissionsUIFilter:
          type: boolean
          example: true
        allowanceUIFilter:
          type: boolean
          example: true
        complianceUIFilter:
          type: boolean
          example: true
        retiredIndicator:
          type: boolean
          example: true
        tradingEndDate:
          type: string
          example: string
      required:
      - programCode
      - programDescription
      - compParameter
      - programGroupCode
      - programGroupDescription
      - ozoneIndicator
      - annualIndicator
      - emissionsUIFilter
      - allowanceUIFilter
      - complianceUIFilter
      - retiredIndicator
      - tradingEndDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
