openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes LEE Qualifications API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: LEE Qualifications
paths:
  /monitor-plan-mgmt/locations/{locId}/qualifications/{qualId}/lee-qualifications:
    get:
      operationId: LEEQualificationController_getLEEQualifications
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: qualId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official lee qualification records for a monitor location
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LEEQualificationDTO'
              examples:
                LEEQualificationController_getLEEQualifications200Example:
                  summary: Default LEEQualificationController_getLEEQualifications 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - LEE Qualifications
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    LEEQualificationDTO:
      type: object
      properties:
        qualificationTestDate:
          format: date-time
          type: string
          description: End date of the initial LEE qualifying test or a retest.
          example: '2018-07-15'
        parameterCode:
          type: string
          description: Parameter code associated with the LEE qualification.
          example: HG
        qualificationTestType:
          type: string
          description: Indication of whether the qualifying test was an initial test or retest.
          example: INITIAL
        potentialAnnualHgMassEmissions:
          type: number
          description: Potential annual Hg mass emissions used for LEE qualification.
          example: 10.2
        applicableEmissionStandard:
          type: number
          description: Applicable Emission Standard used for LEE qualification.
          example: 29
        unitsOfStandard:
          type: string
          description: units of the Applicable Emission Standard.
          example: LBGWH
        percentageOfEmissionStandard:
          type: number
          description: Result of initial test or retest as a percentage of the Applicable Emission Standard.
          example: 72.8
        id:
          type: string
          description: Unique identifier of a monitoring qualification LEE record.
          example: MIKE-DELL-CFEDE4EB21124391BE13E7FB5A56081C
        qualificationId:
          type: string
          description: Unique identifier of a monitoring qualification record.
          example: MIKE-DELL-E4CE3931A24E4C1395B3C81457B300CC
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2018-10-25'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2018-10-25'
      required:
      - qualificationTestDate
      - parameterCode
      - qualificationTestType
      - potentialAnnualHgMassEmissions
      - applicableEmissionStandard
      - unitsOfStandard
      - percentageOfEmissionStandard
      - id
      - qualificationId
      - userId
      - addDate
      - updateDate
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
