openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Cycle Time Summary API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Cycle Time Summary
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/cycle-time-summaries:
    get:
      operationId: CycleTimeSummaryController_getCycleTimeSummaries
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Cycle Time Summary records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CycleTimeSummaryDTO'
              examples:
                CycleTimeSummaryController_getCycleTimeSummaries200Example:
                  summary: Default CycleTimeSummaryController_getCycleTimeSummaries 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Cycle Time Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/cycle-time-summaries/{id}:
    get:
      operationId: CycleTimeSummaryController_getCycleTimeSummary
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Cycle Time Summary record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CycleTimeSummaryDTO'
              examples:
                CycleTimeSummaryController_getCycleTimeSummary200Example:
                  summary: Default CycleTimeSummaryController_getCycleTimeSummary 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Cycle Time Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CycleTimeInjectionDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        cycleTimeSumId:
          type: string
          example: '12345'
        calculatedInjectionCycleTime:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        gasLevelCode:
          type: string
          example: string
        calibrationGasValue:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        beginHour:
          type: number
          example: 0.0
        beginMinute:
          type: number
          example: 0.0
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endHour:
          type: number
          example: 0.0
        endMinute:
          type: number
          example: 0.0
        injectionCycleTime:
          type: number
          example: 0.0
        beginMonitorValue:
          type: number
          example: 0.0
        endMonitorValue:
          type: number
          example: 0.0
      required:
      - id
      - cycleTimeSumId
      - calculatedInjectionCycleTime
      - userId
      - addDate
      - updateDate
      - gasLevelCode
    CycleTimeSummaryDTO:
      type: object
      properties:
        cycleTimeInjectionData:
          type: array
          items:
            $ref: '#/components/schemas/CycleTimeInjectionDTO'
          example:
          - string
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        calculatedTotalTime:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        totalTime:
          type: number
          example: 0.0
      required:
      - cycleTimeInjectionData
      - id
      - testSumId
      - calculatedTotalTime
      - userId
      - addDate
      - updateDate
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
