openapi: 3.2.0
info:
  title: Monitor Plan Management OpenAPI Specification LEE Qualifications API
  description: Monitor Plan management API endpoints for all monitor plan data & operations
  version: 'v2.0.118 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: LEE Qualifications
paths:
  /monitor-plan-mgmt/locations/{locId}/qualifications/{qualId}/lee-qualifications:
    get:
      operationId: LEEQualificationController_getLEEQualifications
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: qualId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official lee qualification records for a monitor location
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LEEQualificationDTO'
              examples:
                LEEQualificationController_getLEEQualifications200Example:
                  summary: Default LEEQualificationController_getLEEQualifications 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - LEE Qualifications
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    LEEQualificationDTO:
      type: object
      properties:
        qualificationTestDate:
          format: date-time
          type: string
          description: End date of the initial LEE qualifying test or a retest.
          example: '2018-07-15'
        parameterCode:
          type: string
          description: Parameter code associated with the LEE qualification.
          example: HG
        qualificationTestType:
          type: string
          description: Indication of whether the qualifying test was an initial test or retest.
          example: INITIAL
        potentialAnnualHgMassEmissions:
          type: number
          description: Potential annual Hg mass emissions used for LEE qualification.
          example: 10.2
        applicableEmissionStandard:
          type: number
          description: Applicable Emission Standard used for LEE qualification.
          example: 29
        unitsOfStandard:
          type: string
          description: units of the Applicable Emission Standard.
          example: LBGWH
        percentageOfEmissionStandard:
          type: number
          description: Result of initial test or retest as a percentage of the Applicable Emission Standard.
          example: 72.8
        id:
          type: string
          description: Unique identifier of a monitoring qualification LEE record.
          example: MIKE-DELL-CFEDE4EB21124391BE13E7FB5A56081C
        qualificationId:
          type: string
          description: Unique identifier of a monitoring qualification record.
          example: MIKE-DELL-E4CE3931A24E4C1395B3C81457B300CC
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2018-10-25'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2018-10-25'
      required:
      - qualificationTestDate
      - parameterCode
      - qualificationTestType
      - potentialAnnualHgMassEmissions
      - applicableEmissionStandard
      - unitsOfStandard
      - percentageOfEmissionStandard
      - id
      - qualificationId
      - userId
      - addDate
      - updateDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
