openapi: 3.2.0
info:
  title: EPA Envirofacts Data Service API
  description: 'The Envirofacts Data Service API (DMAP-EF) is a programmatic interface for querying the EPA''s

    Envirofacts warehouse. It exposes data from multiple regulatory programs including

    RCRA (hazardous waste), GHG (greenhouse gases), TRI (toxic release inventory), SEMS (Superfund),

    NEI (National Emissions Inventory), SDWIS (drinking water) and more, plus UV index forecasts.


    The service uses path-encoded queries instead of conventional query strings. The general pattern is:


    ```

    /efservice/{table}/{column}{operator}{value}/{join}/{first}:{last}/{sort}/{format}

    ```


    All components except `{table}` are optional. Queries must complete within 15 minutes.

    '
  version: '1.0'
  contact:
    name: Envirofacts Support
    url: https://www.epa.gov/enviro
servers:
- url: https://data.epa.gov
  description: Envirofacts data service
tags:
- name: Data Service
  description: Generic Envirofacts REST data service supporting any program.table.
paths:
  /efservice/{table}/{format}:
    get:
      tags:
      - Data Service
      summary: Query Envirofacts Table
      description: Query any Envirofacts table. Append optional filter, join, range, and sort segments before the format.
      operationId: efserviceQueryTable
      parameters:
      - $ref: '#/components/parameters/Table'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Rows from the requested Envirofacts table.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Row'
              examples:
                efserviceQueryTable200Example:
                  summary: Default efserviceQueryTable 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /efservice/{table}/{filter}/{format}:
    get:
      tags:
      - Data Service
      summary: Query Envirofacts Table with Filter
      operationId: efserviceQueryTableFiltered
      parameters:
      - $ref: '#/components/parameters/Table'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Filtered rows.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Row'
              examples:
                efserviceQueryTableFiltered200Example:
                  summary: Default efserviceQueryTableFiltered 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /efservice/{table}/{filter}/{range}/{format}:
    get:
      tags:
      - Data Service
      summary: Query Envirofacts Table with Filter and Pagination
      operationId: efserviceQueryTablePaginated
      parameters:
      - $ref: '#/components/parameters/Table'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Range'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Paginated filtered rows.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Row'
              examples:
                efserviceQueryTablePaginated200Example:
                  summary: Default efserviceQueryTablePaginated 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    Format:
      name: format
      in: path
      required: false
      schema:
        type: string
        enum:
        - JSON
        - CSV
        - EXCEL
        - HTML
        - JSONP
        - PARQUET
        - PDF
        - XML
      description: Output format (default JSON).
    Filter:
      name: filter
      in: path
      required: false
      schema:
        type: string
      description: Optional filter clause `{column}{operator}{value}`. Operators include equals, notEquals, lessThan, greaterThan, beginsWith, endsWith, contains, like, in.
    Range:
      name: range
      in: path
      required: false
      schema:
        type: string
        pattern: ^\d+:\d+$
      description: Optional pagination range `first:last` (e.g., `1:100`).
    Table:
      name: table
      in: path
      required: true
      schema:
        type: string
      description: Envirofacts table in `program.table` format (e.g., `rcra.rcra_facility`, `tri.tri_facility`, `sems.envirofacts_site`).
  schemas:
    Row:
      type: object
      additionalProperties: true
      description: A single Envirofacts row; columns depend on the queried table.
