openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Config API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Config
paths:
  /api/config/public:
    get:
      summary: Get CSB App Specific Public Configuration (csb App Login Status and Static Content)
      parameters: []
      responses:
        '200':
          description: CSB app login status and static content from S3.
          content:
            application/json:
              schema:
                type: object
                properties:
                  loginEnabled:
                    type: boolean
                    example: true
                  staticContent:
                    type: object
              examples:
                get_api_config_public200Example:
                  summary: Default get_api_config_public 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Config
  /api/config/private:
    get:
      summary: Get CSB App Specific Private Configuration (form Open Enrollment Status, Etc.)
      parameters: []
      responses:
        '200':
          description: Formio base URL and project name, CSB rebate year and open enrollment status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  formioBaseUrl:
                    type: string
                    example: https://api.form.io
                  formioProjectName:
                    type: string
                    example: forms
                  formioPremiumKey:
                    type: string
                    example: secret
                  rebateYear:
                    type: string
                    example: '2024'
                  submissionPeriodOpen:
                    type: object
                    properties:
                      '2022':
                        type: object
                        properties:
                          frf:
                            type: boolean
                            example: true
                          prf:
                            type: boolean
                            example: true
                          crf:
                            type: boolean
                            example: true
                      '2023':
                        type: object
                        properties:
                          frf:
                            type: boolean
                            example: true
                          prf:
                            type: boolean
                            example: true
                          crf:
                            type: boolean
                            example: true
                      '2024':
                        type: object
                        properties:
                          frf:
                            type: boolean
                            example: true
                          prf:
                            type: boolean
                            example: true
                          crf:
                            type: boolean
                            example: true
              examples:
                get_api_config_private200Example:
                  summary: Default get_api_config_private 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Config
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Unauthorized
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
