openapi: 3.2.0
info:
  title: EPA Envirofacts Data Service Graph QL API
  description: 'The Envirofacts Data Service API (DMAP-EF) is a programmatic interface for querying the EPA''s

    Envirofacts warehouse.'
  version: '1.0'
  contact:
    name: Envirofacts Support
    url: https://www.epa.gov/enviro
servers:
- url: https://data.epa.gov
  description: Envirofacts data service
tags:
- name: Graph QL
  description: GraphQL endpoint for complex queries beyond REST capabilities.
paths:
  /enviro/dmap-graphql-api:
    post:
      tags:
      - Graph QL
      summary: Execute Envirofacts GraphQL Query
      operationId: envirofactsGraphQL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              properties:
                query:
                  type: string
                variables:
                  type: object
                  additionalProperties: true
                operationName:
                  type: string
            examples:
              envirofactsGraphQLRequestExample:
                summary: Default envirofactsGraphQL request
                x-microcks-default: true
                value: {}
      responses:
        '200':
          description: GraphQL response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
              examples:
                envirofactsGraphQL200Example:
                  summary: Default envirofactsGraphQL 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
