openapi: 3.2.0
info:
  title: Monitor Plan Management OpenAPI Specification Comments API
  description: Monitor Plan management API endpoints for all monitor plan data & operations
  version: 'v2.0.118 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Comments
paths:
  /monitor-plan-mgmt/plans/{planId}/comments:
    get:
      operationId: MonitorPlanCommentController_getComments
      parameters:
      - name: planId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official comment records for a monitor plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitorPlanCommentDTO'
              examples:
                MonitorPlanCommentController_getComments200Example:
                  summary: Default MonitorPlanCommentController_getComments 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Comments
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MonitorPlanCommentDTO:
      type: object
      properties:
        monitoringPlanComment:
          type: string
          minLength: 1
          maxLength: 4000
          description: Comment on a monitoring plan
          example: DAHS was updated for GT-1 on 11/10/2016 by a previous owner, but the component ID was not updated on the gas system. This was corrected on 9/8/2020.
        beginDate:
          format: date-time
          type: string
          description: Date and time in which an activity started or ended.
          example: '2020-09-28'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring plan comment record.
          example: V-APPWORK--66020554D3C844E78730052AC3808151
        planId:
          type: string
          description: Unique identifier of a monitoring plan record.
          example: MDC-2483BA898490441B97B7D7CFB1BE6D9A
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2020-10-28'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2020-10-28'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - monitoringPlanComment
      - beginDate
      - endDate
      - id
      - planId
      - userId
      - addDate
      - updateDate
      - active
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
