openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes LME Qualifications API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: LME Qualifications
paths:
  /monitor-plan-mgmt/locations/{locId}/qualifications/{qualId}/lme-qualifications:
    get:
      operationId: LMEQualificationController_getLMEQualifications
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: qualId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official lme qualification records for a monitor location
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LMEQualificationDTO'
              examples:
                LMEQualificationController_getLMEQualifications200Example:
                  summary: Default LMEQualificationController_getLMEQualifications 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - LME Qualifications
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    LMEQualificationDTO:
      type: object
      properties:
        qualificationDataYear:
          type: number
          description: Year corresponding to the qualification data.
          example: '2015'
        operatingHours:
          type: number
          description: Annual number of operating hours used to determine qualification.
          example: 105
        so2Tons:
          type: number
          description: Annual SO2 value used to determine qualification.
          example: 0.9
        noxTons:
          type: number
          description: Annual NOX emissions to determine qualification.
          example: 6.4
        id:
          type: string
          description: Unique identifier of a monitoring qualification LME record.
          example: NJCHQLAPA3-C89F6E1CE9D447A298B7D5E428ADD1AC
        qualificationId:
          type: string
          description: Unique identifier of a monitoring qualification record.
          example: NJCHQLAPA3-82CD1A0A9D2A48BFB5203F82D390183E
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2015-07-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2015-07-20'
      required:
      - qualificationDataYear
      - operatingHours
      - so2Tons
      - noxTons
      - id
      - qualificationId
      - userId
      - addDate
      - updateDate
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
