openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Logout API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Logout
paths:
  /logout:
    get:
      summary: /logout
      parameters: []
      responses:
        '200':
          description: OK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Logout
  /logout/callback:
    get:
      summary: /logout/callback
      parameters: []
      responses:
        '200':
          description: OK
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Logout
    post:
      summary: /logout/callback
      responses:
        '200':
          description: OK
      tags:
      - Logout
      parameters: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
