openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Air Emission Testing API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Air Emission Testing
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/air-emission-testings:
    get:
      operationId: AirEmissionTestingController_getAirEmissionsTestings
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Air Emission Testing records by Rata Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AirEmissionTestingDTO'
              examples:
                AirEmissionTestingController_getAirEmissionsTestings200Example:
                  summary: Default AirEmissionTestingController_getAirEmissionsTestings 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Air Emission Testing
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/air-emission-testings/{id}:
    get:
      operationId: AirEmissionTestingController_getAirEmissionsTesting
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Air Emission Testing record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirEmissionTestingDTO'
              examples:
                AirEmissionTestingController_getAirEmissionsTesting200Example:
                  summary: Default AirEmissionTestingController_getAirEmissionsTesting 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Air Emission Testing
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AirEmissionTestingDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        qiLastName:
          type: string
          maxLength: 25
          example: EPA Facility
        qiFirstName:
          type: string
          maxLength: 25
          example: EPA Facility
        qiMiddleInitial:
          type: string
          maxLength: 1
          example: '12345'
        aetbName:
          type: string
          maxLength: 50
          example: EPA Facility
        aetbPhoneNumber:
          type: string
          maxLength: 18
          example: string
        aetbEmail:
          type: string
          maxLength: 70
          format: email
          example: analyst@example.com
        examDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        providerName:
          type: string
          maxLength: 50
          example: EPA Facility
        providerEmail:
          type: string
          maxLength: 70
          format: email
          example: analyst@example.com
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
      - qiLastName
      - qiFirstName
      - aetbName
      - aetbPhoneNumber
      - aetbEmail
      - examDate
      - providerName
      - providerEmail
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
