openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Protocol Gas API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Protocol Gas
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/protocol-gases:
    get:
      operationId: ProtocolGasController_getProtocolGases
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Protocol Gas records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProtocolGasDTO'
              examples:
                ProtocolGasController_getProtocolGases200Example:
                  summary: Default ProtocolGasController_getProtocolGases 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Protocol Gas
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/protocol-gases/{id}:
    get:
      operationId: ProtocolGasController_getProtocolGas
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Protocol Gas record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProtocolGasRecordDTO'
              examples:
                ProtocolGasController_getProtocolGas200Example:
                  summary: Default ProtocolGasController_getProtocolGas 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Protocol Gas
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ProtocolGasDTO:
      type: object
      properties:
        gasTypeCode:
          type: string
          description: gasTypeCode. ADD TO PROPERTY METADATA
          example: string
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        gasLevelCode:
          type: string
          example: string
        cylinderIdentifier:
          type: string
          maxLength: 25
          example: '12345'
        vendorIdentifier:
          type: string
          example: '12345'
        expirationDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
      required:
      - gasTypeCode
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
      - gasLevelCode
    ProtocolGasRecordDTO:
      type: object
      properties:
        gasTypeCode:
          type: string
          description: gasTypeCode. ADD TO PROPERTY METADATA
          example: string
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        gasLevelCode:
          type: string
          example: string
        cylinderIdentifier:
          type: string
          maxLength: 25
          example: '12345'
        vendorIdentifier:
          type: string
          example: '12345'
        expirationDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
      required:
      - gasTypeCode
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
      - gasLevelCode
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
