openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Linearity Injection API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Linearity Injection
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/linearities/{linSumId}/injections:
    get:
      operationId: LinearityInjectionController_getInjections
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: linSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Linearity Injection records by Linearity Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LinearityInjectionRecordDTO'
              examples:
                LinearityInjectionController_getInjections200Example:
                  summary: Default LinearityInjectionController_getInjections 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Linearity Injection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/linearities/{linSumId}/injections/{id}:
    get:
      operationId: LinearityInjectionController_getInjection
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: linSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Linearity Injection record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinearityInjectionRecordDTO'
              examples:
                LinearityInjectionController_getInjection200Example:
                  summary: Default LinearityInjectionController_getInjection 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Linearity Injection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    LinearityInjectionRecordDTO:
      type: object
      properties:
        injectionDate:
          format: date-time
          type: string
          description: injectionDate. ADD TO PROPERTY METADATA
          example: '2024-01-15T12:00:00Z'
        injectionHour:
          type: number
          description: injectionHour. ADD TO PROPERTY METADATA
          example: 0.0
        injectionMinute:
          type: number
          description: injectionMinute. ADD TO PROPERTY METADATA
          example: 0.0
        measuredValue:
          type: number
          description: measuredValue. ADD TO PROPERTY METADATA
          example: 0.0
        referenceValue:
          type: number
          description: referenceValue. ADD TO PROPERTY METADATA
          example: 0.0
        id:
          type: string
          example: '12345'
        linSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
      required:
      - injectionDate
      - injectionMinute
      - id
      - linSumId
      - userId
      - addDate
      - updateDate
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
