openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Test Qualification API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Test Qualification
paths:
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/test-qualifications:
    get:
      operationId: TestQualificationController_getTestQualifications
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Test Qualification records by Test Summary Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TestQualificationDTO'
              examples:
                TestQualificationController_getTestQualifications200Example:
                  summary: Default TestQualificationController_getTestQualifications 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Test Qualification
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/test-qualifications/{id}:
    get:
      operationId: TestQualificationController_getTestQualification
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Test Qualification record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestQualificationRecordDTO'
              examples:
                TestQualificationController_getTestQualification200Example:
                  summary: Default TestQualificationController_getTestQualification 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Test Qualification
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TestQualificationDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        testClaimCode:
          type: string
          example: string
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        highLoadPercentage:
          type: number
          example: 0.0
        midLoadPercentage:
          type: number
          example: 0.0
        lowLoadPercentage:
          type: number
          example: 0.0
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
      - testClaimCode
    TestQualificationRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        testSumId:
          type: string
          example: '12345'
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        testClaimCode:
          type: string
          example: string
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        highLoadPercentage:
          type: number
          example: 0.0
        midLoadPercentage:
          type: number
          example: 0.0
        lowLoadPercentage:
          type: number
          example: 0.0
      required:
      - id
      - testSumId
      - userId
      - addDate
      - updateDate
      - testClaimCode
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
