openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Contact API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Contact
paths:
  /api/contact:
    get:
      summary: Contact
      description: Placeholder
      tags:
      - Contact
      responses:
        '200':
          description: Placeholder
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/glossary.contact'
              examples:
                get_api_contact200Example:
                  summary: Default get_api_contact 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    glossary.contact:
      type: object
      description: Placeholder
      properties:
        Dummy:
          type: string
          title: Dummy
          example: Dummy
          description: Dummy
      required:
      - Dummy
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
