openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Plans API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Plans
paths:
  /monitor-plan-mgmt/plans/export:
    get:
      operationId: MonitorPlanController_exportMonitorPlan
      parameters:
      - name: planId
        required: true
        in: query
        description: The Monintor Plan Summary ID is a unique identifier for a monitor plan record
        schema:
          type: string
        example: '12345'
      - name: reportedValuesOnly
        required: false
        in: query
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: Retrieves official Monitor Plan record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorPlanDTO'
              examples:
                MonitorPlanController_exportMonitorPlan200Example:
                  summary: Default MonitorPlanController_exportMonitorPlan 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Plans
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /monitor-plan-mgmt/plans/{planId}:
    get:
      operationId: MonitorPlanController_getMonitorPlan
      parameters:
      - name: planId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves information needed to refresh a monitor plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorPlanDTO'
              examples:
                MonitorPlanController_getMonitorPlan200Example:
                  summary: Default MonitorPlanController_getMonitorPlan 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Plans
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MonitorFormulaDTO:
      type: object
      properties:
        formulaId:
          type: string
          description: The three character formula ID assigned by the source.
          example: '140'
        parameterCode:
          type: string
          description: Code used to identify the parameter.
          example: SO2
        formulaCode:
          type: string
          description: Code used to identify the equation as defined in Part 75.
          example: F-1
        formulaText:
          type: string
          maxLength: 200
          description: The equation used to calculate the parameter.
          example: 1.667 * 10**-7 * S#(027-C40) * S#(029-C42)
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2007-11-08'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 17
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring formula record.
          example: CAMD-1CDAA10B7D6A41BBA6BCFF5534F5C5CA
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - formulaId
      - parameterCode
      - formulaCode
      - formulaText
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
    DuctWafDTO:
      type: object
      properties:
        wafDeterminationDate:
          format: date-time
          type: string
          description: The date the WAF applied in column 20 was determined.
          example: '2020-11-18'
        wafBeginDate:
          format: date-time
          type: string
          description: The date on which the WAF was first applied to the flow rate data.
          example: '2020-11-28'
        wafBeginHour:
          type: number
          description: The hour in which the WAF was first applied to the flow rate data.
          example: 12
        wafMethodCode:
          type: string
          description: Code used to identify the WAF determination method.
          example: FT
        wafValue:
          type: number
          description: The WAF applied to the flow rate data, to four decimal places.
          example: 1.0454
        numberOfTestRuns:
          type: number
          description: The number of runs in the WAF test (must be one for default WAF and at least three for a measured WAF)
          example: 3
        numberOfTraversePointsWAF:
          type: number
          description: The number of Method 1 traverse points in the WAF test runs.
          example: 48
        numberOfTestPorts:
          type: number
          description: The number of test ports at which measurements were made during the WAF test runs.
          example: 4
        numberOfTraversePointsRef:
          type: number
          description: The number of Method 1 traverse points in the reference flow RATA test runs.
          example: 48
        ductWidth:
          type: number
          description: The width of the rectangular duct at the test location.
          example: 12
        ductDepth:
          type: number
          description: The depth of the rectangular duct at the test location.
          example: 18.5
        wafEndDate:
          format: date-time
          type: string
          description: The date on which the WAF was last applied to the flow rate data.
          example: '2021-09-18'
        wafEndHour:
          type: number
          description: The hour in which the WAF was last applied to the flow rate data.
          example: 9
        id:
          type: string
          description: Unique identifier of a rectangular duct WAF data record.
          example: CAMD-6847FB7858174AD0ADF87FFBAF85EF9C
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          example: true
      required:
      - wafDeterminationDate
      - wafBeginDate
      - wafBeginHour
      - wafMethodCode
      - wafValue
      - numberOfTestRuns
      - numberOfTraversePointsWAF
      - numberOfTestPorts
      - numberOfTraversePointsRef
      - ductWidth
      - ductDepth
      - wafEndDate
      - wafEndHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
    MonitorQualificationDTO:
      type: object
      properties:
        qualificationTypeCode:
          type: string
          description: Code used to identify the qualification type.
          example: LMES
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2018-05-01'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring qualification record.
          example: NJCHQLAPA3-82CD1A0A9D2A48BFB5203F82D390183E
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '4168'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2018-07-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2018-07-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
        monitoringQualificationLEEData:
          type: array
          items:
            $ref: '#/components/schemas/LEEQualificationDTO'
          example:
          - string
        monitoringQualificationLMEData:
          type: array
          items:
            $ref: '#/components/schemas/LMEQualificationDTO'
          example:
          - string
        monitoringQualificationPercentData:
          type: array
          items:
            $ref: '#/components/schemas/PCTQualificationDTO'
          example:
          - string
      required:
      - qualificationTypeCode
      - beginDate
      - endDate
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
      - monitoringQualificationLEEData
      - monitoringQualificationLMEData
      - monitoringQualificationPercentData
    MonitorPlanReportingFreqDTO:
      type: object
      properties:
        reportFrequencyCode:
          type: string
          description: Report Frequency Code on a monitoring plan
          example: OS
        endReportPeriodId:
          type: number
          description: Unique identifier of a reporting period record. This value will be null for active records.
          example: null
        beginReportPeriodId:
          type: number
          description: Unique identifier of a reporting period record.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring plan Reporting Frequency record.
          example: MDC-7A8D8E101C484732954BE84D49D9249A
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2020-10-28'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2020-10-28'
        endReportPeriodDescription:
          type: string
          example: string
        beginReportPeriodDescription:
          type: string
          example: string
      required:
      - reportFrequencyCode
      - id
      - userId
      - addDate
    MonitorDefaultDTO:
      type: object
      properties:
        parameterCode:
          type: string
          description: Code used to identify the parameter.
          example: CO2N
        defaultValue:
          type: number
          description: Value of default, maximum, minimum or constant.
          example: 5
        defaultUnitsOfMeasureCode:
          type: string
          description: Code used to identify the hourly parameter units of measure.
          example: PCT
        defaultPurposeCode:
          type: string
          description: Code used to identify the purpose or intended use of defaults, maximums and constants.
          example: DC
        fuelCode:
          type: string
          description: Code used to identify the type of fuel.
          example: NFS
        operatingConditionCode:
          type: string
          description: Code used to identify the operating condition.
          example: A
        defaultSourceCode:
          type: string
          description: Code used to identify the source of the default value.
          example: DEF
        groupId:
          type: string
          maxLength: 10
          description: For a group of identical LME units using testing to determine default NOx rate, this ID identifies the group.
          example: GP2249
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2008-01-01'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 1
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring default record.
          example: MELISSAMAT-65FB5323A47A459B8FF3E2996EA4EB78
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: 'true'
      required:
      - parameterCode
      - defaultValue
      - defaultUnitsOfMeasureCode
      - defaultPurposeCode
      - fuelCode
      - operatingConditionCode
      - defaultSourceCode
      - groupId
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
    MonitorAttributeDTO:
      type: object
      properties:
        ductIndicator:
          type: number
          description: Used to indicate that this location is a duct.
          example: '1'
        bypassIndicator:
          type: number
          description: Used to indicate that the stack is used for bypass.
          example: '1'
        groundElevation:
          type: number
          description: The number of feet above sea level at ground level of the stack or unit.
          example: 40
        stackHeight:
          type: number
          description: The height in feet of a stack exit above ground level.
          example: 400
        materialCode:
          type: string
          description: Code used to identify the material that is used in the monitoring location.
          example: OTHER
        shapeCode:
          type: string
          description: Code identifying the shape of a monitor location.
          example: ROUND
        crossAreaFlow:
          type: number
          description: The reported inside cross-sectional area in square feet of the stack or duct at the flow monitoring location.
          example: 306
        crossAreaStackExit:
          type: number
          description: The inside cross-sectional area in square feet of the stack at the exit.
          example: 306
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2008-01-01'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        id:
          type: string
          description: Unique combination of DB_Token and identity key generated by sequence generator.
          example: MELISSAMAT-E496678DE19E4827ADE4D541B18B5756
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - ductIndicator
      - bypassIndicator
      - groundElevation
      - stackHeight
      - materialCode
      - shapeCode
      - crossAreaFlow
      - crossAreaStackExit
      - beginDate
      - endDate
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
    LEEQualificationDTO:
      type: object
      properties:
        qualificationTestDate:
          format: date-time
          type: string
          description: End date of the initial LEE qualifying test or a retest.
          example: '2018-07-15'
        parameterCode:
          type: string
          description: Parameter code associated with the LEE qualification.
          example: HG
        qualificationTestType:
          type: string
          description: Indication of whether the qualifying test was an initial test or retest.
          example: INITIAL
        potentialAnnualHgMassEmissions:
          type: number
          description: Potential annual Hg mass emissions used for LEE qualification.
          example: 10.2
        applicableEmissionStandard:
          type: number
          description: Applicable Emission Standard used for LEE qualification.
          example: 29
        unitsOfStandard:
          type: string
          description: units of the Applicable Emission Standard.
          example: LBGWH
        percentageOfEmissionStandard:
          type: number
          description: Result of initial test or retest as a percentage of the Applicable Emission Standard.
          example: 72.8
        id:
          type: string
          description: Unique identifier of a monitoring qualification LEE record.
          example: MIKE-DELL-CFEDE4EB21124391BE13E7FB5A56081C
        qualificationId:
          type: string
          description: Unique identifier of a monitoring qualification record.
          example: MIKE-DELL-E4CE3931A24E4C1395B3C81457B300CC
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2018-10-25'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2018-10-25'
      required:
      - qualificationTestDate
      - parameterCode
      - qualificationTestType
      - potentialAnnualHgMassEmissions
      - applicableEmissionStandard
      - unitsOfStandard
      - percentageOfEmissionStandard
      - id
      - qualificationId
      - userId
      - addDate
      - updateDate
    AnalyzerRangeDTO:
      type: object
      properties:
        analyzerRangeCode:
          type: string
          description: Code used to identify the analyzer range.
          example: A
        dualRangeIndicator:
          type: number
          description: Used to indicate whether the component is a dual-range analyzer.
          example: '1'
        beginDate:
          format: date-time
          type: string
          description: Date in which information became effective or activity started.
          example: '2008-05-17'
        beginHour:
          type: number
          description: Hour in which information became effective or activity started.
          example: '14'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective or date in which activity ended. This value will be null if active record.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective or hour in which activity ended. This value will be null if active record.
          example: null
        id:
          type: string
          description: Unique identifier of an analyzer range history record.
          example: MRHODES16-10C1A63683D34BA7A0833475C802CF91
        componentRecordId:
          type: string
          description: Unique identifier of a monitoring component record.
          example: CAMD-646D15E327E1480D814D48286DA7F073
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - analyzerRangeCode
      - dualRangeIndicator
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - componentRecordId
      - userId
      - addDate
      - updateDate
      - active
    MonitorPlanDTO:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of a monitoring plan record.
          example: TWCORNEL5-C0E3879920A14159BAA98E03F1980A7A
        orisCode:
          type: number
          description: EIA-assigned identifier or facility ID assigned by CAMD (if EIA number is not applicable).
          example: 3
        facilityId:
          type: number
          description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
          example: 3
        name:
          type: string
          description: Character codes source assigned to identify a stack, pipe and/or unit.
          example: 1,2,CSA00N
        endReportPeriodId:
          type: number
          description: Unique identifier of a reporting period record. This value will be null for active records.
          example: null
        beginReportPeriodId:
          type: number
          description: Unique identifier of a reporting period record.
          example: null
        facilityName:
          type: string
          example: EPA Facility
        facilityRegistrySystemId:
          type: string
          example: '12345'
        configTypeCode:
          type: string
          example: string
        lastUpdated:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        updatedStatusFlag:
          type: string
          example: active
        needsEvalFlag:
          type: string
          example: string
        checkSessionId:
          type: string
          example: '12345'
        endReportPeriodDescription:
          type: string
          example: string
        beginReportPeriodDescription:
          type: string
          example: string
        active:
          type: boolean
          example: true
        monitoringPlanCommentData:
          type: array
          items:
            $ref: '#/components/schemas/MonitorPlanCommentDTO'
          example:
          - string
        unitStackConfigurationData:
          type: array
          items:
            $ref: '#/components/schemas/UnitStackConfigurationDTO'
          example:
          - string
        reportingFrequencies:
          type: array
          items:
            $ref: '#/components/schemas/MonitorPlanReportingFreqDTO'
          example:
          - string
        monitoringLocationData:
          type: array
          items:
            $ref: '#/components/schemas/MonitorLocationDTO'
          example:
          - string
        pendingStatusCode:
          type: string
          example: active
        evalStatusCode:
          type: string
          example: active
        evalStatusCodeDescription:
          type: string
          example: active
        severityCode:
          type: string
          example: string
        severityDescription:
          type: string
          example: string
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        submissionId:
          type: number
          example: 0.0
        submissionAvailabilityCode:
          type: string
          example: string
        submissionAvailabilityCodeDescription:
          type: string
          example: string
        lastEvaluatedDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        version:
          type: string
          example: string
      required:
      - id
      - orisCode
      - facilityId
      - name
      - endReportPeriodId
      - beginReportPeriodId
      - facilityName
      - facilityRegistrySystemId
      - configTypeCode
      - lastUpdated
      - updatedStatusFlag
      - needsEvalFlag
      - checkSessionId
      - active
      - monitoringPlanCommentData
      - unitStackConfigurationData
      - reportingFrequencies
      - monitoringLocationData
      - pendingStatusCode
      - evalStatusCode
      - evalStatusCodeDescription
      - severityCode
      - severityDescription
      - userId
      - addDate
      - updateDate
      - submissionId
      - submissionAvailabilityCode
      - submissionAvailabilityCodeDescription
      - lastEvaluatedDate
    UnitStackConfigurationDTO:
      type: object
      properties:
        beginDate:
          format: date-time
          type: string
          description: Date in which information became effective or activity started.
          example: '1995-01-01'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective or date in which activity ended. This value will be null for active records.
          example: '2020-12-31'
        id:
          type: string
          description: Unique identifier of a monitoring configuration record.
          example: CAMD-18DD175CE7EF4256B78469865D84F576
        unitRecordId:
          type: number
          description: Unique identifier of a unit record which is generated by the EPA Host System.
          example: '2'
        stackPipeRecordId:
          type: string
          description: Unique identifier of a stack or pipe record.
          example: MDC-CCB8D6D0D4E34D24A99C01DCD14078DF
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
        unitId:
          type: string
          example: '12345'
        stackPipeId:
          type: string
          example: '12345'
      required:
      - beginDate
      - endDate
      - id
      - unitRecordId
      - stackPipeRecordId
      - userId
      - addDate
      - updateDate
      - active
      - unitId
      - stackPipeId
    UnitControlDTO:
      type: object
      properties:
        controlCode:
          type: string
          description: Codes used to identify the type of control equipment.
          example: SNCR
        originalCode:
          type: string
          description: Code used to identify that the control equipment was installed and operational as part of the original unit design.
          example: '0'
        installDate:
          format: date-time
          type: string
          description: Approximate date the original control equipment was or will be installed.
          example: '2005-01-01'
        optimizationDate:
          format: date-time
          type: string
          description: The approximate date on which optimization of control equipment was completed and the equipment made fully operational if the control equipment was not part of the original installation.
          example: '2006-06-01'
        seasonalControlsIndicator:
          type: string
          description: Code used to identify if the NOx control equipment was used during the ozone season.
          example: '0'
        retireDate:
          format: date-time
          type: string
          description: Date control equipment was retired. This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a unit control record.
          example: '618'
        unitId:
          type: number
          description: Unique identifier of a unit record.
          example: '734'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
        parameterCode:
          type: string
          example: string
      required:
      - controlCode
      - originalCode
      - installDate
      - optimizationDate
      - seasonalControlsIndicator
      - retireDate
      - id
      - unitId
      - userId
      - addDate
      - updateDate
      - active
      - parameterCode
    MonitorMethodDTO:
      type: object
      properties:
        parameterCode:
          type: string
          description: Code used to identify the parameter.
          example: SO2
        monitoringMethodCode:
          type: string
          description: Code used to identify the monitoring methodology.
          example: CEM
        substituteDataCode:
          type: string
          description: Code used to identify the substitute data approach type.
          example: SPTS
        bypassApproachCode:
          type: string
          description: Code used to identify the value to be used for an unmonitored bypass stack.
          example: BYMAX
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2007-11-27'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 17
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring method record.
          example: MELISSAMAT-7BA7D94FDB4F4D4A8E1161E4B46150F6
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - parameterCode
      - monitoringMethodCode
      - substituteDataCode
      - bypassApproachCode
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
    ComponentDTO:
      type: object
      properties:
        componentId:
          type: string
          description: The three digit code assigned by the source to identify the component.
          example: '027'
        componentTypeCode:
          type: string
          description: Code used to identify the component type.
          example: SO2
        sampleAcquisitionMethodCode:
          type: string
          description: Code used to identify the sample acquisition method.
          example: DOU
        basisCode:
          type: string
          description: Code used to identify the moisture basis.
          example: W
        manufacturer:
          type: string
          maxLength: 25
          description: Name of the manufacturer or developer of the component.
          example: TECO
        modelVersion:
          type: string
          maxLength: 15
          description: The model of any hardware component or the version number of the software component.
          example: 43I
        serialNumber:
          type: string
          maxLength: 20
          description: Serial number of the component.
          example: '631819420'
        hgConverterIndicator:
          type: number
          description: For an Hg component, indicates whether the analyzer has a converter.
          example: '1'
        id:
          type: string
          description: Unique identifier of a monitoring component record.
          example: CAMD-646D15E327E1480D814D48286DA7F073
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        analyzerRangeData:
          type: array
          items:
            $ref: '#/components/schemas/AnalyzerRangeDTO'
          example:
          - string
      required:
      - componentId
      - componentTypeCode
      - sampleAcquisitionMethodCode
      - basisCode
      - manufacturer
      - modelVersion
      - serialNumber
      - hgConverterIndicator
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - analyzerRangeData
    SystemFuelFlowDTO:
      type: object
      properties:
        maximumFuelFlowRate:
          type: number
          description: Maximum fuel flow rate.
          example: 30667
        systemFuelFlowUOMCode:
          type: string
          description: Code used to identify the fuel flow units of measure.
          example: HSCF
        maximumFuelFlowRateSourceCode:
          type: string
          description: Code used to identify the source of maximum fuel flow.
          example: URV
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2010-08-01'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 12
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective or hour in which activity ended. This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a system fuel flow record.
          example: WS150071-0C5A8F50F7F24DB8B73E65C18C2063E3
        monitoringSystemRecordId:
          type: string
          description: Unique identifier of a monitoring system record.
          example: WS150071-1BCDEDC4D2944376ACA55FCABE9D60A1
        fuelCode:
          type: string
          description: The type of fuel measured by the system.
          example: PNG
        systemTypeCode:
          type: string
          description: Code used to identify the type (parameter) of the system.
          example: GAS
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2010-09-01'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - maximumFuelFlowRate
      - systemFuelFlowUOMCode
      - maximumFuelFlowRateSourceCode
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - monitoringSystemRecordId
      - fuelCode
      - systemTypeCode
      - userId
      - addDate
      - updateDate
      - active
    MonitorPlanCommentDTO:
      type: object
      properties:
        monitoringPlanComment:
          type: string
          minLength: 1
          maxLength: 4000
          description: Comment on a monitoring plan
          example: DAHS was updated for GT-1 on 11/10/2016 by a previous owner, but the component ID was not updated on the gas system. This was corrected on 9/8/2020.
        beginDate:
          format: date-time
          type: string
          description: Date and time in which an activity started or ended.
          example: '2020-09-28'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring plan comment record.
          example: V-APPWORK--66020554D3C844E78730052AC3808151
        planId:
          type: string
          description: Unique identifier of a monitoring plan record.
          example: MDC-2483BA898490441B97B7D7CFB1BE6D9A
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2020-10-28'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2020-10-28'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - monitoringPlanComment
      - beginDate
      - endDate
      - id
      - planId
      - userId
      - addDate
      - updateDate
      - active
    MonitorSystemDTO:
      type: object
      properties:
        monitoringSystemId:
          type: string
          description: The three digit code used by the source to identify the monitoring system.
          example: C42
        systemTypeCode:
          type: string
          description: Code used to identify the type (parameter) of the system.
          example: FLOW
        systemDesignationCode:
          type: string
          description: Code used to indicate designation of monitoring system as primary, backup etc.
          example: P
        fuelCode:
          type: string
          description: Code used to identify the type of fuel.
          example: NFS
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2007-11-28'
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        beginHour:
          type: number
          description: Hour in which information became effective or activity started.
          example: 17
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring system record.
          example: CAMD-4B0DC37051224A7AA9D8CA1E5BE6B4D4
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
        monitoringSystemComponentData:
          type: array
          items:
            $ref: '#/components/schemas/SystemComponentDTO'
          example:
          - string
        monitoringSystemFuelFlowData:
          type: array
          items:
            $ref: '#/components/schemas/SystemFuelFlowDTO'
          example:
          - string
      required:
      - monitoringSystemId
      - systemTypeCode
      - systemDesignationCode
      - fuelCode
      - beginDate
      - endDate
      - beginHour
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
      - monitoringSystemComponentData
      - monitoringSystemFuelFlowData
    UnitCapacityDTO:
      type: object
      properties:
        maximumHourlyHeatInputCapacity:
          type: number
          description: The design heat input capacity (in mmBtu/hr) for the unit or the highest hourly heat input rate observed in the past five years, whichever is greater.
          example: 2322.1
        beginDate:
          format: date-time
          type: string
          description: Date on which a relationship or an activity began.
          example: '2009-01-01'
        endDate:
          format: date-time
          type: string
          description: Date on which a relationship or an activity ended. This value will be null for active records.
          example: null
        id:
          type: string
          description: Identity key for UNIT_CAPACITY table.
          example: '50233'
        unitId:
          type: number
          description: Identity key for UNIT table.
          example: '4705'
        commercialOperationDate:
          format: date-time
          type: string
          description: The date a unit began, or will begin to generate electricity for sale, including the sale of test generation. It is the first date that a unit serves a generator and produces electricity when connected to the grid, even if the owners are not compensated for that electricity.
          example: '1977-04-01'
        date:
          format: date-time
          type: string
          description: Date on which activity occurred.
          example: '2019-01-01'
        boilerTurbineBeginDate:
          format: date-time
          type: string
          description: Date on which monitoring began for a boiler or turbine unit.
          example: '2009-01-01'
        boilerTurbineEndDate:
          format: date-time
          type: string
          description: Date on which monitoring ended for a boiler or turbine unit.
          example: '2009-01-01'
        userId:
          type: string
          description: The user name of the person or process that created the record if the Update Date is empty.  Otherwise this is the user name of the person or process that made the last update.
          example: abcde
        addDate:
          type: string
          description: Date the record was created.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date of the last record update.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
        boilerTurbineType:
          type: string
          example: string
      required:
      - maximumHourlyHeatInputCapacity
      - beginDate
      - endDate
      - id
      - unitId
      - commercialOperationDate
      - date
      - boilerTurbineBeginDate
      - boilerTurbineEndDate
      - userId
      - addDate
      - updateDate
      - active
      - boilerTurbineType
    UnitFuelDTO:
      type: object
      properties:
        fuelCode:
          type: string
          description: The type of fuel which a UNIT is capable or will be capable of combusting.
          example: C
        indicatorCode:
          type: string
          description: Code that indicates fuel or control type.
          example: P
        ozoneSeasonIndicator:
          type: number
          description: Indicator that FUEL is used during ozone season.
          example: '0'
        demGCV:
          type: string
          description: Demonstration method to qualify for monthly GCV fuel sampling.
          example: GGC
        demSO2:
          type: string
          description: Demonstration method to qualify for daily fuel sampling for percent sulfur.
          example: SGC
        beginDate:
          format: date-time
          type: string
          description: Date on which a relationship or an activity began.
          example: '1995-01-01'
        endDate:
          format: date-time
          type: string
          description: Date on which a relationship or an activity ended.
          example: '2015-03-30'
        id:
          type: string
          description: Identity key for UNIT_FUEL table.
          example: EXPCH0876-C97319A3E96540BF92077C58DB9E2A17
        unitId:
          type: number
          description: Identity key for UNIT table.
          example: '91233'
        actualOrProjectCode:
          type: string
          description: Indicator of whether the begin date for the fuel type is an actual date or a projected date.
          example: ''
        sulfurContent:
          type: number
          description: The percent sulfur content of the fuel, by weight.
          example: ''
        userId:
          type: string
          description: The user name of the person or process that created the record if the Update Date is empty.  Otherwise this is the user name of the person or process that made the last update.
          example: abcde
        addDate:
          type: string
          description: Date the record was created.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date of the last record update.
          example: '2015-04-16'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - fuelCode
      - indicatorCode
      - ozoneSeasonIndicator
      - demGCV
      - demSO2
      - beginDate
      - endDate
      - id
      - unitId
      - actualOrProjectCode
      - sulfurContent
      - userId
      - addDate
      - updateDate
      - active
    MonitorSpanDTO:
      type: object
      properties:
        componentTypeCode:
          type: string
          description: Code used to indicate the component type.
          example: SO2
        spanScaleCode:
          type: string
          description: Code used to identify the span scale.
          example: H
        spanMethodCode:
          type: string
          description: Code used to identify the method used to calculate MPC/MEC/MPF.
          example: HD
        mecValue:
          type: number
          description: The Maximum Expected Concentration (MEC) value reported in the SO2 and NOx span records.
          example: 156.9
        mpcValue:
          type: number
          description: The Maximum Potential Concentration (MPC) value reported in the high scale record for NOx, SO2, or CO2.
          example: 177.2
        mpfValue:
          type: number
          description: For parameter FLOW, report the Maximum Potential Flow (MPF) value for the monitoring location in (scfh) on a wet basis.
          example: 8563000
        spanValue:
          type: number
          description: The Span Value determined according to the requirements of Part 75 or (if applicable) 40 CFR Part 63, Subpart UUUUU.
          example: 200
        fullScaleRange:
          type: number
          description: Full scale range in units of daily calibration for SO2, NOx, CO2, O2, HCl, and flow rate, must be greater than or equal to the span value.
          example: 200
        spanUnitsOfMeasureCode:
          type: string
          description: Code used to identify the calibration units of measure.
          example: PPM
        scaleTransitionPoint:
          type: number
          description: If a dual range analyzer is installed for NOx, SO2 or CO2 (see ANALYZER RANGE DATA), report the concentration value at which the DAHS switches from recording on the normal range to recording on the secondary range (usually low to high). Report this value in both the low and high scale records. Scale transition point is not reported for FLOW, HCl, and Hg span.
          example: 200
        defaultHighRange:
          type: number
          description: The default high range value must be 200 percent of the maximum potential concentration, only reported if the high scale record for the parameter.
          example: null
        flowSpanValue:
          type: number
          description: The product of the MPF and a factor no less than 1.00 and no greater than 1.25. Flow rate span value in scfh.
          example: null
        flowFullScaleRange:
          type: number
          description: The actual full-scale range value expressed in units of scfh for the parameter FLOW, must be greater than or equal to the flow rate span value
          example: null
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2018-05-17'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 14
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring span record.
          example: MRHODES16-A5DBB8DF4F1D4D3A95AD2553008EB554
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userid:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - componentTypeCode
      - spanScaleCode
      - spanMethodCode
      - mecValue
      - mpcValue
      - mpfValue
      - spanValue
      - fullScaleRange
      - spanUnitsOfMeasureCode
      - scaleTransitionPoint
      - defaultHighRange
      - flowSpanValue
      - flowFullScaleRange
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userid
      - addDate
      - updateDate
      - active
    MonitorLoadDTO:
      type: object
      properties:
        maximumLoadValue:
          type: number
          description: Maximum hourly gross load associated with the unit, stack, or pipe at full capacity.
          example: 353
        maximumLoadUnitsOfMeasureCode:
          type: string
          description: Code used to identify the units of measure for maximum load value
          example: MW
        lowerOperationBoundary:
          type: number
          description: Lower boundary of range of operation.
          example: 145
        upperOperationBoundary:
          type: number
          description: Upper boundary of range of operation.
          example: 301
        normalLevelCode:
          type: string
          description: Code used to identify the normal load or operating level.
          example: L
        secondLevelCode:
          type: string
          description: Code used to identify the second most frequently used load or operating level.
          example: M
        secondNormalIndicator:
          type: number
          description: Used to indicate the reporting of an additional normal load or a second operating level.
          example: '1'
        loadAnalysisDate:
          format: date-time
          type: string
          description: The date in which load analysis was performed.  This date only applies to CEM and Appendix D locations.
          example: '2018-09-31'
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2018-09-31'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 23
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a monitoring load record.
          example: MRHODES16-A1EAFB506CA8442D843275B667DD3C53
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2018-10-12'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2018-10-12'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - maximumLoadValue
      - maximumLoadUnitsOfMeasureCode
      - lowerOperationBoundary
      - upperOperationBoundary
      - normalLevelCode
      - secondLevelCode
      - secondNormalIndicator
      - loadAnalysisDate
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
    SystemComponentDTO:
      type: object
      properties:
        componentId:
          type: string
          description: The three digit code assigned by the source to identify the component.
          example: '044'
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2008-12-31'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 23
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective.  This date will be null for active records.
          example: null
        endHour:
          type: number
          description: Last hour in which information was effective.  This value will be null for active records.
          example: null
        id:
          type: string
          description: Unique identifier of a Monitoring System Component record.
          example: MELISSARHO-3F31E53DE9B14764936BFB0AC7225847
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        monitoringSystemRecordId:
          type: string
          description: Unique identifier of a monitoring system record.
          example: CAMD-4B0DC37051224A7AA9D8CA1E5BE6B4D4
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2009-02-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2009-02-20'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - componentId
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - monitoringSystemRecordId
      - userId
      - addDate
      - updateDate
      - active
    PCTQualificationDTO:
      type: object
      properties:
        qualificationYear:
          type: number
          description: The calendar year during which activity occurred.
          example: 2020
        averagePercentValue:
          type: number
          description: The average percent capacity or heat input usage.
          example: 100
        yr1QualificationDataYear:
          type: number
          description: The first year corresponding to the qualification data.
          example: 2018
        yr1QualificationDataTypeCode:
          type: string
          description: Code used to identify the type qualification in the first year.
          example: A
        yr1PercentageValue:
          type: number
          description: The percent capacity or heat input usage in the first year.
          example: 100
        yr2QualificationDataYear:
          type: number
          description: The second year corresponding to the qualification data.
          example: 2019
        yr2QualificationDataTypeCode:
          type: string
          description: Code used to identify the type qualification in the second year.
          example: A
        yr2PercentageValue:
          type: number
          description: The percent capacity or heat input usage in the second year.
          example: 100
        yr3QualificationDataYear:
          type: number
          description: The third year corresponding to the qualification data.
          example: 2020
        yr3QualificationDataTypeCode:
          type: string
          description: Code used to indicate type of data for year (actual or projected) used to determine peaking or gas-fired qualification.
          example: A
        yr3PercentageValue:
          type: number
          description: The percent capacity or heat input usage in the third year.
          example: 100
        id:
          type: string
          description: Unique identifier of a monitoring qualification percentage record.
          example: 02227-BSGR-56EB0D4D400642A4860D6402698BBE16
        qualificationId:
          type: string
          description: Unique identifier of a monitoring qualification record.
          example: 02022-614W-608B84AEDB8148C7B3935EE935AB835F
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2021-04-01'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2021-04-01'
      required:
      - qualificationYear
      - averagePercentValue
      - yr1QualificationDataYear
      - yr1QualificationDataTypeCode
      - yr1PercentageValue
      - yr2QualificationDataYear
      - yr2QualificationDataTypeCode
      - yr2PercentageValue
      - yr3QualificationDataYear
      - yr3QualificationDataTypeCode
      - yr3PercentageValue
      - id
      - qualificationId
      - userId
      - addDate
      - updateDate
    MatsMethodDTO:
      type: object
      properties:
        supplementalMATSParameterCode:
          type: string
          description: Code used to identify the MATS parameter.
          example: QST
        supplementalMATSMonitoringMethodCode:
          type: string
          description: Code used to identify the MATS compliance methodology.
          example: TNHGM
        beginDate:
          format: date-time
          type: string
          description: Date on which information became effective or activity started.
          example: '2016-04-28'
        beginHour:
          type: number
          description: Hour in which information became effective.
          example: 1
        endDate:
          format: date-time
          type: string
          description: Last date in which information was effective. This date will be null for active records.
          example: '2020-04-28'
        endHour:
          type: number
          description: Last hour in which information was effective. This value will be null for active records.
          example: 23
        id:
          type: string
          description: Unique identifier of a MATS compliance method record.
          example: MELISSARHO-FD768B60E4D343158F7AD52EFD704D0E
        locationId:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5770'
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2016-02-23'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2016-02-23'
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
      required:
      - supplementalMATSParameterCode
      - supplementalMATSMonitoringMethodCode
      - beginDate
      - beginHour
      - endDate
      - endHour
      - id
      - locationId
      - userId
      - addDate
      - updateDate
      - active
    MonitorLocationDTO:
      type: object
      properties:
        unitId:
          type: string
          maxLength: 6
          description: Unique identifier of a unit record which is generated by the EPA Host System. This value will be null if the record contains stack configuration.
          example: null
        stackPipeId:
          type: string
          description: Unique identifier of a stack or pipe record.
          example: CS0AAN
        activeDate:
          format: date-time
          type: string
          description: The date that emissions first went through the stack or the effective date for data reporting.
          example: '1995-01-01'
        retireDate:
          format: date-time
          type: string
          description: The actual date that the stack or pipe was last used for emissions measurement or estimation purposes.
          example: '2015-08-24'
        nonLoadBasedIndicator:
          type: number
          description: Used to indicate whether the unit is classified as a non-load based unit.
          example: '1'
        id:
          type: string
          description: Unique identifier of a monitoring location record.
          example: '5'
        unitRecordId:
          type: number
          description: Unique identifier of a unit record which is generated by the EPA Host System.
          example: '3'
        stackPipeRecordId:
          type: string
          description: Unique identifier of a stack or pipe record.
          example: MDC-CCB8D6D0D4E34D24A99C01DCD14078DF
        name:
          type: string
          description: Character codes source assigned to identify a stack, pipe and/or unit.
          example: CS0AAN
        type:
          type: string
          description: Configuration type, unit or stack
          example: stack
        active:
          type: boolean
          description: Flag for active monitor location record
          example: true
        monitoringLocationAttribData:
          type: array
          items:
            $ref: '#/components/schemas/MonitorAttributeDTO'
          example:
          - string
        unitCapacityData:
          type: array
          items:
            $ref: '#/components/schemas/UnitCapacityDTO'
          example:
          - Raleigh
        unitControlData:
          type: array
          items:
            $ref: '#/components/schemas/UnitControlDTO'
          example:
          - string
        unitFuelData:
          type: array
          items:
            $ref: '#/components/schemas/UnitFuelDTO'
          example:
          - string
        monitoringMethodData:
          type: array
          items:
            $ref: '#/components/schemas/MonitorMethodDTO'
          example:
          - string
        supplementalMATSMonitoringMethodData:
          type: array
          items:
            $ref: '#/components/schemas/MatsMethodDTO'
          example:
          - string
        monitoringFormulaData:
          type: array
          items:
            $ref: '#/components/schemas/MonitorFormulaDTO'
          example:
          - string
        monitoringDefaultData:
          type: array
          items:
            $ref: '#/components/schemas/MonitorDefaultDTO'
          example:
          - string
        monitoringSpanData:
          type: array
          items:
            $ref: '#/components/schemas/MonitorSpanDTO'
          example:
          - string
        rectangularDuctWAFData:
          type: array
          items:
            $ref: '#/components/schemas/DuctWafDTO'
          example:
          - string
        monitoringLoadData:
          type: array
          items:
            $ref: '#/components/schemas/MonitorLoadDTO'
          example:
          - string
        componentData:
          type: array
          items:
            $ref: '#/components/schemas/ComponentDTO'
          example:
          - string
        monitoringSystemData:
          type: array
          items:
            $ref: '#/components/schemas/MonitorSystemDTO'
          example:
          - string
        monitoringQualificationData:
          type: array
          items:
            $ref: '#/components/schemas/MonitorQualificationDTO'
          example:
          - string
      required:
      - unitId
      - stackPipeId
      - nonLoadBasedIndicator
      - id
      - unitRecordId
      - stackPipeRecordId
      - name
      - type
      - active
      - monitoringLocationAttribData
      - unitCapacityData
      - unitControlData
      - unitFuelData
      - monitoringMethodData
      - supplementalMATSMonitoringMethodData
      - monitoringFormulaData
      - monitoringDefaultData
      - monitoringSpanData
      - rectangularDuctWAFData
      - monitoringLoadData
      - componentData
      - monitoringSystemData
      - monitoringQualificationData
    LMEQualificationDTO:
      type: object
      properties:
        qualificationDataYear:
          type: number
          description: Year corresponding to the qualification data.
          example: '2015'
        operatingHours:
          type: number
          description: Annual number of operating hours used to determine qualification.
          example: 105
        so2Tons:
          type: number
          description: Annual SO2 value used to determine qualification.
          example: 0.9
        noxTons:
          type: number
          description: Annual NOX emissions to determine qualification.
          example: 6.4
        id:
          type: string
          description: Unique identifier of a monitoring qualification LME record.
          example: NJCHQLAPA3-C89F6E1CE9D447A298B7D5E428ADD1AC
        qualificationId:
          type: string
          description: Unique identifier of a monitoring qualification record.
          example: NJCHQLAPA3-82CD1A0A9D2A48BFB5203F82D390183E
        userId:
          type: string
          description: User account or source of data that added or updated record.
          example: abcde
        addDate:
          type: string
          description: Date and time in which record was added.
          example: '2015-07-20'
        updateDate:
          type: string
          description: Date and time in which record was last updated.
          example: '2015-07-20'
      required:
      - qualificationDataYear
      - operatingHours
      - so2Tons
      - noxTons
      - id
      - qualificationId
      - userId
      - addDate
      - updateDate
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
