openapi: 3.2.0
info:
  title: Epa Allowance Compliance API
  contact: {}
  version: '1.0'
  description: 'Operations tagged Allowance Compliance across 2 of this provider''s published API definitions: cam-account-openapi.json, cam-streaming-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.epa.gov/easey
tags:
- name: Allowance Compliance
paths:
  /account-mgmt/allowance-compliance:
    get:
      operationId: AllowanceComplianceController_getAllowanceCompliance
      parameters:
      - name: stateCode
        required: false
        in: query
        description: Two letter abbreviation for the State.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AL
            - AK
            - AS
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FM
            - FL
            - GA
            - GU
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MH
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - MP
            - OH
            - OK
            - OR
            - PW
            - PA
            - PR
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VI
            - VA
            - WA
            - WV
            - WI
            - WY
        example:
        - AL
      - name: facilityId
        required: false
        in: query
        description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 0.0
      - name: ownerOperator
        required: false
        in: query
        description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: programCodeInfo
        required: false
        in: query
        description: Statutory or regulatory based options for tracking and reducing air pollution emissions.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - ARP
            - CAIRNOX
            - CAIROS
            - CAIRSO2
            - CSNOX
            - CSNOXOS
            - CSOSG1
            - CSOSG2
            - CSOSG2E
            - CSOSG3
            - CSSO2G1
            - CSSO2G2
            - NBP
            - OTC
            - TXSO2
        example:
        - ARP
      - name: year
        required: false
        in: query
        description: The calendar year during which activity occurred.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 2024
      - name: page
        required: true
        in: query
        description: Page number of data being requested.
        schema:
          type: number
        example: 0.0
      - name: perPage
        required: true
        in: query
        description: Number of results per page.
        schema:
          type: number
        example: 0.0
      responses:
        '200':
          description: Retrieves Allowance Compliance Data per filter criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AllowanceComplianceDTO'
              examples:
                AllowanceComplianceController_getAllowanceCompliance200Example:
                  summary: Default AllowanceComplianceController_getAllowanceCompliance 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
            text/csv:
              schema:
                type: string
                example: Program Code,Year,Account Number,Account Name,Facility Name,Facility ID,Units Affected,Compliance Year Allowances Allocated,Banked Allowances,Current Held,Total Allowances Held in Account at Trading Deadline,Emissions (short tons),Other Deductions,Total Required Deductions,Current Deductions,Deduction 1 to 1,Deduction 2 to 1,Total Allowances Deducted,Allowances Carried Over,Excess Emissions (short tons),Owner/Operator,State
              examples:
                AllowanceComplianceController_getAllowanceCompliance200Example:
                  summary: Default AllowanceComplianceController_getAllowanceCompliance 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Allowance Compliance
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.epa.gov/easey
  /account-mgmt/allowance-compliance/attributes/applicable:
    get:
      operationId: AllowanceComplianceController_getAllApplicableAllowanceComplianceAttributes
      parameters: []
      responses:
        '200':
          description: Retrieved All Applicable Allowance Compliance Attributes
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicableAllowanceComplianceAttributesDTO'
              examples:
                AllowanceComplianceController_getAllApplicableAllowanceComplianceAttributes200Example:
                  summary: Default AllowanceComplianceController_getAllApplicableAllowanceComplianceAttributes 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Allowance Compliance
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.epa.gov/easey
  /account-mgmt/allowance-compliance/owner-operators:
    get:
      operationId: AllowanceComplianceController_getAllOwnerOperators
      parameters: []
      responses:
        '200':
          description: Retrieved All Valid Owner Operators
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/OwnerOperatorsDTO'
              examples:
                AllowanceComplianceController_getAllOwnerOperators200Example:
                  summary: Default AllowanceComplianceController_getAllOwnerOperators 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Allowance Compliance
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.epa.gov/easey
  /streaming-services/allowance-compliance:
    get:
      operationId: AllowanceComplianceController_streamAllowanceCompliance
      parameters:
      - name: stateCode
        required: false
        in: query
        description: Two letter abbreviation for the State.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AL
            - AK
            - AS
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FM
            - FL
            - GA
            - GU
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MH
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - MP
            - OH
            - OK
            - OR
            - PW
            - PA
            - PR
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VI
            - VA
            - WA
            - WV
            - WI
            - WY
        example:
        - AL
      - name: facilityId
        required: false
        in: query
        description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 0.0
      - name: ownerOperator
        required: false
        in: query
        description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
        example:
        - string
      - name: programCodeInfo
        required: false
        in: query
        description: Statutory or regulatory based options for tracking and reducing air pollution emissions.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - ARP
            - CAIRNOX
            - CAIROS
            - CAIRSO2
            - CSNOX
            - CSNOXOS
            - CSOSG1
            - CSOSG2
            - CSOSG2E
            - CSOSG3
            - CSSO2G1
            - CSSO2G2
            - NBP
            - OTC
            - TXSO2
        example:
        - ARP
      - name: year
        required: false
        in: query
        description: The calendar year during which activity occurred.
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: number
        example:
        - 2024
      - name: exclude
        required: false
        in: query
        description: Selected items will be excluded from the response
        style: pipeDelimited
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - allocated
            - bankedHeld
            - currentDeductions
            - currentHeld
            - deductOneToOne
            - deductTwoToOne
            - facilityId
            - facilityName
            - ownerOperator
            - totalAllowancesDeducted
            - totalRequiredDeductions
            - unitsAffected
            - unit_id
        example:
        - allocated
      responses:
        '200':
          description: Streams Allowance Compliance Data per filter criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowanceComplianceDTO'
              examples:
                AllowanceComplianceController_streamAllowanceCompliance200Example:
                  summary: Default AllowanceComplianceController_streamAllowanceCompliance 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
            text/csv:
              schema:
                type: string
                example: Program Code,Year,Account Number,Account Name,Facility Name,Facility ID,Units Affected,Compliance Year Allowances Allocated,Banked Allowances,Current Held,Total Allowances Held in Account at Trading Deadline,Emissions (short tons),Other Deductions,Total Required Deductions,Current Deductions,Deduction 1 to 1,Deduction 2 to 1,Total Allowances Deducted,Allowances Carried Over,Excess Emissions (short tons),Owner/Operator,State
              examples:
                AllowanceComplianceController_streamAllowanceCompliance200Example:
                  summary: Default AllowanceComplianceController_streamAllowanceCompliance 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '400':
          description: Invalid Request
        '404':
          description: Resource Not Found
      security:
      - APIKey: []
      tags:
      - Allowance Compliance
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.epa.gov/easey
components:
  schemas:
    OwnerOperatorsDTO:
      type: object
      properties:
        ownerOperator:
          type: string
          description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
          example: Alabama Power Company
        ownType:
          type: string
          description: Owner/Operator type. Either Owner, Operator, or Both.
          example: OPR
      required:
      - ownerOperator
      - ownType
    ApplicableAllowanceComplianceAttributesDTO:
      type: object
      properties:
        year:
          type: number
          description: The calendar year during which activity occurred.
          example: 2020
        facilityId:
          type: number
          description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
          example: 3
        stateCode:
          type: string
          description: Two letter abbreviation for the State.
          example: AK
        ownerOperator:
          type: string
          description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
          example: Alabama Power Company
        programCode:
          type: string
          description: Code for statutory or regulatory based options for tracking and reducing air pollution emissions.
          example: CAIRNOX
      required:
      - stateCode
      - ownerOperator
      - programCode
    AllowanceComplianceDTO:
      type: object
      properties:
        programCodeInfo:
          type: string
          description: Statutory or regulatory based options for tracking and reducing air pollution emissions.
          example: ARP,CSNOX,CSSO2G2,MATS
        year:
          type: number
          description: The calendar year during which activity occurred.
          example: 2020
        accountNumber:
          type: string
          description: The unique identification number of an account.
          example: 000003FACLTY
        accountName:
          type: string
          description: The name of the account in which allowances are held.
          example: Barry
        facilityName:
          type: string
          description: The name given by the owners and operators to a facility
          example: Barry
        facilityId:
          type: number
          description: The Facility ID code assigned by the Department of Energy's Energy Information Administration. The Energy Information Administration Plant ID code is also referred to as the "ORIS code", "ORISPL code", "Facility ID", or "Facility code", among other names. If a Plant ID code has not been assigned by the Department of Energy's Energy Information Administration, then plant code means a code beginning with "88" assigned by the EPA's Clean Air Markets Division for electronic reporting.
          example: 3
        unitsAffected:
          type: string
          description: unit ID(s) for units at a facility that are affected by a given compliance program.
          example: 31
        allocated:
          type: number
          description: The amount of allowances allocated for the calendar year.
          example: 136
        bankedHeld:
          type: number
          description: The amount of allowances of vintage years up to but not including the current compliance year held in a compliance account. (This is for NBP, OTC)
          example: 0
        currentHeld:
          type: number
          description: The amount of current vintage year allowances held in a compliance account at compliance. (This is for NBP, OTC)
          example: 132
        totalAllowancesHeld:
          type: number
          description: The total amount of allowances held in the account at compliance.
          example: 132
        complianceYearEmissions:
          type: number
          description: The total amount of pollutant in short tons emitted by the source in a control period.
          example: 132
        otherDeductions:
          type: number
          description: The sum of other deductions that may have occurred for the account, including Underutilization, Phase I Extension, Projected Emissions Deduction (for Phase I reports), State Cap Deductions, Deduction of Loaned Allowances, July Confirmation Deduction, and Substitution Control by Contract Deduction.
          example: 0
        totalRequiredDeductions:
          type: number
          description: Sum of Compliance year emissions + Other deductions.
          example: 132
        currentDeductions:
          type: number
          description: The amount of allowances with the current vintage year deducted at compliance. (This is for NBP, OTC)
          example: 132
        deductOneToOne:
          type: number
          description: Banked allowances with a 1 to 1 ratio. (This is for OTC, NBP)
          example: 0
        deductTwoToOne:
          type: number
          description: Banked allowances with a 2 to 1 ratio. (This is for OTC, NBP)
          example: 0
        totalAllowancesDeducted:
          type: number
          description: The total amount of allowances deducted at compliance.
          example: 132
        carriedOver:
          type: number
          description: The amount of allowances remaining in the account following compliance.
          example: 0
        excessEmissions:
          type: number
          description: The amount of pollutant in short tons emitted in excess of the number of allowances held.
          example: 0
        ownerOperator:
          type: string
          description: The name of any company that owns an allowance account or an affected unit.The name of any company that operates an affected unit.
          example: Alabama Power Company (Operator)|Alabama Power Company (Owner)
        stateCode:
          type: string
          description: Two letter abbreviation for the State.
          example: AK
      required:
      - programCodeInfo
      - accountNumber
      - accountName
      - facilityName
      - unitsAffected
      - ownerOperator
      - stateCode
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
x-refined-from:
- cam-account-openapi.json
- cam-streaming-openapi.json
