openapi: 3.2.0
info:
  title: QA Certification Management OpenAPI Specification Appendix E Heat Input From Gas API
  description: QA & Certification management API endpoints for qa test data, qa cert events, and test extension & exemption data
  version: 'v2.0.80 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Appendix E Heat Input From Gas
paths:
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/appendix-e-correlation-test-summaries/{appECorrTestSumId}/appendix-e-correlation-test-runs/{appECorrTestRunId}/appendix-e-heat-input-from-gases
  : get:
      operationId: AppEHeatInputFromGasController_getAppEHeatInputFromGases
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestRunId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves a workspace Appendix E Heat Input From Gas records by Appendix E Correlation Test Run Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppEHeatInputFromGasRecordDTO'
              examples:
                AppEHeatInputFromGasController_getAppEHeatInputFromGases200Example:
                  summary: Default AppEHeatInputFromGasController_getAppEHeatInputFromGases 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Appendix E Heat Input From Gas
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/appendix-e-correlation-test-summaries/{appECorrTestSumId}/appendix-e-correlation-test-runs/{appECorrTestRunId}/appendix-e-heat-input-from-gases/{id}
  : get:
      operationId: AppEHeatInputFromGasController_getAppEHeatInputFromGas
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestRunId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves a workspace Appendix E Heat Input From Gas record by it's Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEHeatInputFromGasRecordDTO'
              examples:
                AppEHeatInputFromGasController_getAppEHeatInputFromGas200Example:
                  summary: Default AppEHeatInputFromGasController_getAppEHeatInputFromGas 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Appendix E Heat Input From Gas
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AppEHeatInputFromGasRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        appECorrTestRunId:
          type: string
          example: '12345'
        calculatedGasHeatInput:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        monitoringSystemId:
          type: string
          example: '12345'
        gasGCV:
          type: number
          example: 0.0
        gasVolume:
          type: number
          example: 0.0
        gasHeatInput:
          type: number
          example: 0.0
      required:
      - id
      - appECorrTestRunId
      - calculatedGasHeatInput
      - userId
      - addDate
      - updateDate
      - monitoringSystemId
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
