openapi: 3.0.3
info:
  title: EPA Air Quality System (AQS) Account Type Codes Appendix E Heat Input From Oil API
  description: 'The Air Quality System (AQS) Data Mart API provides programmatic access to ambient air

    sample data collected by state, local, tribal and federal air pollution control agencies

    from thousands of monitors across the United States. The API exposes monitor metadata,

    raw sample observations, daily/quarterly/annual aggregates, and quality assurance results.

    '
  version: '1.0'
  contact:
    name: AQS Data Mart Support
    email: aqsdatamart@epa.gov
    url: https://aqs.epa.gov/aqsweb/documents/data_api.html
  license:
    name: U.S. Government Work / Public Domain
    url: https://www.usa.gov/government-works
servers:
- url: https://aqs.epa.gov/data/api
  description: Production AQS Data Mart API
security:
- emailKey: []
tags:
- name: Appendix E Heat Input From Oil
paths:
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/appendix-e-correlation-test-summaries/{appECorrTestSumId}/appendix-e-correlation-test-runs/{appECorrTestRunId}/appendix-e-heat-input-from-oils
  : get:
      operationId: AppEHeatInputFromOilController_getAppEHeatInputFromOilRecords
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestRunId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Appendix E Heat Input from Oil records by Appendix E Correlation Test Run Id
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppEHeatInputFromOilRecordDTO'
              examples:
                AppEHeatInputFromOilController_getAppEHeatInputFromOilRecords200Example:
                  summary: Default AppEHeatInputFromOilController_getAppEHeatInputFromOilRecords 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Appendix E Heat Input From Oil
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /qa-certification-mgmt/locations/{locId}/test-summary/{testSumId}/appendix-e-correlation-test-summaries/{appECorrTestSumId}/appendix-e-correlation-test-runs/{appECorrTestRunId}/appendix-e-heat-input-from-oils/{id}
  : get:
      operationId: AppEHeatInputFromOilController_getAppEHeatInputFromOilRecord
      parameters:
      - name: locId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: testSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestSumId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: appECorrTestRunId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      - name: id
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves official Appendix E Heat Input from Oil record by its Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEHeatInputFromOilRecordDTO'
              examples:
                AppEHeatInputFromOilController_getAppEHeatInputFromOilRecord200Example:
                  summary: Default AppEHeatInputFromOilController_getAppEHeatInputFromOilRecord 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Appendix E Heat Input From Oil
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AppEHeatInputFromOilRecordDTO:
      type: object
      properties:
        id:
          type: string
          example: '12345'
        appECorrTestRunId:
          type: string
          example: '12345'
        calculatedOilMass:
          type: number
          example: 35.5
        calculatedOilHeatInput:
          type: number
          example: 35.5
        userId:
          type: string
          example: '12345'
        addDate:
          type: string
          example: string
        updateDate:
          type: string
          example: string
        monitoringSystemId:
          type: string
          example: '12345'
        oilMass:
          type: number
          example: 0.0
        oilGCV:
          type: number
          example: 0.0
        oilGCVUnitsOfMeasureCode:
          type: string
          example: string
        oilHeatInput:
          type: number
          example: 0.0
        oilVolume:
          type: number
          example: 0.0
        oilVolumeUnitsOfMeasureCode:
          type: string
          example: string
        oilDensity:
          type: number
          example: 0.0
        oilDensityUnitsOfMeasureCode:
          type: string
          example: string
      required:
      - id
      - appECorrTestRunId
      - calculatedOilMass
      - calculatedOilHeatInput
      - userId
      - addDate
      - updateDate
      - monitoringSystemId
  securitySchemes:
    emailKey:
      type: apiKey
      in: query
      name: key
      description: 'AQS requires `email` and `key` query parameters on every request. Register at

        `/signup?email=YOUR_EMAIL` to receive a key by email.

        '
