openapi: 3.2.0
info:
  title: Monitor Plan Management OpenAPI Specification Reporting Frequencies API
  description: Monitor Plan management API endpoints for all monitor plan data & operations
  version: 'v2.0.118 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Reporting Frequencies
paths:
  /monitor-plan-mgmt/plans/{planId}/reporting-frequencies:
    get:
      operationId: MonitorPlanReportingFrequencyController_getReportingFreqs
      parameters:
      - name: planId
        required: true
        in: path
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: Retrieves reporting frequency records for a specific plan ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReportingFreqDTO'
              examples:
                MonitorPlanReportingFrequencyController_getReportingFreqs200Example:
                  summary: Default MonitorPlanReportingFrequencyController_getReportingFreqs 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      tags:
      - Reporting Frequencies
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ReportingFreqDTO:
      type: object
      properties:
        reportFrequencyCode:
          type: string
          description: The code representing the frequency at which the report is generated.
          example: QTR
        monitoringPlanLocations:
          type: string
          description: The locations covered under the monitoring plan.
          example: Site001, Site002
        beginQuarter:
          type: string
          description: The quarter in which reporting starts.
          example: 2022 QTR1
        endQuarter:
          type: string
          description: The quarter in which reporting ends, if applicable.
          example: 2024 QTR1
        id:
          type: string
          description: The unique identifier for the reporting frequency record.
          example: '54321'
        active:
          type: boolean
          description: Indicates whether the reporting frequency record is active or not.
          example: true
      required:
      - reportFrequencyCode
      - monitoringPlanLocations
      - beginQuarter
      - endQuarter
      - id
      - active
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
