openapi: 3.2.0
info:
  title: Master Data Management OpenAPI Specification Reporting Periods API
  description: Provides reference codes, descriptions, & relationship data for CAMD applications
  version: 'v2.0.106 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Reporting Periods
paths:
  /master-data-mgmt/reporting-periods:
    get:
      description: Returns a list of Reporting Periods.
      operationId: ReportingPeriodController_getReportingPeriods
      parameters:
      - name: export
        required: false
        in: query
        schema:
          type:
          - boolean
          - 'null'
        example: true
      responses:
        '200':
          description: Data retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReportingPeriodDTO'
              examples:
                ReportingPeriodController_getReportingPeriods200Example:
                  summary: Default ReportingPeriodController_getReportingPeriods 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      security:
      - APIKey: []
      summary: ''
      tags:
      - Reporting Periods
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ReportingPeriodDTO:
      type: object
      properties:
        id:
          type: number
          example: 0.0
        calendarYear:
          type: number
          example: 2024
        quarter:
          type: number
          example: 0.0
        beginDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        endDate:
          format: date-time
          type: string
          example: '2024-01-15T12:00:00Z'
        periodDescription:
          type: string
          example: string
        periodAbbreviation:
          type: string
          example: string
        archiveInd:
          type: number
          example: 0.0
      required:
      - id
      - calendarYear
      - quarter
      - beginDate
      - endDate
      - periodDescription
      - periodAbbreviation
      - archiveInd
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
