openapi: 3.2.0
info:
  title: CAMD Administrative & General Services OpenAPI Specification Support API
  description: Provides administrative & general services for CAMD applications.
  version: 'v2.0.146 published: Thu Mar 26 2026'
  contact: {}
servers:
- url: https://api.epa.gov/easey
tags:
- name: Support
paths:
  /camd-services/support/email/emailRecipientList:
    post:
      description: Retrieves a list of email recipients based on email type and plant IDs.
      operationId: MailController_getEmailRecipientList
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailRecipientListRequestDto'
            examples:
              MailController_getEmailRecipientListRequestExample:
                summary: Default MailController_getEmailRecipientList request
                x-microcks-default: true
                value: {}
      responses:
        '200':
          description: Email recipient list retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailRecipientListResponseDto'
              examples:
                MailController_getEmailRecipientList200Example:
                  summary: Default MailController_getEmailRecipientList 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailRecipientListResponseDto'
              examples:
                MailController_getEmailRecipientList201Example:
                  summary: Default MailController_getEmailRecipientList 201 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
        '500':
          description: ''
      security:
      - ClientToken: []
      - ClientId: []
      - APIKey: []
      summary: ''
      tags:
      - Support
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EmailRecipientListResponseDto:
      type: object
      properties:
        recipients:
          description: List of email recipients
          items:
            type: array
            items:
              type: a
          type: array
          example:
          - - string
        hasError:
          type: boolean
          description: Indicates if an error occurred
          example: false
        errorMessage:
          type: string
          description: Error message if an error occurred
          example: ''
      required:
      - recipients
      - hasError
      - errorMessage
    EmailRecipientListRequestDto:
      type: object
      properties:
        emailType:
          type: string
          description: The type of email
          example: SUBMISSIONREMINDER
        plantIdList:
          description: List of plant IDs
          example:
          - 1
          - 3
          - 5
          type: array
          items:
            type: number
      required:
      - emailType
      - plantIdList
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: x-api-key
      description: API Key required via "x-api-key" request header!
    Token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" token required for data modification operations
    ClientToken:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: Authorization "bearer" client JWT token required for api endpoints
    ClientId:
      type: apiKey
      in: header
      name: x-client-id
      description: ClientId required via "x-client-id" request header
