openapi: 3.2.0
info:
  title: Epa Metadata API
  x-refined-note:
  - x-apisguru-categories differs across the merged source definitions and was not carried
  - x-logo differs across the merged source definitions and was not carried
  - x-origin differs across the merged source definitions and was not carried
  - x-providerName differs across the merged source definitions and was not carried
  - x-serviceName differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Metadata across 7 of this provider''s published API definitions: csb-rebate-openapi.json, echo-air-openapi.json, echo-all-openapi.json, echo-case-openapi.json, echo-cwa-openapi.json, echo-rcra-openapi.json, echo-sdw-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://echodata.epa.gov/echo
tags:
- name: Metadata
paths:
  /metadata:
    get:
      summary: /metadata
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                type: string
              examples:
                get_metadata200Example:
                  summary: Default get_metadata 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    message: Example response
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      tags:
      - Metadata
  /air_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: Clean Air Act Metadata Service
      tags:
      - Metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - $ref: '#/components/parameters/f.callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: Clean Air Act Metadata Service
      tags:
      - Metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
  /echo_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: Combined ECHO Metadata Service
      tags:
      - Metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - $ref: '#/components/parameters/f.callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: Combined ECHO Metadata Service
      tags:
      - Metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
  /case_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_cases endpoint.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/met1'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/met1'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: Enforcement Case Metadata Service
      tags:
      - Metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_cases endpoint.
      parameters:
      - $ref: '#/components/parameters/f.callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/met1'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/met1'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: Enforcement Case Metadata Service
      tags:
      - Metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
  /cwa_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: Clean Water Act (CWA) Metadata Service
      tags:
      - Metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - $ref: '#/components/parameters/f.callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: Clean Water Act (CWA) Metadata Service
      tags:
      - Metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
  /rcra_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: Resource Conservation and Recovery Act (RCRA) Metadata Service
      tags:
      - Metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_qid, get_facility_info and other service endpoints.
      parameters:
      - $ref: '#/components/parameters/f.callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: Resource Conservation and Recovery Act (RCRA) Metadata Service
      tags:
      - Metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
  /sdw_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_systems endpoint.
      parameters:
      - description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
        in: query
        name: output
        required: false
        example: string
        schema:
          type: string
          enum:
          - JSONP
          - JSON
          - XML
      - $ref: '#/components/parameters/q.callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: Safe Drinking Water Act (SDWA) Metadata Service
      tags:
      - Metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_systems endpoint.
      parameters:
      - $ref: '#/components/parameters/f.callback'
      responses:
        '200':
          description: Results are an array of columns/objects.
          content:
            application/json:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
            application/xml:
              schema:
                description: Root Object
                properties:
                  Results:
                    $ref: '#/components/schemas/meta1'
                required:
                - Results
                type: object
                xml:
                  name: Root
      summary: Safe Drinking Water Act (SDWA) Metadata Service
      tags:
      - Metadata
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output:
                  type: string
                  enum:
                  - JSONP
                  - JSON
                  - XML
                  description: "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
    servers:
    - url: https://echodata.epa.gov/echo
components:
  parameters:
    f.callback:
      description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
      in: formData
      name: callback
      required: false
      type: string
    q.callback:
      description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
      in: query
      name: callback
      required: false
      schema:
        type: string
  schemas:
    meta1:
      description: Results Object
      properties:
        Message:
          description: Field to record messages (typically performance-related) about packet processing
          example: Success
          title: Message
          type: string
        ResultColumns:
          items:
            $ref: '#/components/schemas/meta3'
          title: Result Columns
          type: array
          xml:
            name: ResultColumns
            wrapped: true
          example:
          - string
      required:
      - Message
      type: object
    meta3:
      description: Results Column Object
      properties:
        ColumnID:
          title: Column ID
          type: string
          example: '12345'
        ColumnName:
          title: Column Name
          type: string
          example: EPA Facility
        DataLength:
          description: Data length for EPA program database column.
          example: '10'
          title: Data Length
          type: string
        DataType:
          description: Data type for EPA program database column.
          example: NUMBER
          title: Data Type
          type: string
        Description:
          title: Column Description
          type: string
          example: string
        ObjectName:
          description: The JSON name used for the database column.
          example: CaseName
          title: Object Name
          type: string
      required:
      - ColumnName
      - DataType
      - DataLength
      - ColumnID
      - ObjectName
      - Description
      type: object
      xml:
        name: ResultColumn
    met2:
      description: Results Column Object
      properties:
        ColumnID:
          title: Column ID
          type: string
          example: '12345'
        ColumnName:
          title: Column Name
          type: string
          example: EPA Facility
        DataLength:
          description: Data length for EPA program database column.
          example: '10'
          title: Data Length
          type: string
        DataType:
          description: Data type for EPA program database column.
          example: NUMBER
          title: Data Type
          type: string
        Description:
          description: A description of the category of Supplemental Environment Project (SEP) for a settlement.
          title: Description
          type: string
          example: string
        ObjectName:
          description: The JSON name used for the database column.
          example: CaseName
          title: Object Name
          type: string
      required:
      - ColumnName
      - DataType
      - DataLength
      - ColumnID
      - ObjectName
      - Description
      type: object
      xml:
        name: ResultColumn
    met1:
      description: Results Object
      properties:
        Message:
          description: Field to record messages (typically performance-related) about packet processing
          example: Success
          title: Message
          type: string
        ResultColumns:
          items:
            $ref: '#/components/schemas/met2'
          title: Result Columns
          type: array
          xml:
            name: ResultColumns
            wrapped: true
          example:
          - string
      required:
      - Message
      type: object
x-refined-from:
- csb-rebate-openapi.json
- echo-air-openapi.json
- echo-all-openapi.json
- echo-case-openapi.json
- echo-cwa-openapi.json
- echo-rcra-openapi.json
- echo-sdw-openapi.json
